[2018-05-09 19:28] prevent-public-repos[bot] opened #11 "[CRITICAL] Public Repository Created"
Please note that this repository is publicly visible to the internet!

/cc @tarekamin
/cc @admins

[2018-05-10 20:10] theetrain commented on #11
👌

[2018-05-10 20:10] #11 closed

[2018-05-11 14:24] theetrain opened #13 "Docs: add notes on branching"
Come up with a branch convention to avoid conflicts. I propose

`type/#issue_number`
`type/package-name_developer-name`

Where `type` can be: `feat`, `fix`, or `chore`.

When complete, copy these notes to tds-core.

[2018-05-14 13:38] ryanoglesby08 commented on #13
Sure, though I'd say it doesn't matter too much. I don't see this as being a problem yet, or for a long time. I suggest not worrying about this yet, and if it becomes an issue then we address it. We already have commit message formatting, branch naming is pretty irrelevant to the overall process at this point.

I think more important is to keep branches short lived and delete them once the PR is m

[2018-06-04 18:15] Berjesty opened #18 "new: Animated Skeleton Components"
## Description

* Loading experience for users take long time and users are impatient
* The page is blank and users don't get feedback on what is happening in the backend
* Users get frustrated when they click on refresh button and presented with a blank screen
* Spinner use case for loading experience does not fulfill the fundamental need for "waiting" experience for users

## Recommendation

* A

[2018-06-04 18:20] theetrain commented on #13
Not needed at this time.

[2018-06-04 18:20] #13 closed

[2018-06-05 17:17] jesdavpet commented on #18
Just want to follow up on a quick conversation with @Berjesty today, to note for that we decided to strike the animations from the first iteration of this component.

Animation can be added in a subsequent version of the component once we've completed a spike to align on:
1. accessibility concerns with animations (if any)
2. have verified cross-browser compatibility for the animation
3. have done

[2018-06-06 13:26] jackreeves opened #20 "new: Title + text + CTA"
## Problem Statement

As a user i would like to be able to add a title, text and a cta without having to worry about spacing etc

## Recommendation

versions need to include:
- with and without eyebrow + H1, H2, H3
- H2, H3, H4 + body variations
- CTAs: Button, chevron link

## Designs

* Screenshots
* Sketch file

![screen shot 2018-06-06 at 3 24 32 pm](https://user-images.githubusercontent.com/9

[2018-06-06 13:35] jackreeves opened #21 "new: comparison cards"
## Problem Statement

as a customer i would like to clearly see the differences between plans so that i can easily compare benefits

as a user i would like to be able to create comparisons cards consistently and with less effort so that i can get on with more important tasks

## Recommendation

- plans
- products
- with and without checkbox/radio
- with and without images
- minimized view w/ more

[2018-06-06 16:05] jackreeves opened #22 "new: phone/hours lockup"
## Problem Statement

- As a designer i would like to have a consistent way to display phone numbers so that i can save time and effort
- as a customer i would like a consistent way of seeing the phone number and hours so that i can read it at a glance

## Recommendation

Ideal component would show phone number, with or without text in name, hours, time zone, wait time etc

## Designs

None

## Me

[2018-06-06 16:15] jackreeves opened #23 "new: Terms & conditions component"
## Problem Statement

As a customer I need the ability to read the terms and conditions of products, services and pricing so that I may understand with clarity what is included/excluded and my legal obligations.

As a marketer I need the ability to provide specific details for products, services and pricing messages when it cannot be reasonably explained within the marketing copy.

**Requirements*

[2018-06-06 16:58] jackreeves opened #24 "new: wave hero"
## Problem Statement

As a designer i want a consistent wave hero execution because ive done t

## Recommendation

A lockup of wave with display heading

## Designs

![screen shot 2018-06-06 at 6 57 36 pm](https://user-images.githubusercontent.com/9420407/41053336-89714a7e-69bb-11e8-918f-a3b3abeb9a0c.png)

## Meta

* Willing to design solution: No
* Willing to develop solution: No
* Has workaround

[2018-06-06 17:03] jackreeves opened #25 "new: price lockup"
## Problem Statement

As a customer i would like to see the price displayed in a similar format between pages so i can understand what ill paying at a glance

Exists as a story on the TDS core Jira board:
https://telusdigital.atlassian.net/browse/TDS-909

## Recommendation

- text above price w/icon; offer, sale
- text below price; savings, regular price

## Designs

* Screenshots
* Sketch file

#

[2018-06-06 17:06] jackreeves opened #26 "new: in page notification messaging"
## Problem Statement

As a business we sometimes need to notify the user of something important while they are carrying out a task so that they dont make a mistake and/or double confirm.

## Recommendation

None

## Designs

None

## Meta

* Willing to design solution: No
* Willing to develop solution: No
* Has workaround: No
* Do any similar components already exist: Yes
* Does this pattern exist

[2018-06-06 17:15] jackreeves opened #27 "new: hero image + wave"
## Problem Statement

As a designer id like to have a consistent hero image and wave component so that the experience clicking between pages doesn't jump around

## Recommendation

Pick one size for xl,lg,md,sm and codify it

## Designs
not sure if this is right @lucylist ?
![screen shot 2018-06-06 at 7 14 31 pm](https://user-images.githubusercontent.com/9420407/41054160-df4f3f58-69bd-11e8-8ffe-52

[2018-06-06 17:21] jackreeves opened #28 "new: image + H + text + CTA"
## Problem Statement

unknown

## Recommendation

@lucylist ?

## Designs

see https://docs.google.com/spreadsheets/d/1CBAXvPHgEbkbKjM0X-2kYAFNQMpiVg2nfMUDAyCnqe8/edit#gid=0

## Meta

* Willing to design solution: No
* Willing to develop solution: No
* Has workaround: No
* Do any similar components already exist: No
* Does this pattern exist already but isn’t a community component? (include url)
*

[2018-06-06 20:39] DanGenuardi opened #29 "Toggle icon"
## Problem Statement

* We created a new data toggle for the usage page to enable and disable data within their plan.

## Recommendation

* add data toggle icon into the TDS library for future use for any team.

## Designs

* The data toggle is already coded from the Nutella team.
* Screenshots
  Enabled: https://telus.invisionapp.com/d/main#/console/13507983/281885578/preview
  Disabled: https://

[2018-06-07 16:07] jesdavpet commented on #21
Hey @jackreeves would you be able to post the Invision designs for the "comparison card"?
They contain a bunch of useful information, which is missing in the slide deck.

[2018-06-08 15:26] kretzm opened #30 "Colour selector toggle"
## Problem statement

* We've created a colour selector toggle that allows you to pick between a set of colours to perform an action (such as selecting which colour accessory you want to purchase)

## Recommendation

* Add a colour selector toggle using radio buttons for teams to use (specifically mobility phones/accessories as my general usecase)

## Designs

* Screenshots

![screen shot 2018-06-

[2018-06-08 16:15] jackreeves opened #31 "new: Page navigation (sub-nav)"
## Problem Statement

As a designer i would like a tds component that matched the sitebuilder subnav.

As a developer i would like a consistent nav behaviour so that i dont have to recode it

As a customer i would like to have consistency between pages and the menu in the same position.

## Recommendation

Take subnav from sitebuilder that has both icons and without formats. This already has had s

[2018-06-08 16:23] jackreeves opened #32 "new: Colour selector"
## Problem Statement

* As a customer , I would like to see all the colors available clearly so that I can choose the color of my product

## Recommendation

something similar to what we have just standardized. should allow for palette. one color + two color options. e.g. rose gold and white, rose gold and black. ability to select custome color maybe?

Should probably work for product pages and ca

[2018-06-08 16:28] jackreeves opened #33 "new: loop qual"
## Problem Statement

As a customer i would like to enter my address once and not have to do it repeatedly,

as a designer i would like a stock standard way to add address qualification to my pages

as a developer i would like to not have to build this complex item over and over again

## Recommendation

Should not contain buisness logic but the form entry component should be the same design betwe

[2018-06-08 16:29] jackreeves commented on #32
removing because of duplicate

[2018-06-08 16:29] #32 closed

[2018-06-08 16:34] jackreeves opened #34 "new: filters / pilters"
## Problem Statement

As a customer i would like to be able to clcick a filter and toggle between content

as a customer i would like to see what has been filtered so that i can decide to view more or filter more

## Recommendation

Decide if we like pilters at https://www.telus.com/en/bc/mobility/phones?linktype=nav
and solve for this scenario:

![screen shot 2018-06-08 at 6 32 55 pm](https://use

[2018-06-08 16:40] jackreeves opened #35 "new: tabs"
## Problem Statement
We currently have varying styles of tabs, in-page navigation and filtering throughout TELUS.com. I’d like to build on the existing tabs design, which is only to be used as tabs (not filtering, not in-page.) This does not follow UX best practice, so I'd like to correct that.

## Recommendation
Build on the existing tab structure for a better desktop and mobile experience. The a

[2018-06-08 16:52] jackreeves opened #36 "new: product catalogue component"
## Problem Statement

As a customer i would like product catalogues to look and feel the same so that i can easily navigate.

As a customer i would like product catalogue pages to have filtering options so that i can clear the clutter and focus on what i want.

as a customer i would like to be able to sort products in a catalogue so that i can see the most expensive or popular

As a designer i wou

[2018-06-12 22:04] sketchidea opened #46 "TDS colour library for styled components"
## Problem Statement

* As a developer , I would like to have a library of colour variables that I can use as part of styled components, in addition to the sass variables that currently exist.

## Recommendation

* A library of TDS colours that are accessible from within styled component JSX files.

## Designs

* Screenshots
* Sketch file

## Meta

* Willing to design solution: Yes
* Willing to de

[2018-06-13 13:14] theetrain commented on #46
For this suite of JS colour variables, I recommend contributing to the [`@tds/core-colours` package](https://github.com/telus/tds-core/blob/1c583e8b7c6de4606313c5b79d1f4876070e1556/packages/colours/package.json) to export a JS file in addition to its Sass file.

This item is in the TDS core team backlog ([TDS-609](https://telusdigital.atlassian.net/browse/TDS-609)); we welcome contributions.

[2018-06-14 13:14] jackreeves opened #47 "new: quote/testimonial card"
## Problem Statement

as a designer i would like a consistent testimonial/quote component so that i can save time

## Recommendation

Left/right executions needed

## Designs

![screen shot 2018-06-14 at 3 12 01 pm](https://user-images.githubusercontent.com/9420407/41414094-5e01311c-6fe5-11e8-93f1-4f8b81b23a60.png)

SiteBuilder already has this so sketch file should exist with gary chow

## Meta

[2018-06-14 13:20] jackreeves opened #48 "new: Promo/flag/ribbon/special marker"
## Problem Statement

as a customer i would like a clear way of seeing if something is on sale or a special feature or new so that i can focus my attention

as a designer i would like a way for all teams to consistently approach flags so that we can improve user experience

## Acceptance Criteria:

- Ribbon should have margin of 16px above and below.
- Should have inner padding of 8px top and bott

[2018-06-14 13:30] jackreeves opened #49 "new: Accordion step tracker"
## Problem Statement

As a customer i would like to see what part of the check out process i am at without breaking it up over seperate pages.

as a designer i would like a vertical / accordion step tracker

## Recommendation

Worth reading these before we continue with this issue:

https://www.nngroup.com/articles/accordions-complex-content/
https://www.moovweb.com/one-page-checkout/
https://uxpl

[2018-06-14 13:38] jackreeves opened #50 "new: carousel"
## Problem Statement

As a customer i would like a consistent way to use carousels across the site

As a designer i would like an easy way to add carousel to the site

## Recommendation

Would suggest a 12 column and a 6 column carousel
Could include wave
Should either have dot navigarion or left and right arrows
should be swipable for touch navigation
Should work well with text over dark and ligh

[2018-06-14 13:44] jackreeves opened #51 "new: how it works"
## Problem Statement

as a customer i would like to see at a glance how something works

## Recommendation

Vertical column showing 3,4,5 steps. Any more can be distracting and should use a different explanatory format.

## Designs

![screen shot 2018-06-14 at 3 41 52 pm](https://user-images.githubusercontent.com/9420407/41415748-8f693732-6fe9-11e8-97e5-763df20f9743.png)
![screen shot 2018-06-14 a

[2018-06-14 13:50] jackreeves opened #52 "new: Product details"
## Problem Statement

as a customer it would be good if the main product details were displayed consistently between pages.

## Recommendation

Look at both MOBILITY and HS and see where we can align for consistency.

## Designs

![screen shot 2018-06-14 at 3 47 32 pm](https://user-images.githubusercontent.com/9420407/41416024-45c2ef14-6fea-11e8-9a0c-78310db6a103.png)
![screen shot 2018-06-14 at 3

[2018-06-14 13:52] jackreeves opened #53 "new: Storage selector"
## Problem Statement

as a designer i would like a consistent way to impliment storage selection for the customer

## Recommendation

None

## Designs

![screen shot 2018-06-14 at 3 51 43 pm](https://user-images.githubusercontent.com/9420407/41416321-da503b28-6fea-11e8-95b2-88031c780977.png)

## Meta

* Willing to design solution: No
* Willing to develop solution: No
* Has workaround: No
* Do any

[2018-06-14 13:58] jackreeves opened #54 "new: table data"
## Problem Statement

* As a _ , I would like to _ , so that I can _

## Recommendation

Ideas for table requirements:

Fixed Header
Horizontal Scroll
Zebra Stripes, Line Divisions, Free Form.
Pagination
Hover Actions
Expandable Rows/ Quick View / Modal
Sortable Columns
Basic Filtering
Searchable Columns
Mobile view

## Designs

![image](https://user-images.githubusercontent.com/9420407/41416618-9

[2018-06-14 14:03] jackreeves opened #55 "new: toggle switch"
## Problem Statement

as a designer i would like a more Skeuomorphic way for customers to toggle on/off states than radio buttons

## Recommendation

might be a core component?

## Designs

* Screenshots
* Sketch file
![image](https://user-images.githubusercontent.com/9420407/41416937-55cdc0d0-6fec-11e8-8b7a-bab6dc6bc906.png)
![image](https://user-images.githubusercontent.com/9420407/41416945-5971

[2018-06-14 14:05] jesdavpet commented on #55
@jackreeves Please see https://github.com/telus/tds-community/issues/29 which has an approved design, and is already being used in production.

[2018-06-14 14:05] jesdavpet commented on #55
Closing as a duplicate.

[2018-06-14 14:05] #55 closed

[2018-06-14 14:18] jackreeves commented on #55
thanks @jesdavpet ! sorry got an xls backlog from a component jam held a few months ago... didnt see it already

[2018-06-14 14:23] jackreeves opened #56 "new: reviews"
## Problem Statement

as a customer i would like to see other customer reviews on the site

as a designer i would like to have a standard way of displaying review information

## Recommendation

Ideas:

Submit panel
Review panel
Filter/Sort
Verify customer
Top vs worst review
Stars
Was this helpful

## Designs

* Screenshots
* Sketch file
![image](https://user-images.githubusercontent.com/9420407/

[2018-06-14 14:52] owestinTelus opened #57 "Button Group component"
## Problem Statement

* As a customer, I would like a clear and inviting method when filling forms
* As a TELUS designer or developer, I would to use a repeatable pattern for making radio selection in forms, so that I can improve my speed to production

## Recommendation

* Use semantic form elements (radio group) styled as buttons to provide a clear visual presentation while communicating the rec

[2018-06-15 11:40] jackreeves opened #58 "new: price summary card"
## Problem Statement

As a customer i would like to get an overview of what i have selected thus far and see the totals summarised clearly

as a designer i would like to display summary pricing in a card with consistent place and formatting so they dont get confused and clearly understand what they are purchasing

## Recommendation

Have design jam and see how many different variants we need for e

[2018-06-15 11:45] jackreeves opened #59 "new: store finder"
## Problem Statement

As a customer sometimes i want to purchase in store so that i can talk to a person face to face

as a designer i would like a consistent component so that I can add store locator to my designs easily

## Recommendation

Come up with a full width and or store locator module so that customers can find the nearest store to them.

Ideas:

Geolocation
Postcode lookup
Try to keep o

[2018-06-15 12:02] ahmadnassri commented on #59
not sure this fits the TDS community category? this is a full end-to-end application and should be owned by a dedicated product team

[2018-06-15 12:03] ahmadnassri commented on #57
I'm not sure the problem statement is clear here?

[2018-06-15 12:04] ahmadnassri commented on #56
another example of a full product category vs. a design component.

[2018-06-15 12:06] ahmadnassri commented on #33
I don't see this addressed as an individual component level, but rather part of customer identity and APIs.

[2018-06-15 12:15] jackreeves opened #60 "new: calendar picker"
## Problem Statement

As a customer I need the ability to view time and date availability to select a single installation appointment for a technician to come and install a TELUS product or service at my service address.

## Requirements/Stories

https://telusdigital.atlassian.net/browse/TELCOM-252

https://telusdigital.atlassian.net/browse/TELCOM-253

## Recommendation

- Unified Checkout to cont

[2018-06-15 12:18] jackreeves opened #61 "new: modal"
## Problem Statement

As a designer i would like a consistent way to show modals so that i have don't have to reinvent the wheel

As a customer i would like a consistent modal interface so i know where to close, click next etc.

## Out of scope

* B2B style dialogue chooser ([see design](https://telus.invisionapp.com/d/main#/console/17778239/387938037/preview))

## Outcome
- community-modal has tw

[2018-06-15 12:21] jackreeves opened #62 "new: Pagination"
## Problem Statement

As a customer i would like an easy way to see what page i am on, how many pages there are and and then navigate between them so i can find the things i want easily rather than infinite scroll

## Recommendation

![image](https://user-images.githubusercontent.com/9420407/41467550-3b6599d2-70a7-11e8-9690-2e707ba82ecf.png)
![image](https://user-images.githubusercontent.com/94204

[2018-06-15 12:24] jackreeves opened #63 "new: Edit box (or a way to edit info)"
## Problem Statement

As a customer i would like to see at a glance if something is editable so that i can easily change info

## Recommendation

![image](https://user-images.githubusercontent.com/9420407/41467697-c18f3806-70a7-11e8-9810-4bea128fcd86.png)
![image](https://user-images.githubusercontent.com/9420407/41467703-c89da34e-70a7-11e8-93c8-d61e6ab72f98.png)
![image](https://user-images.githu

[2018-06-15 12:28] jackreeves opened #64 "new: chat component"
## Problem Statement

As a customer i would like to chat with support  and know that it is not a phishing site

## Recommendation

TDS styled chat box with icons buttons etc

![screen shot 2018-06-15 at 2 27 33 pm](https://user-images.githubusercontent.com/9420407/41467887-54ae77a0-70a8-11e8-82ee-d7cc6beca60c.png)
![screen shot 2018-06-15 at 2 27 28 pm](https://user-images.githubusercontent.com/94

[2018-06-15 12:31] jackreeves opened #65 "new: language switcher"
## Problem Statement

As a customer I would like to easily switch my language and region

## Recommendation

Improve the region switcher and create a component

## Designs

FYI designed & developed as a GE component.

M to XL
https://telus.invisionapp.com/share/KYNN05HXPJT

XS to S
https://telus.invisionapp.com/share/JDO0097T2C5

## Meta

* Willing to design solution: Yes
* Willing to develop solu

[2018-06-15 12:33] jackreeves opened #66 "new: Breadcrumbs"
## Problem Statement

As a customer i would like to know what page i am on and in which section im currently located in

as a designer i would like a standard execution of breadcrumbs and placement on the page so that i can easily add it consistently

## Recommendation

![screen shot 2018-06-15 at 2 32 23 pm](https://user-images.githubusercontent.com/9420407/41468054-ef76569a-70a8-11e8-9f74-4f4d31

[2018-06-15 12:36] jackreeves opened #67 "new: Address bar with cart"
## Problem Statement

As a customer i would like a consistent place to see and change my address

## Recommendation

![screen shot 2018-06-15 at 2 35 52 pm](https://user-images.githubusercontent.com/9420407/41468192-6c23144e-70a9-11e8-8238-810b6b1c4dec.png)

## Designs

https://telus.invisionapp.com/d/main#/console/14046124/293569366/preview

## Meta

* Willing to design solution: No
* Willing to

[2018-06-15 17:20] sketchidea commented on #25
Question for the design team: @twirlingsky @DougTelus @lucylist
Look at the various permutations of the design lock up that is used across the site, and assess how we can build/design a new component that fits all product requirements.

[2018-06-15 17:28] sketchidea commented on #21
Developer team has taken a look, there is more design work to be finalised before development work can begin.

[2018-06-15 17:39] sketchidea commented on #26
@jackreeves more information needed. We already have notification bars / messages as part of TDS, is this different to what already exists?

[2018-06-15 17:43] sketchidea commented on #27
@jackreeves this exists already in SiteBuilder as a component. The issue with pages having an inconsistent experience, is more around legacy tech stacks. So, the solution would be to move all marketing pages to SiteBuilder which is what we are in the process of doing.

[2018-06-15 17:43] #27 closed

[2018-06-15 17:58] sketchidea commented on #33
@jackreeves the eligibility team is building a component to replace this and will be used across all Home Solution pages to ensure consistency

[2018-06-15 17:58] #33 closed

[2018-06-15 17:59] sketchidea commented on #57
@owestinTelus could you clarify the request as per @ahmadnassri 's comment

[2018-06-15 18:01] sketchidea commented on #56
@jackreeves mobility has a review service - bazaar voice, this could be used more extensively.

[2018-06-21 15:09] mujtabahasni opened #68 "ProgressBar component for displaying usage information"
## Problem Statement
As a developer I would like to include a progress bar component so that my app can provide usage
 and capacity information visually for customers.

 * There is currently no standard progress component in the TDS, although `<progress />` is a standard html5 element.

 * There exists informal design convention for this component, which is more/less agreed to and being used by at

[2018-06-21 18:44] jesdavpet commented on #68
Just want to follow up after a brief conversation with @DineshAlapati and @mujtabahasni this afternoon.

To summarize:
- the atomic `ProgressBar` component will consist of the progress bar only
- intention is **not** to include the labelling text (this can be added in a higher level wrapper component if needed)
- this component is already in production, and the hope is to port that over, then refi

[2018-06-26 14:46] mujtabahasni commented on #68
Update:
![image](https://user-images.githubusercontent.com/32303524/41920149-11728a92-792e-11e8-865b-8ce962133126.png)

[2018-06-28 20:02] lucylist commented on #21
**Friday, June 15, 2018**
- Explore bonus offer options (above card, within card)
- Gift offer (free product or save money)
- It's possible to get both bonus offer and gift/save money
- Icons are examples only, all teams need to agree on similar icons (Brian is leading)
- If using the meter icon (move the needle forward, optimistic)

**Consideration for hierarchy/a11y**
- Keep description/bullets

[2018-07-03 17:52] theetrain commented on #57
I updated the original post for more clarity.

[2018-07-04 13:28] DineshAlapati commented on #68
@jesdavpet, I see the PR for this issue is merged. Does this mean the component is published to NPM registry? Also, I don't see the component in TDS community list, do we need to update anything else?

[2018-07-13 21:19] jesdavpet commented on #68
@DineshAlapati @mujtabahasni closing this issue since the component has been published.

Please see:
NPM: `@tds/community-progress`
Docs: https://tds.telus.com/community

Thanks for your work on this!

[2018-07-13 21:19] #68 closed

[2018-08-07 20:48] DougTelus commented on #23
I captured some extra complexity of the Terms & Conditions as it exists today. Some accessibility concerns as well as what other companies are doing.

https://docs.google.com/presentation/d/14_bpgQZhaBboRyTVkYlEgWFyUJZw3fRifkABlrRfJ7k/edit?usp=sharing

[2018-08-10 19:36] DougTelus commented on #21
The design for comparison cards has been added to DSM / _TDS_Community / Components (not coded) / Compare Cards / Card
https://telus.invisionapp.com/share/FRNH1OF853K

[2018-08-10 20:08] theetrain commented on #21
While chatting with @sketchidea regarding the viability of comparison card as a community component, we found it breaks one of the conventions of being a component:

Design system components should encapsulate a single pattern or user experience “element.” Seek to find the most granular, standalone, reusable pattern.

With that said, this may be more appropriate as a block/element seeing that it u

[2018-08-13 15:00] jackreeves opened #83 "new: Graphs and charts"
## Problem Statement

As a designer i would like to have consistent graphing and charting across the site. As a developer i would like to not have to recreate graphing and charting every time.

## Recommendation

The ideal solution would include colour options, bar, pie and scatter graph options. legend functionality. Animation would be nice out of the box

## Designs

* Screenshots
* Sketch file

[2018-08-13 15:10] jackreeves opened #84 "new: Carousel / Gallery component"
## Problem Statement

As a user i like to see multiple product images easily and visually.
As a designer/dev i dont want to have to reinvent the wheel every time i want to show 3+ images.

## Recommendation

A component that product pages and marketing pages can use to show multiple images.

additional criteria may include:
- Header, body, cta
- Thumbnails, Chevrons, or dot navigation.
- swipe on

[2018-08-13 15:13] jackreeves opened #85 "new: Mapping and controls"
## Problem Statement

As a customer, I would like a consistent way of visualizing and navigating maps

## Recommendation

Create a map component that accepts: pin locations or telus stores, search current location, gps detect current location, show store info e.g.

## Designs

* Screenshots
* Sketch file

## Meta

* Willing to design solution: Yes/No
* Willing to develop solution: Yes/No
* Has wor

[2018-08-13 15:14] jackreeves opened #86 "new: Mapping and controls"
## Problem Statement

As a customer, I would like a consistent way of visualizing and navigating maps

## Recommendation

Create a map component that accepts: pin locations or telus stores, search current location, gps detect current location, zoom, show store info e.g.

COMMUNICATION ZONE INC.

Unit 22, 1500 Royal York Rd

Etobicoke, ON
(13.0 km)
(416) 241-6626

Open 09:00AM - 06:00PM
Mon-Fri: 09

[2018-08-13 15:17] jesdavpet commented on #84
I'm closing this one as a duplicate of https://github.com/telus/tds-community/issues/50

@jackreeves Please consolidate any further information regarding the request for a Carousel Component there.

[2018-08-13 15:17] #84 closed

[2018-08-13 15:35] jesdavpet commented on #24
@Berjesty @lucylist Can you confirm if this request is on brand for TELUS?

[2018-08-13 15:42] jesdavpet commented on #85
Closing as a duplicate of https://github.com/telus/tds-community/issues/59

Please post any updates for this feature request on the existing issue.

[2018-08-13 16:48] jesdavpet commented on #21
I want to second @theetrain's comment above.

As I recall, this request came out of an exploration of how existing designs differed for similar use cases for comparisons using a card on `t.com`. Is that correct? If so, maybe we've already crossed the finish line for comparison cards.

Wouldn't @DougTelus's contribution to the DSM for this layout be sufficient to address design inconsistencies goin

[2018-08-13 17:08] jesdavpet opened #87 "Should we have a "recipe book" of common layouts using best practices?"
## Problem statement

* As a Developer, I would like to have a "recipe book" of common layouts employed using TDS components, so that I can:
1. understand current best practices
2. save time writing boilerplate markup, and
3. get a more consistent result

## Recommendation

* Determine if the practice of using layout "recipes" is an improvement over current practice of ad-hoc implementations by ea

[2018-08-13 17:12] jesdavpet commented on #87
The approach of creating a layout "recipe" would be another way to get consistent implementation for layouts such as the proposed Comparison Card (https://github.com/telus/tds-community/issues/21)

[2018-08-17 17:41] theetrain commented on #59
Due to this requiring business logic or proprietary information, it does not qualify as a component. [See community component criteria](https://github.com/telus/tds-community/blob/5373dae4bbbd6e50a536ae5bdc30cba9be1851e4/.github/CONTRIBUTING.md#community-component-criteria).

[2018-08-17 17:43] theetrain commented on #67
This appears to be more inline with the goals of Global Elements.

cc @brianlam1

[2018-08-17 17:43] #67 closed

[2018-08-17 17:46] theetrain commented on #53
Storage Selection is a pattern exhibited by the Button Group component. Deduplicating in favour of #57

[2018-08-17 17:46] #53 closed

[2018-08-17 17:49] theetrain commented on #36
A product catalogue is not sufficiently granular to necessitate a component. We could instead consider a single product listing as a component if it is sufficiently reusable across all our product teams, such as a product listing:

![image](https://user-images.githubusercontent.com/12798751/44280986-5ac23700-a224-11e8-815e-d6caaa210a11.png)

[2018-08-17 17:49] #36 closed

[2018-08-20 16:10] lucylist commented on #25
hey @sketchidea yeah, we have done this. @gkychow did some exploration during the gift of time and we've solidified them down to a few options that can be reused in different use cases. will update this ticket with mocks.

[2018-08-20 16:15] lucylist commented on #25
here's the file and screenshots of the designs
<img width="1306" alt="screen shot 2018-08-20 at 12 15 02 pm" src="https://user-images.githubusercontent.com/17018330/44352554-b7b32c80-a472-11e8-9eee-5f1d2d16216f.png">

[2018-08-21 14:01] mujtabahasni opened #88 "<SkeletonProvider /> High-level component for "skeletonizing" TDS components."
## Problem Statement

I have observed that some teams use series if/else or ternary constructs to selectively switch display components with skeletons.   This can sometimes make code appear cluttered and hard to manage.

## Recommendation
I am proposing a simple method to make do this cleaner and offer some sensible presets using the existing TDS Skeleton component.

* Provide a high-order-compone

[2018-08-21 14:05] marshjr opened #89 "new: Search Container w/ Quick Links"
## Problem statement

* As a customer, I would like to have a clear path to search within a page on t.com but also have the option to jump quickly to the most popular areas of the page in the same place
* As a designer, I would like the ability to drop this entire component into my page design and ensure that it will remain consistent with all of the others

## Recommendation

![image](https://use

[2018-08-21 20:16] joperron opened #90 "new: Testimonials Card"
## Problem statement

We need the testimonials card for the Telus Health website we are building with Site Builder. It exists in the Sketch components, but not in the TDS React components apparently.

## Recommendation

* Develop the new card component

## Designs

Attached are screens from DSM and in the context of our project:

![screen shot 2018-08-17 at 1 41 24 pm](https://user-images.githubus

[2018-08-22 16:55] joperron opened #91 "new: BlockTextWithBorderAndIcon"
## Problem Statement

We need to add this component to TDS so we can use it in Site Builder.

## Recommendation

* Develop a new component with the following fields: SVG icon & copy

## Designs

![screen shot 2018-08-22 at 12 54 27 pm](https://user-images.githubusercontent.com/1000260/44478087-94bb8080-a60a-11e8-8a3d-26a7d1a20cbb.png)

## Meta

* Willing to develop solution: Yes
* Has workaround:

[2018-08-23 16:21] nikaukraine opened #92 "Quote icon (component)"
## In SiteBuilder we have BlockMarkdown with ability add **quote**, but it does not work, and we do not have it in TDS at the moment.
<img width="1440" alt="screen shot 2018-08-23 at 12 22 51 pm" src="https://user-images.githubusercontent.com/34170511/44538452-589e2380-a6cf-11e8-93f2-774abe02ff1e.png">

* As a Site Builder user , I would like to be able to add quote (generates a html blockquote) w

[2018-08-24 17:34] wascloud commented on #90
DPA Group: Is the request for the entire card? or just the image in a circle?

[2018-08-24 17:36] wascloud commented on #91
Is this design approved @lucylist ?

[2018-08-24 17:50] wascloud commented on #92
DPA: This should definitely be TDS-Core

[2018-08-27 16:05] joperron commented on #90
Up to you, would be easier to just do the entire card instead of fragmenting what exists, your call

[2018-08-27 16:06] joperron commented on #91
I believe this was approved by @gkychow

[2018-08-27 20:27] varunj90 commented on #92
@gkychow can you work with us to align on icon library.

cc: @lucylist

[2018-08-28 14:50] varunj90 commented on #25
tds core team (@jraff ) will take on its development: https://telusdigital.atlassian.net/browse/TDS-909

[2018-08-28 20:16] lucylist commented on #21
before going into development, we will want to test this. next testing session is sept 11/13.

[2018-08-29 15:02] marshjr commented on #25
Mobility lockups:

<img width="248" alt="screen shot 2018-08-29 at 10 56 28 am" src="https://user-images.githubusercontent.com/42357996/44796445-03548d00-ab7b-11e8-9837-5c36309a3c48.png">
<img width="536" alt="screen shot 2018-08-29 at 10 56 52 am" src="https://user-images.githubusercontent.com/42357996/44796446-03548d00-ab7b-11e8-9c89-cac65fe3ae9d.png">
<img width="694" alt="screen shot 2018-08-2

[2018-08-29 15:11] lucylist commented on #25
@gkychow will be mocking the price lock ups in french so we can make sure it's consistent and works all around.

[2018-08-29 21:25] allynoormohamed commented on #25
Home Solutions switched over from “$x/month thereafter” to “$x/month after x months” as “thereafter” tested poorly in the past. Users were often confused as to what this meant. I have asked Tiffany and Laurel to dig up the research.

But can we consider changing this specific copy?

Are abbreviations such as "Reg" supported in other non-English languages that we plan to support in the future, and

[2018-08-30 13:51] DougTelus commented on #25
@allynoormohamed Good call outs. The hemingway app puts the word 'thereafter' at a post-graduate reading level. We usually aim to be grade 8 and lower.

With regards to the word 'Regular', business has typically said 'Retail' instead. Retail price.

[2018-08-30 16:26] allynoormohamed commented on #25
@DougTelus Good to know. Thanks.

[2018-08-30 19:07] AnishaRawat opened #104 "New TDS element - Shark coloured H2 font"
We require an option to enable dark grey (Shark) coloured H2 font as part of TDS. Please find attached screenshot as an example where neither purple or green font would be appropriate.

<img width="1197" alt="screen shot 2018-08-28 at 11 28 40 am" src="https://user-images.githubusercontent.com/30157195/44873495-42531300-ac4d-11e8-812c-4d5bc803f5b5.png">

[2018-08-31 16:01] varunj90 commented on #91
based on my discussion with Phil Roberto, he was able to get the vendor to commit to only using type instead of icons (though it'll need to be .svgs still). given that design is approved by Phil, @gkychow and blessed by @lucylist - @joperron you are okay to create a sitebuilder block

cc: @nikaukraine

[2018-08-31 17:13] JamieWeir commented on #104
This looks like it could be a Shark Grey header, or a potentially repeatable pattern as a standalone component, when combined with the rest of the content, there's a pattern of Large text, small text below, horizontal line, and then a paragraph.

That combination could potentially be consolidated as a community component, vs. expanding the TDS core heading components even further.

Can you help id

[2018-08-31 17:33] DougTelus commented on #25
Do marketing numbers/prices not associated with products fall into this price lockup standards?

See: https://github.com/telus/tds-community/issues/104
Specific ask is around the purple H1 not being appropriate in this use case.
This specific H1 lockup is not represented in our price variations.

[2018-08-31 19:35] agorovyi commented on #90
@githubjosh @xingbo828 We need your input here. We were discussing TDS `<Image>` Component and that it's missing LazyLoad functionality and were trying to come up with a solution on how to go around this.

There are two proposals that came up in the discussion:

1. Merge `<ResponsiveImage>` Component from [redux-contentful](https://github.com/telus/redux-contentful#responsiveimage-) with TDS `<Ima

[2018-08-31 20:40] gkychow commented on #104
@JamieWeir - Sorry, what do mean by design symbol?

[2018-09-04 13:54] githubjosh commented on #90
@agorovyi

`withLazyLoad.jsx` in `redux-contentful` is just a wrapper (HOC). You could potentially import this into TDS to wrap your images.

Notes:
- Other than Lazy Loading, the properties available to the ResponsiveImage component are specific to the Contentful Image API: e.g. compression. image sizing, image format, ...

Alternatively, you could simply import the `react-lazy-load` module and w

[2018-09-04 16:52] githubjosh commented on #90
@agorovyi
Alternatively, you could pull `withLazyLoad.jsx` out of `redux-contentful`, move it into TDS, then make this TDS component a dependency of `redux-contentful` for use with `responsiveImage`: i.e. flip the paradigm

[2018-09-04 16:59] agorovyi commented on #90
@githubjosh This is it. Like this idea.

[2018-09-04 18:27] jesdavpet commented on #84
I've added an image of the "gallery" candidate component, removed a confusing link, and updated the title of this issue.

@DougL and @jackreeves are you able to clarify further what the ask is for this issue?

[2018-09-05 12:48] DougTelus commented on #54
Table data that requires sortable columns and calculated price functionality _(eg. MyTELUS usage reports or ecommerce Cart Summary)_ should be a separate component from a marketing focused feature compare table _(eg. Plan Compare, product Feature Spec. compare)_

[2018-09-05 17:09] lucylist commented on #25
for the price lock up component, we're just looking at the individual elements as opposed to the actual content within those elements.. so you guys will be able to put whatever you want..

[2018-09-06 01:27] nikaukraine commented on #91
@joperron if this will be a new community block, you still need to submit ticket with Site Builder https://github.com/telus/community-site-builder-blocks/issues providing the new design, thanks.

[2018-09-06 13:18] JamieWeir commented on #104
@gkychow My understanding is that the design teams use design symbols in sketch. Kind of like instances or Smart Objects in photoshop, to keep consistency and propagate changes.

[2018-09-07 19:27] sketchidea commented on #66
Lets discuss with design leads in Monday's DPA breakout session. Component exists in Core backlog as well.

[2018-09-07 19:39] theetrain commented on #66
There are some concerns regarding how breadcrumb links are generated in the various page-generation contexts at TELUS. My proposal is by decoupling the generation logic from the visual appearance of breadcrumbs, we can still make a fully-designed functional component that accepts parameters for all use cases.

For example:

[code]

[2018-09-07 19:40] sketchidea commented on #64
We have a chat component already, and there is a team that works on chat. Doesn't look like it is suitable to be a TDS community component.

[2018-09-07 19:40] #64 closed

[2018-09-07 20:17] theetrain commented on #66
There are some concerns regarding how breadcrumb links are generated in the various page-generation contexts at TELUS. My proposal is to decouple the generation logic from the visual appearance of breadcrumbs. This way, we can still make a fully-designed functional component that accepts parameters for all use cases.

For example:

[code]

This example can achieve the design above. It can also acc

[2018-09-07 20:38] varunj90 commented on #89
Dibya Pal from travel page have built something similar and is in production today. They can contribute back.

designer: Jessica Nancoo
developer: @TimJinTelusDigital

[2018-09-10 16:09] varunj90 commented on #90
@agorovyi will be story writing this!

[2018-09-10 16:13] lucylist commented on #30
connected with @DougTelus we did some testing on the colour selector and there was some confusion as to what colour is what when users were selecting. some minor tweaks need to be done to the design based on testing results.

[2018-09-10 19:58] sketchidea commented on #89
Similar functionality to the Home Phone Long distance page rate lookup tool: https://www.telus.com/en/home-phone/content/long-distance

[2018-09-10 20:57] varunj90 commented on #104
@AnishaRawat  and team will go ahead with current design (due to timelines) , till price lockup is ready and the design will be updated after - based on discussion ( @lucylist  and @gkychow  at DPA meeting)

[2018-09-11 00:06] theetrain commented on #104
For posterity; please follow the conversation in #25

[2018-09-12 21:10] theetrain commented on #25
Update: @nicmak is developing this component for tds-core.

[2018-09-18 18:01] jesdavpet commented on #29
While developing this component, will keep it **stateless** for maximum flexibility, as per issue: https://github.com/telus/tds-core/issues/736

If a **stateful** version is required in the future, it should be relatively simple to wrap the stateless version and provide internal state management in that way.

[2018-09-18 19:46] agorovyi commented on #66
@theetrain
Your proposal works great as a highly re-usable component and I'm sure can cover most (if not all) of the use-cases.

The concerns that could be raised I think are not necessarily tight to TDS specifically but more of and organizational ones. For example:

1. How many links are too many in the **Breadcrumbs**?
2. Do we need to limit how many links should be in there and also how long th

[2018-09-19 15:15] Christina-Lo commented on #66
TDS Core will be working on this issue.
https://telusdigital.atlassian.net/browse/TDS-884

[2018-09-19 15:56] marshjr opened #110 "Accordion with comparison cards on reveal"
## Problem Statement

- As a customer, I would like to have the ability to expand on further information to compare without having to scroll forever
- As a designer, I would like the ability to drop this entire component into my page design and ensure that it will remain consistent, and allow for less scrolling

## Recommendation

<img width="1192" alt="screen shot 2018-09-19 at 11 36 51 am" src="

[2018-09-19 19:03] jesdavpet commented on #29
@DanGenuardi Are there component level designs illustrating the disabled state and / or error state?
I'm considering this component to basically be a form checkbox, in `@tds/core-checkbox` the concept of an error message and disabled state are encapsulated with the checkbox component.

Is that part of the current design(s) for this, or a future addition? CC: @lucylist @Berjesty

[2018-09-19 19:27] DanGenuardi commented on #29
@jesdavpet there isn't a disabled state where it isn't clickable with the toggle in the design. But we have a design where the data access is blocked. Please view this invision link for reference. https://telus.invisionapp.com/d/main#/console/13507983/288289626/preview

[2018-09-19 19:39] varunj90 opened #111 "[ExpandCollapse] as used by My TELUS"
See github issue from tds-core: https://github.com/telus/tds-core/issues/656
Ally Hui and Apurv Ray will take this up once they have capacity.

## Problem Statement

* As a _ , I would like to _ , so that I can \_

## Recommendation

* Description of the proposed solution

## Designs

* Screenshots
* Sketch file

## Meta

* Willing to design solution: Yes/No
* Willing to develop solution: Yes/No
*

[2018-09-19 19:46] jesdavpet commented on #29
OK, thanks for the follow up @DanGenuardi

So when the customer is not allowed to click the toggle, currently you're just conditionally displaying a blocked icon & message instead of the toggle ... so, I'll just leave that part out.

Is there an error state, with an error message in the designs, like this example ("Mobility" checkbox has a pink box with error text above it, pictured below):
<img w

[2018-09-19 20:12] DanGenuardi opened #112 "Toggle (Mobile View)"
## Problem statement

Enhance ToggleSwitch with upgraded functionality and design to make it more usable while accommodating business needs

## Recommendation

Enhance existing ToggleSwitch component with more features like: loading state, adding optional tooltip, moving label to the left

## Design intent

Toggle switches are digital on/off switches. They prompt users to choose between two mutual

[2018-09-20 14:11] DanGenuardi commented on #29
@jesdavpet for the toggle? no we don't.

[2018-09-20 16:47] jesdavpet commented on #29
Cool, thanks for clarifying @DanGenuardi ! I'm just leaving that out for now then ... can be added later if/when there's a need.

[2018-09-21 15:41] Berjesty commented on #18
@varunj90 is there any updates on this please?

[2018-09-21 16:03] varunj90 commented on #18
hey @Berjesty - this already in production.

https://tds.telus.com/community/index.html#skeleton

[2018-09-24 15:38] jesdavpet commented on #18
Hey @varunj90 I'm reopening this issue, because I believe @Berjesty was actually asking about an animation state for this component. That feature was de-scoped from the initial implementation, because design standards on animation were still pending.

Anecdotally, the lack of a "TDS Approved" animation state for this component has led to fragmentation, where several other apps have just forked the

[2018-09-24 15:39] jesdavpet commented on #18
@Berjesty or @lucylist can you please provide any updates on standards / governance for animations? I'd like to update this component to have that feature.

[2018-09-24 19:47] agorovyi commented on #90
### User Story

As a TDS-Community consumer, I want to display a Testimonial Component that will consist of Card, Image, and Paragraph Core Components put together in one standalone Component as per the approved design.

### Acceptance Criteria: Component

- **Given** I am displaying the <Testimonial> component
- **When** I supply it with testimonial text, image, author title, author more info
- *

[2018-09-24 20:03] varunj90 commented on #112
@Berjesty to chat with @DanGenuardi regarding the design and bring back to dpa!

[2018-09-24 20:11] varunj90 commented on #65
@abansil can you update the ticket with the design once you have it ready.

@lucylist will connect with you on this one

[2018-09-24 20:18] theetrain commented on #90
Since images are optional, we recommend providing a prop interface that accepts the core-image component.

Looking at an example, I see (1) paragraph text for the testimonial, (2) bold text for the author, and (3) subtext for the author title are always required.

[2018-09-24 20:18] marcod1419 commented on #30
I've come across this design the other day while looking at the [Apple Watch Series 4 product page](https://www.telus.com/en/bc/mobility/accessories/product/apple-watch-series-4-aluminium), and was similarly confused by what colour I was selecting.

![Colour selector](https://i.imgur.com/ax9YyL3.png)

Here, there's two pinks of the exact same colour. At first glance this looks like some sort of mi

[2018-09-24 20:29] abansil commented on #65
@varunj90 @lucylist updated with invision designs. Re-iterating that this will live as a GE component rather than a TDS-community component.

FYI / cc: @brianlam1 @xingbo828 @harmeetsaimbhi

[2018-09-24 20:29] varunj90 commented on #51
DPA discussion 24 Sept:
- HS is not using this anymore.
- Brian/Doug - to wait until the support page is launched
- might not be repeated pattern and requires a lot of thought

[2018-09-26 15:53] joperron commented on #91
thanks guys, will submit today

[2018-09-26 15:53] #91 closed

[2018-09-26 16:04] joperron commented on #90
Hey guys,

Just wanted to check in and ask how close we are to starting dev on this, and who is going to do it?

[2018-09-26 16:46] agorovyi commented on #90
@joperron I've already submitted a PR (#114) for it. It will most likely have some revisions based on provided feedback as it is my first one here.

[2018-09-26 17:42] Berjesty commented on #112
@DanGenuardi Moving the toggle to the right side for ease of usability perspective is great however to promote clarity of the status of the toggle, it should be in close proximity. My suggestion is to move the status closer to the toggle to prevent confusion.

[2018-09-27 20:55] twirlingsky commented on #60
Home Solutions uses a calendar component in their checkout flow to book installation appointments. Attached are screen grabs.
<img width="1046" alt="calendarloading" src="https://user-images.githubusercontent.com/22402633/46174092-f0f26f80-c25c-11e8-8948-fb57684800ab.png">
<img width="1084" alt="calendarnoselection" src="https://user-images.githubusercontent.com/22402633/46174109-01a2e580-c25d-11e

[2018-09-28 13:07] owestinTelus commented on #112
The proposed solution does not have any negative accessibility concerns.

* moving the trigger to the near right on a mobile screen (as opposed to below) is still reasonably discoverable
* the toggle design is consistent with what we use elsewhere on the site and the visible state is understandable

The text state of the toggle may be more clear if it was closer to the toggle itself but I don't th

[2018-09-28 17:16] theetrain commented on #88
Hello, based on our preliminary review, this seems to be an alternative usage of `<Skeleton />`, by wrapping child nodes rather than rendering standalone Skeletons.

We can try gathering interest from other consumers of Skeleton and then bump the priority higher. Would you consider this an enhancement for `<Skeleton />`, or a new component?

It could be like the following, so that `<Skeleton />` c

[2018-09-28 17:28] theetrain commented on #112
This is related to #29 and #113

Once we have an approved design, we can enhance the yet-released community-toggle component.

[2018-09-28 17:33] theetrain commented on #111
The core team will review design notes for this component.

[2018-09-28 17:36] theetrain commented on #110
This is related to https://github.com/telus/tds-core/issues/440

This will be taken up during design review, and potentially added to core or community.

[2018-09-28 17:41] theetrain commented on #92
We need a designer to own this.

[2018-09-28 17:46] theetrain commented on #83
There are a few requirements needed before this can begin:

- What chart library we should use
- How this would be decoupled from business logic
- Whether a component could adequately cover our use cases
- What are our use cases

This needs an owner.

[2018-10-01 18:12] DougTelus commented on #54
@lucylist In TDS v.34 we had table designs that were *Not in code*
These designs virtually disappeared. I think this is a good time to revisit them.

<img width="1419" alt="tables-tds_34-notincode" src="https://user-images.githubusercontent.com/32107656/46306913-8d7d8000-c583-11e8-8886-d0440f7edbe6.png">

[2018-10-01 20:27] theetrain commented on #110
Follow up from DPA design review:

This pattern is no longer acceptable when representing expandable content. We prefer to use Chevrons to denote expandable or collapsed content. Please use the core-expand-collapse component instead.

[2018-10-01 20:27] #110 closed

[2018-10-02 14:45] DanGenuardi commented on #112
We are already using toggles within the desktop and tablet layouts. We are not planning on switching to checkboxes for when a customer views this portion of the site on a mobile device. Is there a way we can set up a meeting to discuss this?

[2018-10-03 13:58] hamedmam commented on #50
Hey folks, a couple of months ago we had a request for a carousel Block in site-builder which was designed by @gkychow and It is created by our team. I think it can be a potential candidate to become a community component. the screenshots are attached.
[live version](https://telus-site-builder-test-ui-site-builder.c1b9.telusdigital.openshiftapps.com/en/sandbox/blockcarouserlwithcard) (this might n

[2018-10-03 15:43] DanGenuardi commented on #112
![screen shot 2018-10-03 at 11 41 45 am](https://user-images.githubusercontent.com/39997967/46422060-82505e80-c701-11e8-8d85-48ddb91297d0.png)
 Does this explain it differently on how it's supposed to work?

[2018-10-03 15:53] DanGenuardi commented on #112
![screen shot 2018-10-03 at 11 50 55 am](https://user-images.githubusercontent.com/39997967/46422712-ed4e6500-c702-11e8-9646-68c10a4afb98.png)

or does this fix the problem?

[2018-10-03 16:54] jesdavpet commented on #112
Hey @DanGenuardi I think it may be more clear to continue this conversation in person, and just follow up with the consensus here on GitHub afterwards. I'll reach out to schedule some time with you, and @Berjesty as well.

[2018-10-04 19:02] DanGenuardi commented on #112
![screen shot 2018-10-04 at 3 00 27 pm](https://user-images.githubusercontent.com/39997967/46496556-5bb82380-c7e6-11e8-9e05-2fcccf6f2460.png)

I had the discussion with @jesdavpet about a possible fix for this mobile toggle experience we came to the conclusion that this approach would work best.

[2018-10-04 20:38] theetrain commented on #90
Update, we're going to need another pull request to allow the `<Image/>` component to be inserted by the consuming developer, while creating maximum boundaries in the testimonial card so that images do not exceed 60x60px.

[2018-10-05 14:15] jesdavpet commented on #112
Thanks for following up @DanGenuardi !

This design iteration resolves the technical considerations I had raised above. Simplifying the scope in this way makes it a minor layout variant of the existing `@tds/community-toggle-switch` component, which has already been created.

@lucylist @Berjesty @DougTelus I think it's down to the design review process on this one now.

[2018-10-05 14:33] DougTelus commented on #112
I like this iteration. It gives an extra bit of visual clarity.

[2018-10-05 15:00] Berjesty commented on #112
Thanks Dan! I'm all good with this version as well all. @lucylist thoughts?

[2018-10-05 18:53] theetrain commented on #92
This is part of our backlog on standardizing icons. We will follow up once we enhance core-icon.

[2018-10-08 22:39] #29 closed

[2018-10-11 14:39] theetrain commented on #29
This component has been released: [@tds/community-toggle-switch@1.0.0](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-toggle-switch%401.0.0)

[2018-10-11 14:42] theetrain commented on #90
This component was released: [@tds/community-testimonial@1.0.0](https://github.com/telus/tds-community/releases/tag/%40tds/community-testimonial%401.0.0)

[2018-10-11 16:28] Berjesty commented on #29
This component is now available for everyone on DSM -> TDS Community -> Components Coded -> Toggle @theetrain

[2018-10-12 15:41] Christina-Lo opened #122 "Toggle: DSM Component"
## Description

The toggle component needs to be simplified into ideally 2 components; one with 2 states (enabled/disabled) and the other component has 1 state (blocked).
It can also be simplified further to match code. The DSM component has a top label (screen shot) whereas the release code doesn't https://tds.telus.com/community/index.html#toggleswitch

Related issues:  #112 and #29
## Reproduct

[2018-10-12 15:58] Christina-Lo commented on #90
This component has been released in Community DSM as well https://telus.invisionapp.com/dsm/telus/tds-community/folder/components/5b0eee0dbd61de0011520059

[2018-10-12 16:07] githubjosh commented on #66
This issue was first raised also raised in [Add Breadcrumbs throughout TELUS.com](https://github.com/telus/seo-guild/issues/11)

[2018-10-12 16:19] githubjosh commented on #66
WRT to breadcrumb trail length.

From a pathing perspective, our [SEO guidelines](https://github.com/telus/reference-architecture/blob/master/testing/nonfunctional/seo.md#url-structure) are to have a "Max of 3 path [parts] excluding language and region parameters".

Still, some URLs currently exceed this and there is no restriction on the length of a path: e.g. `HOME > Business > Mobility > Phones

[2018-10-19 13:32] #90 closed

[2018-10-19 17:00] Christina-Lo commented on #122
This is done and deployed into DSM

[2018-10-19 17:00] #122 closed

[2018-10-19 17:14] brianlam1 commented on #65
I suggest this to be closed. Language and region handling should only be handled in the Header and should not be in-application as this should be global settings

[2018-10-19 21:50] DJDA commented on #112
Hi all,

Some thoughts for all on this - I implemented elements of this design on the new RA Usage page for Family Manager aka "Data Manager 2".

In the reference mentioned above (https://www.nngroup.com/articles/toggle-switch-guidelines/), what has been termed "value" by @lucylist is here defined as "state descriptor".  I've ben describing it as "toggle context", or perhaps more formally, it can

[2018-10-22 14:23] lucylist commented on #50
hey @allynoormohamed as per your research.. you were looking for various version of carousel. this is a feature request for the carousel component for community. maybe a duplicate of your issue. we should combine if so.

[2018-10-22 15:52] theetrain commented on #18
This has been released in [@tds/community-skeleton@2.0.0](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-skeleton%402.0.0).

[2018-10-22 16:00] theetrain commented on #18
Component is also available in DSM, but will be improved in a separate issue.

[2018-10-22 16:00] #18 closed

[2018-10-22 16:16] Christina-Lo opened #127 "Skeleton: DSM component"
## Description

The Skeleton components need to be built to be responsive in Sketch and usage guidance needs to be added into DSM.

See #18
## Reproduction Steps

When I open DSM and pull in the skeleton component, I can not stretch or resize the component without skewing corner radius and changing the height of the object (which should not happen).

## Reproduction Percentage (if applicable)

10/

[2018-10-22 19:56] lucylist commented on #112
The Digital Platform Ambassadors met today and have discussed the toggle switch enhancements. Rather than have this issue focus on the naming etc. the main focus of this ticket is to make sure that left/right label/context is available for the swtich. we need to build this enhancement into the community component.

the design leads have agreed that the switch needs to align with context/value text

[2018-10-26 18:28] philroberto commented on #58
closing because commerce team is working on it.

[2018-10-26 18:28] #58 closed

[2018-10-27 18:01] theetrain opened #129 "Refactor componentWithName utility to use @tds/util-prop-types"
## Problem statement

Components such as `community-testimonial` use a local propType `componentWithName` stored in `/shared/utils/propTypes`. This package does not have unit tests, and there is duplicate code in tds-core.

## Recommendation

Let's refactor our community components currently using `componentWithName` to use the newly-released [@tds/util-prop-types](https://github.com/telus/tds-cor

[2018-10-30 20:16] telus-kyri opened #131 "Dropdown Styling"
At present the look and feel of the TDS Form Select dropdown is inconsistent across browsers. If you compare Chrome, Firefox and Safari you'll notice they all look different from each other. The following ticket contains attachments that illustrate this. Please see https://telusdigital.atlassian.net/browse/DPRBB-234

To reproduce:
Go to any form select dropdown and click in the field. Do this in C

[2018-10-31 17:48] invalidred commented on #62
Do we have a design reference for pagination? Is there a team that currently uses pagination?

[2018-10-31 19:54] DJDA commented on #62
I think login and registration (Strikeforce) mentioned during a My TELUS showcase a while back that role management required pagination and was in the roadmap ?  Maybe @ivaylogabrovsky could comment?

[2018-11-01 21:06] nikaukraine opened #133 "Best practice for Video"
## Problem statement

Ability to add Video component

## Recommendation

We have 4 existing blocks, we need to define the best practice:
1. BlockVideo (example: https://www.telus.com/en/about)
2. BlockVideoPicker (example: https://www.telus.com/en/about/company-overview/futurefriendly)
3. BlockHeroWithVideo (example: https://www.telus.com/en/tv/optik/app)
4. BlockVideoBanner (the he which hosts vi

[2018-11-02 14:42] Andrew-K-Lam opened #135 "<SideNavigation /> component that can be used to display multiple links on a page for easier navigation"
## Problem Statement

- We need a component that displays all relevant links to other pages or sections within a page, for easier navigation through large amounts of information

## Recommendation

Create a SideNavigation component that takes in Links and Text and displays them as a column, gets hidden on mobile screens, and has an active status if a user is currently on that page or section

## D

[2018-11-02 15:22] theetrain commented on #133
It was recommended by @githubjosh to wrap the [PayPal Accessible html5 video](https://github.com/paypal/accessible-html5-video-player) component in order to save us time.

[2018-11-02 17:38] nikaukraine commented on #133
Would would be the next step? I it is becoming a high demand at TELUS, will it make sense to make a core video component?

[2018-11-02 17:56] simpleimpulse commented on #133
Todo:
- [ ] Find out if isomorphic/starter kit projects have a need for video
- [ ] Developers agree that this is high priority - discuss with designers and assign label
- [ ] Assign a dev to investigate the acceptability of Brian's design, using Paypal's video component.

[2018-11-05 21:11] varunj90 commented on #133
the core team needs to investigate this

[2018-11-05 21:16] varunj90 commented on #135
hey @Andrew-K-Lam this will be brought to the design leads meeting this friday - we'll reach out to you shortly.

cc: @lucylist

[2018-11-06 14:40] varunj90 commented on #131
closing this issue as this is a duplicate of https://github.com/telus/tds-core/issues/701

[2018-11-06 14:40] #131 closed

[2018-11-06 16:01] Andrew-K-Lam commented on #135
cc: @elenaverling

[2018-11-08 20:36] varunj90 commented on #127
As discussed during DPA meeting Nov 5, @Berjesty will be looking into this one

[2018-11-08 21:07] theetrain commented on #65
Closing due to this being claimed by Global Elements.

[2018-11-08 21:07] #65 closed

[2018-11-09 21:04] theetrain commented on #129
@nicmak has volunteered to patch the testimonial component

[2018-11-12 16:08] varunj90 commented on #88
@invalidred to reach out to @mujtabahasni and provide an update regarding Skeleton enhancements

[2018-11-12 16:31] varunj90 commented on #62
from DPA Dev leads meeting:

Apurv from myTelus was working on the design and only his team has the need for it, all other squads need it, but low priority.

Other squads may have a need for this later.

[2018-11-13 14:08] mujtabahasni commented on #88
I think we can extend `<Skeleton />` but we may need to add a boolean attribute so that we can enable/disable the skeleton state of the children components.

[2018-11-14 19:53] gkychow commented on #92
@nikaukraine @varunj90 - I don't feel that we'll want to add this icon as part of our set and as a component. Though it was used for Health, the design that they created may not be what we want to use for quotes going forward.

[2018-11-14 21:42] varunj90 commented on #92
Closing this issue based on the comment above.

cc: @nikaukraine

[2018-11-14 21:42] #92 closed

[2018-11-16 14:46] invalidred commented on #88
Spoke with @mujtabahasni about his `<Skeleton />` HOC wrapper and I think it's a pretty cool idea. I think its definitely worth pursuing for 2 reasons.

1. Consistent way to tackle how we do loading screens using skeletons (a great candidate for TDS recipes)
2. Keeps skeletons in sync with design (currently i've noticed some teams have duplicate skeleton views that shows up while waiting for data

[2018-11-19 17:54] varunj90 commented on #60
unified commerce is working on this component.

@abansil and @uxjames can you add the design here and link to sketch/dsm

[2018-11-19 18:19] varunj90 commented on #21
prerequisite: icons needs to be updated by tds-core team and benefits component needs to be built before the development of comparison cards can begin

[2018-11-19 20:19] Berjesty commented on #112
This component is added to DSM library with definition, usage criteria and style examples.
![toggle](https://user-images.githubusercontent.com/25160096/48732753-74519100-ec0e-11e8-933c-310ba170a9d5.png)

[2018-11-19 20:20] Berjesty commented on #127
This component is added to DSM library with definition, usage criteria and style examples.
![skeleton](https://user-images.githubusercontent.com/25160096/48732813-af53c480-ec0e-11e8-9736-49af73d17d78.png)

[2018-11-19 20:20] #127 closed

[2018-11-19 21:14] varunj90 commented on #135
this is good w.r.t design @Andrew-K-Lam let us know if you're contributing this to community!

[2018-11-19 21:21] varunj90 commented on #21
hey @twirlingsky / @gkychow can you add the updated designs for the comparison card.

thanks!

[2018-11-19 21:40] twirlingsky commented on #21
https://telus.invisionapp.com/d/main#/console/15376081/329593121/preview

[2018-11-19 21:54] varunj90 commented on #25
documentation can be found here: https://tds.telus.com/components/index.html#pricelockup

[2018-11-19 21:54] #25 closed

[2018-11-19 22:53] abansil commented on #60
in interim here's a screencap:
![screen shot 2018-11-19 at 5 51 01 pm](https://user-images.githubusercontent.com/37587197/48739985-b89b5c00-ec23-11e8-870f-a27b87d0db33.png)
- key difference is visual updates
- a11y & IxD to be outlined/improved

after final review/sign-off @uxjames can provide sketch file. I'll follow up with DSM integration

[2018-11-23 18:51] simpleimpulse commented on #56
This is currently not in the scope of a TDS component, closing for now.

[2018-11-23 18:51] #56 closed

[2018-11-23 20:16] #129 closed

[2018-11-23 20:53] DanGenuardi opened #142 "GB label text field"
## Problem statement

- As a designer for My TELUS , I would like to submit an addition feature to an existing TDS element, so that I can type in a numeric amount of data without adding GB to the textfield.

## Recommendation

- Adding a shaded area that says GB in a text field.

## Designs

- Screenshots
<img width="569" alt="screen shot 2018-11-23 at 3 40 43 pm" src="https://user-images.githubus

[2018-11-26 16:25] DougTelus opened #143 "New: Table with sortable columns"
## Problem Statement

As a designer I want to display complex user account-data that can be sorted and searched so customers can easily find the information they are looking for.

**Requirements**
- Columns
- Rows
- Display a maximum of XX rows on table load
- Additional rows can be loaded with a Show more

**Usage**
- When a customer wants to see account information in a table

**Considerations**

[2018-11-26 20:30] Berjesty commented on #143
We have a similar table built for Biz Bans in My TELUS.
<img width="1278" alt="screenshot 2018-11-26 13 52 00" src="https://user-images.githubusercontent.com/25160096/49040300-2dc0e100-f190-11e8-97ac-5962278b4152.png">

[2018-11-26 20:55] varunj90 commented on #54
do we need tables for comparing plans?
needs to be mobile friendly

can we use comparison cards instead: https://github.com/telus/tds-community/issues/21

next step could be seeing if comparison cards design can account for this use case.

[2018-11-26 20:58] varunj90 commented on #54
@twirlingsky will explore to add this to comparison card

[2018-11-26 20:59] varunj90 commented on #143
design leads to look at this and see if there is a use case in their respective tribes, if yes then we can ask my telus to contribute back

[2018-11-26 20:59] DougTelus commented on #54
I can provide specific examples of why this is needed and currently being developed for Business Marketing. I outlined this in the Usage in the above story.

[2018-11-26 21:32] varunj90 commented on #112
Toggle Mobile View design with David, Abdul and Berjesty w.r.t accessibility
- Align on standards - what is static, whats dynamic
- The usage of the toggle
- Accessibility concerns for devs in scenario 1 and 2
- Requirements need to be addressed and design can be updated

Next steps
- David and Berjesty to work together and list down the requirements
- Involve boskar

[2018-11-27 15:17] theetrain commented on #129
Released in [@tds/community-testimonial@1.0.2](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-testimonial%401.0.2)

[2018-11-29 14:07] invalidred commented on #62
## Phase 1:

Pagination should be a responsive stateless component. It will receive the following props (let's chat about alternative prop/approaches if needed)

1. current - current page number
2. pageSize - number of data items per page
3. total - total number of data items
4. onChange - callbackFunc(nextPage)

## Expected Behaviour

### Initial Render
The parent component will provide pageSize,

[2018-12-03 18:36] stephlao commented on #143
hey everyone, we've been looking to update a better experience on business side when displaying the plans and features. we want to create a new way to display a table chart that is responsive.

here are some design ideas that aren't final.

@agorovyi and the team will be scheduling time to build out the component as we have allocated time for it.

<img width="636" alt="screen shot 2018-12-03 at 11

[2018-12-03 20:41] theetrain commented on #84
Phil is researching viability and accessibility considerations for this.

[2018-12-03 20:44] stephlao commented on #54
hey everyone, we've been looking to update a better experience on business side when displaying the plans and features. we want to create a new way to display a table chart that is responsive.

here are some design ideas that aren't final.

@agorovyi and the team will be scheduling time to build out the component as we have allocated time for it.

<img width="356" alt="screen shot 2018-12-03 at 1

[2018-12-03 20:45] theetrain commented on #30
This has been de-prioritized until a team actively utilizes this pattern.

[2018-12-03 20:49] theetrain commented on #143
This can be developed once we identify more than one project or squad having a need for this becoming a reusable pattern.

[2018-12-03 20:57] DougTelus commented on #54
Doug to check on Accessibility of the drop down labels (they do not have labels) and the minimum required number of drop down items (6?).

[2018-12-03 21:17] mujtabahasni commented on #88
Here is the propose extension to the <Skeleton />  API for wrapping existing components with skeleton.

[skeleton docs](https://user-images.githubusercontent.com/32303524/49402022-c1595b00-f716-11e8-8d25-3fc4a9a2c299.png)

[2018-12-05 17:22] Berjesty commented on #62
**Context:**

- We’ve discovered a limitation in our design systems which causes a customer pain-point during long the  period where there are more content than what they are viewing on the page.

**Goal:**
- Design and build a process to separate the content into discrete pages so that its is digestible, easy to understand for customers.

**AC:**
- When I enter a page that has been divided into 1

[2018-12-06 19:42] Berjesty commented on #142
Met with @DanGenuardi. He will be reiterating on the GB part of the design.

[2018-12-07 18:40] theetrain commented on #57
This is now published! [@tds/core-button-group@1.0.0](https://github.com/telus/tds-core/releases/tag/%40tds%2Fcore-button-group%401.0.0)

[2018-12-07 18:40] #57 closed

[2018-12-07 18:50] varunj90 commented on #66
component released and documentation can be found here: https://tds.telus.com/components/index.html#breadcrumbs

[2018-12-07 18:50] #66 closed

[2018-12-10 20:47] varunj90 commented on #142
hey @DanGenuardi assigning this to you as @Berjesty mentioned you'll be working on the design

[2018-12-10 20:51] varunj90 commented on #88
hey @mujtabahasni are you going ahead with the development for this?

next steps? @invalidred

[2018-12-10 21:11] varunj90 commented on #54
hey @stephlao can we run this through testing before we implement this? or do we have research on the mobile view.

cc: @DougTelus @lucylist

[2018-12-10 21:14] varunj90 commented on #60
hey @abansil and @uxjames any updates on the design?

[2018-12-10 21:51] twirlingsky commented on #54
For Home Solutions we will definitely make use of the table similarly to business examples above. The tables higher up in this ticket - the Pik / Optik compare table is not in use anymore. The Optik compared to Shaw's newest platform is still in use and therefore a table that allows for a straight comparison without the dropdown components at the top (for plans) would be useful.

[2018-12-11 20:56] twirlingsky commented on #54
For Home Solutions, smart home security we want to make use of the table business is using above. So definitely a need

[2018-12-12 19:52] mujtabahasni commented on #88
Adding the ability to customize how the skeleton is rendered for a componenet or element by passing a component to the `skeleton` property

![image](https://user-images.githubusercontent.com/32303524/49895022-68c44500-fe1d-11e8-8916-ca0ac8973822.png)

[2018-12-12 19:53] mujtabahasni commented on #88
@varunj90 There is currently a branch where work is being done `auto-skeleton-provider`

[2018-12-12 20:09] varunj90 commented on #21
hey @gkychow and @twirlingsky do we have an updated design for this component?

@twirlingsky i saw you posted a link for optik tv cards - is someone updating the comparison card based on the research?

cc: @lucylist

[2018-12-12 20:29] invalidred commented on #88
Next steps for this would be, there are some minor fixes @mujtabahasni needs to make, and then we'll regroup and try to use it on some existing page to iron out other kinks and then once we're confident then we'll push the changes, hopefully. What do you think @mujtabahasni @varunj90 ?

[2018-12-12 21:05] twirlingsky commented on #21
yes! see this page in Invision: https://telus.invisionapp.com/d/#/console/15376081/335303431/preview

[2018-12-13 00:00] renovate[bot] opened #152 "Dependency deprecation warning: @telusdigital/eslint-config (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v1.2.0) of dependency `@telusdigital/eslint-config` has the following deprecation notice:

`please use @telus/eslint-config`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Please take the actions necessar

[2018-12-13 17:10] Mariefhrmnn opened #153 "More flexibility for ToggleSwitch button"
## Problem statement

Currently, the ToggleSwitch button is on the left side of the text.
But the feedback of users is that it will be better to have the text on left side (closer to the thumb)

## Recommendation

I would like to make it flexible. To have the possibility to use our ToggleSwitch button with interchangeable way, so with the text on the right side and on the left side

 ## Designs

[2018-12-14 13:46] uxjames commented on #60
@varunj90 there are no updates at present. The design is done but we would like it reviewed for accessibility. Once this has been completed we will update with final designs incorporating user testing and accessibility considerations.

[2018-12-14 18:32] simpleimpulse commented on #23
@DougTelus to present findings on Dec 17 2018 to DPA.

[2018-12-14 18:49] DanGenuardi commented on #61
Has anyone designed an element for this overlay modal? I'm asking because I'm exploring the possibility to use it within the My TELUS experience for the usage page for when someone has to set a limit for a specific subscriber within a shared plan.

[2018-12-14 19:18] varunj90 commented on #61
hey @DanGenuardi assigning this ticket you based on our conversation on slack! thanks for taking this up and keeping @philroberto research into consideration.

[2018-12-17 21:37] DougTelus commented on #23
I will send out emails to different experts within TELUS with specific areas of the solution to provide feedback on.

[2018-12-18 14:23] philroberto commented on #84
This is ready to be worked on, accessibility has been made aware and provided the opportunity to contribute. Any accessibility requirements may trickle in prior to being picked up for design.

[2018-12-18 18:51] twirlingsky commented on #23
In Home Solutions, we have a collapsed configurator panel that is sticky to the bottom of the page. Would this solution overtake that sticky or cause issue (competing sticky footer elements)?

[2018-12-18 19:00] DanGenuardi commented on #61
@philroberto

Here is a basic overlay modal that we coded here for team Nutella. Can you have a look at it and see if there is anything that you may want polished?

<img width="1440" alt="screen shot 2018-12-18 at 1 32 36 pm" src="https://user-images.githubusercontent.com/39997967/50176332-1bd4e880-02cd-11e9-9eaf-be92bab8d73e.png">

[2018-12-19 14:54] Mariefhrmnn opened #157 "Flexibility of padding"
## Problem statement

The TSD_core library propose a component named ‘LISTS’.
There is a padding on the left  (green color) of the bullet points. This padding is not flexible and doesn’t permit to create a more structured layout.

## Recommendation

Description of the proposed solution
I would like to have more flexibility to use this list without padding in front of the bullet points. In that cas

[2018-12-19 14:58] varunj90 commented on #157
Hi @Mariefhrmnn - can you move this issue to tds-core using this link https://github.com/telus/tds-core/issues/new/choose

closing this as it's not tds-community

[2018-12-19 14:58] #157 closed

[2018-12-20 16:40] philroberto commented on #61
@gkychow could you take a look at the design above for modals and provide feedback if any.

@DanGenuardi just a couple things i noticed:

1 - In this context, be sure to reference the requirement "Every modal should have a cancel/exit option", as cancel could provide a clearly stated way to reverse this decision (relying on "close" alone, sets unclear expectations)

2 - Is the white-out overlay st

[2018-12-24 14:56] DanGenuardi commented on #61
@philroberto This is just a quick coded design that the Nutella team did a few months back. Just wanted to see what you thought of the white background and the card treatment. I'm still working on the overall design with the elements that you are looking for. You will see something new in the new year.

[2019-01-04 18:40] mujtabahasni commented on #60
My squad is also interested in this component. What is the status of this?

[2019-01-04 19:04] abansil commented on #60
Will connect with @uxjames next week for the final designs & a11y/testing compilation and can bring up to DPA

[2019-01-07 21:00] varunj90 commented on #153
@Mariefhrmnn Berjesty and Abdul will be documenting the usage criteria for this. Please follow this thread: https://github.com/telus/tds-community/issues/112

[2019-01-07 21:04] varunj90 commented on #21
hey @twirlingsky can you post the updated designs here and the PO for the group that has developed this.

thanks!

[2019-01-08 20:16] theetrain commented on #135
The React component has been released: [@tds/community-side-navigation](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-side-navigation%401.0.0)

[2019-01-10 19:52] DanGenuardi commented on #61
![screen shot 2019-01-10 at 2 50 12 pm](https://user-images.githubusercontent.com/39997967/50993210-142cec00-14e7-11e9-9311-3aa1bee062be.png)

@philroberto @varunj90
I have created a mockup on how the overlay modal can look like for TDS.

I made the background colour shark grey so we wouldn’t have to add any new design treatment to the modal box itself. It’s a standard white box so it can stand ou

[2019-01-11 18:40] #133 closed

[2019-01-11 18:40] agorovyi commented on #133
Closing as Core team is taking care of this.

[2019-01-11 18:49] agorovyi commented on #21
This is blocked by discussion around a possibility of creating a `<Badge.Ribbon>` component as part of the community component.

[2019-01-11 20:24] varunj90 commented on #129
assignees have been added on closed issue to reflect power level (points) on community heroes board (coming soon!)

[2019-01-11 20:34] varunj90 commented on #104
@AnishaRawat @gkychow price lockup is now available and an opportunity to update design

[2019-01-11 20:39] varunj90 commented on #91
assignees have been added on closed issue to reflect power level (points) on community heroes board (coming soon!)

[2019-01-11 20:43] varunj90 commented on #90
assignees have been added on closed issue to reflect power level (points) on community heroes board (coming soon!)

[2019-01-11 20:47] varunj90 commented on #68
assignees have been added on closed issue to reflect power level (points) on community heroes board (coming soon!)

[2019-01-11 21:01] varunj90 commented on #29
assignees have been added on closed issue to reflect power level (points) on community heroes board (coming soon!)

[2019-01-11 21:03] varunj90 commented on #18
assignees have been added on closed issue to reflect power level (points) on community heroes board (coming soon!)

[2019-01-11 21:07] varunj90 commented on #135
assignees have been added on closed issue to reflect power level (points) on community heroes board (coming soon!)

[2019-01-14 16:05] varunj90 commented on #135
This is now released in code and DSM and available on https://tds.telus.com/community/index.html#side-navigation

[2019-01-14 16:05] #135 closed

[2019-01-14 20:51] stephlao commented on #54
Table chart designs are ready to be reviewed and improved on where needed! @varunj90 what are the next steps on getting eyes on this?

https://telus.invisionapp.com/share/ZMPY0LHQC9A

[2019-01-14 22:06] varunj90 commented on #54
awesome @stephlao, lets have you go over the design on Monday January 21 DPA meeting.

cc: @DougTelus

[2019-01-15 17:32] DanGenuardi commented on #61
![screen shot 2019-01-15 at 12 31 41 pm](https://user-images.githubusercontent.com/39997967/51198186-8a539900-18c1-11e9-8b74-1ad87638fced.png)

Here is mobile layout for the modal.

[2019-01-15 18:41] DanGenuardi commented on #61
![screen shot 2019-01-15 at 1 40 06 pm](https://user-images.githubusercontent.com/39997967/51201855-2cc44a00-18cb-11e9-8ede-bf1275d26880.png)
![screen shot 2019-01-15 at 1 40 16 pm](https://user-images.githubusercontent.com/39997967/51201856-2cc44a00-18cb-11e9-965c-09fb382a849b.png)
![screen shot 2019-01-15 at 1 40 24 pm](https://user-images.githubusercontent.com/39997967/51201863-32219480-18cb-11

[2019-01-15 22:07] Berjesty commented on #23
@DougTelus Reviewed designs, great work! I like how there are multiple view points to terms and conditions where they can be accessed via the bottom part of the page even if customer doesn't click on each respective term within context.

I prefer version 1 where the terms description covers half the page. Looks visually less disrupting and easier to get back to the previous screen.

[2019-01-16 19:20] DougTelus commented on #23
This is in regards to the mobile v1 design?

[2019-01-16 22:01] Berjesty commented on #23
Yes that’s correct.

From: DougL <notifications@github.com>
Reply-To: telus/tds-community <reply@reply.github.com>
Date: Wednesday, January 16, 2019 at 2:20 PM
To: telus/tds-community <tds-community@noreply.github.com>
Cc: Berjesty Kozanoglu <Berjesty.Kozanoglu@telus.com>, Comment <comment@noreply.github.com>
Subject: Re: [telus/tds-community] new: Terms & conditions component (#23)

I prefer vers

[2019-01-17 15:17] DougTelus commented on #23
B2B user testing has started to reveal users find it off-putting when there is a large number of legal annotations per page as well as seeing numbered legal annotations beside numbered prices.

[2019-01-17 21:12] Berjesty commented on #112
Updated designs and context (usage criteria) in TDS Community Library based on the feedback and discussion around accessibility concerns. This issue has been addressed from design perspective.

[2019-01-18 17:53] invalidred opened #167 "Ability To Stick Components to the Screen"
## Problem Statement

I would like to stick component within a Container Component or to stick a component to the View Port.

## Recommendation

First I think we need to come up with existing design that need stick-able components, and then we can re-define the requirements based on the designs.

## Design intent

To be Documented.

## Designs

This is required for My Telus Bill Format Page.
https

[2019-01-18 18:24] invalidred commented on #21
Design is available or to be discussed https://github.com/telus/tds-community/issues/48

[2019-01-18 18:31] invalidred opened #168 "Let Figure out how to Document Recipes"
## Description

We need to figure out how to document Recipes

## Possible Tools

React Storybook

## Meta

- Willing to develop solution: Yes
- Has workaround: No
- High impact: No

## Screenshots

We need to document complex components as attached image below as a recipe.

![image](https://user-images.githubusercontent.com/5270458/51405771-43fe7400-1b25-11e9-8ae9-19a1dd76f509.png)

[2019-01-18 18:32] invalidred commented on #21
This issue will ultimately be a recipe and will also require the development of  `<Badge.Ribbon>`. Documenting Recipe will be covered here https://github.com/telus/tds-community/issues/168

[2019-01-18 19:00] invalidred commented on #23
There is a misalignment between what is needed and what was designed. Lets have a discussion with @sketchidea  around this. @sketchidea to provide more info.

[2019-01-18 19:39] sketchidea commented on #23
There are a few concerns around this component, after discussing with the DPA dev leads - it looks like this is owned by Global Elements - so we should reach out to Brian Lam's team.

[2019-01-18 19:45] DougTelus commented on #23
I sent a review email out with the github link and invision designs. @brianlam1 was copied on that email but has yet to reply. It would be awesome if Global Elements wants to take this off my plate. The visual design and application of legal annotation to price lock-ups that still needs to be solutioned.

[2019-01-18 21:39] brianlam1 commented on #23
Hello!

Late to the party, but want to shine a light to what and what, not GE Team owns.

As per discussions with Director's last year, Global Elements as a team primarily only anything that touches the Navigation of the site (Header, Footer, Sub, Inpage, Side, Breadcrumbs navigation, etc.) and site search (arguably a form of navigation into itself).

T&Cs (also the first time I recall hearing abo

[2019-01-18 22:04] DougTelus commented on #23
Is T&C component a TDS owned system feature?

[2019-01-18 22:12] varunj90 commented on #23
yes @DougTelus it will be a TDS core component

[2019-01-21 20:32] invalidred commented on #21
After discussion with @varunj90 seem like this will ultimately be a complex component once the `<Badge.Ribbon>` is created. In the meantime it will be a recipe and will be completed once #168 is figured out.

[2019-01-25 14:39] sbarre commented on #60
Question:  is there a way to jump by year?

What if we're using this picker to request birth dates or dates that aren't necessarily close to the current date?

[2019-01-25 15:17] uxjames commented on #60
We are currently looking at integrating the Airbnb Calendar component. [React Component](https://github.com/airbnb/react-dates) This does not have a year picker.

For date of birth, I wouldn't use this and would only use it for events that will occur in a shorter period of time, such as an appointment. [Nielsen Norman Group Recommendations](https://www.nngroup.com/articles/date-input/).

Google an

[2019-01-25 18:41] theetrain commented on #168
This is a great conversation to have, and the TDS core team is interested in implementing this sometime in 2019 - but not in Q1.

[2019-01-25 20:48] abansil commented on #60
@sbarre

[2019-02-01 19:50] sketchidea commented on #62
@Berjesty could you give me access to inspect mode on the Invision project for this component? Thanks!

[2019-02-01 22:04] nikaukraine opened #173 "SubNavigation component"

[2019-02-01 22:06] #173 closed

[2019-02-01 22:19] nikaukraine opened #174 "SubNavigation component"
New SubNavigation component in TDS

## Problem Statement

Multiple usage of SubNavigation component in Site Builder today, but non of them are scaling properly on mobile.

## Recommendation

Build responsive SubNavigation component in TDS

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

Existing Site Builder blocks example:
1. Exam

[2019-02-04 15:55] invalidred commented on #174
I believe Nutella has created a sub-nav for one of their projects. Here is the Repo https://github.com/telus/my-account-elements-api/tree/master/src/ui/components

[2019-02-04 16:55] Berjesty commented on #62
@sketchidea for sure, sent you an Invision invite and added you the project.

[2019-02-04 17:15] DJDA commented on #61
Hi all - we are also exploring use of a modal for Login for the new renewal flow.  See this clip for a demo of the interation:

[2019-02-04 18:17] varunj90 commented on #174
@brianlam1 is this something GE will own or are we okay to build a TDS community component?

[2019-02-04 18:22] brianlam1 commented on #174
Hey, @varunj90 @nikaukraine I think we'll definitely do the design for this. Is there time constraints to when we want to address this?

I think it makes sense for GE Team to build it and contribute it to where it makes sense. Site Builder? TDS Community?

[2019-02-04 20:03] varunj90 commented on #31
closing due to duplicate issue.

please refer: https://github.com/telus/tds-community/issues/174

[2019-02-04 20:22] abansil commented on #174
Hi - from a design POV was last discussed with myT (@Berjesty), TDS (@lucy) and GE in Nov. Notes here: https://docs.google.com/document/d/1ddPyjRU-8oit6thVKUUKRDdaz9E7FxMOvzNs6-znyqQ/edit

GE has sub-nav standards & design work in backlog. Good timing as we wanted to prioritize this in Feb/Mar.

Can we outline problem statement with DPA/cross teams before getting into design work?

[2019-02-04 21:18] varunj90 commented on #174
Requirements as discussed in DPA for in page navigation

- dropdown on mobile
- sticky on the top

[2019-02-04 21:33] varunj90 commented on #31
This issue is reopened as this will be owned by Global Elements team and @abansil will assist in getting requirements in.

In-page navigation can be referenced here https://github.com/telus/tds-community/issues/174

[2019-02-04 21:53] varunj90 commented on #174
@abansil and @philroberto to define the issue, requirements and usage criteria for this!

[2019-02-05 14:42] invalidred commented on #88
Had a discussion with @mujtabahasni this morning about named export for `SkeletonProvider` in `@tds/community-skeleton` and it would be better to keep `SkeletonProvider` in a separate package

❌  `import Skeleton, {SkeletonProvider} from '@tds/community-skeleton'`
✅  `import SkeletonProvider from '@tds/community-skeleton-provider'`

The reason being
- The chance of using `SkeletonProvider` and `Sk

[2019-02-05 16:25] varunj90 opened #175 "Universal pattern for close and 'x'"
Based on the discussion on February 4, DPA realized that a pattern needs to be defined for close and x icon next to it. Currently, lots of variations exist and we need to work together in defining a standard way.

## Variations
Close x
close x
x Close
x close

## Problem Statement

- As a designer, I would like to see a consistent pattern for 'Close', 'x' so that the customer sees a consistent exp

[2019-02-05 16:32] varunj90 commented on #175
@DougTelus and @twirlingsky: Please add recommendations or edit this ticket,

cc: @DanGenuardi and @stephlao

[2019-02-05 16:42] DougTelus commented on #175
I believe the pattern Laurel described to be the best variation.
Lowercase 'close' styled with TDS href link. DecorativeIcon symbol="times" to the right.
close x

[2019-02-05 17:04] varunj90 commented on #175
is the short term solution @DougTelus ? Or are we going to elaborate or work on this pattern further?

[2019-02-05 17:49] stephlao commented on #54
hey everyone! here are the latest sketch updates for the table chart
https://telus.invisionapp.com/share/USQCPTNHYFG

i'll update the close x option once everyone aligns on a certain pattern!

i'll be following up with anatolii and see if i've missed any dev considerations when he is back next week.

[2019-02-05 18:16] DougTelus commented on #175
@twirlingsky Were there any CX/accessibility considerations or testing scenarios that helped inform the "close x" pattern your HS has been using?

@varunj90 I'd like to avoid exploring this further if HS has already done the work and level set on this pattern.

[2019-02-06 21:51] abansil commented on #60
**DPA feedback**

- [ ] Caret visual design
- "It should be there", "Good visual representation", "Closer to input field"

- [ ] Is there a date range picker? Between x and y dates
- For MVP the calendar's req is to select 1 date for appointment scheduling
- Calendar is not recommended for DOB use

- [ ] Date picker IxD
- Customer can type into input field (calendar persists)
- Customer can intera

[2019-02-07 19:53] Mariefhrmnn commented on #167
@invalidred Here a new design idea to support your claim
![screen shot 2019-02-07 at 2 50 38 pm](https://user-images.githubusercontent.com/44266628/52438791-14b9a200-2ae8-11e9-935c-3154d9b004c2.png)
![screen shot 2019-02-07 at 2 50 46 pm](https://user-images.githubusercontent.com/44266628/52438794-16836580-2ae8-11e9-9e4b-e5eb26d7af81.png)

[2019-02-08 19:41] sketchidea commented on #48
Our team (HS R+L) will be building this component as we have a requirement for it in our current sprint.

[2019-02-11 14:54] marcod1419 opened #178 "[ProgressBar] use styled <meter> or <progress> instead of styled <div>"
## Description

The current `ProgressBar` does not get picked up at all by screen readers. Therefore, any information given by it is completely inaccessible to those using assistive technology.

This can most likely be improved by incorporating the HTML `progress` element. (See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress)

Another approach worth noting is one used for TELUS

[2019-02-11 21:16] simpleimpulse commented on #88
@theetrain and @invalidred to collaborate and figure out the impact of changing this component, while TDS transitions to NPM.

[2019-02-12 18:13] twirlingsky commented on #61
@DanGenuardi @DJDA

I have a couple of suggestions for a design revision over what is set in the problem statement:

- add close to the left of the x icon and link the word close. Both need to be purple to demonstrate that they are links
- try rounded corners on the modal (4px)
- bkg overlay, use shark grey at 60% opacity
- add guides to show box spacing
- ensure accessibility (before the modal is

[2019-02-12 20:06] gkychow commented on #61
@DanGenuardi - Agree with what @twirlingsky commented on.

A few other notes:
- Did we try a version (for desktop) which has a bit more padding or space around it? Because we're using 32px spacing around everything, it feels a bit too uniform.
- We should probably align with how "close" is displayed throughout the site for consistency.

[2019-02-12 20:32] gkychow commented on #23
@DougTelus - I agree with @Berjesty. V1 for mobile feels less intrusive than V2.

For the visuals, we should probably see if the "+/-" makes the most sense and whether there are other options on blending it with the footer a bit better. Is Steph going to be the one doing the visuals? I can work with her once the interactions are approved :)

[2019-02-12 21:30] twirlingsky commented on #23
In HS we have a sticky summary at the bottom. So we won't be able to align with any sticky T&C components.
![screen shot 2019-02-12 at 13 29 14](https://user-images.githubusercontent.com/22402633/52669174-48227500-2eca-11e9-80ff-8952458336d0.png)
![screen shot 2019-02-12 at 13 29 35](https://user-images.githubusercontent.com/22402633/52669180-49ec3880-2eca-11e9-911b-38d8b11789bf.png)

[2019-02-12 21:57] gkychow commented on #175
@DougTelus @twirlingsky - Besides the order of the "x" and "close", can we also align on spacing between elements, spacing around the whole thing, size of the "x", and text size as well?

[2019-02-13 16:17] DougTelus commented on #23
### **Update**

- added pricing lockup annotation concept
- updated the 'X Close' pattern in legal modals

[2019-02-13 16:56] twirlingsky commented on #23
A suggestion: close X (lower case on the close and X in the far right)
(This is the pattern we've been using...)

Also to add a comma between legal #s (eg. 1, 2, 3, 4...)

[2019-02-13 17:19] DougTelus commented on #23
TY, Great suggestions. Made the updates.

[2019-02-13 21:36] DanGenuardi commented on #61
@twirlingsky & @gkychow

Thank you for your feedback and suggestions. I have taken some of those suggestions and implemented some of them into the updated modal designs.

1. I have changed the background colour to Shark Grey and lowered the opacity to 75%. I tried out the suggested 60% and I felt like the content behind the modal was still visible enough to distract you away from the modal itself.

[2019-02-14 14:43] DanGenuardi commented on #61
@owestinTelus Could you please have a look at the most resent designs in this chain and let us know if the "x" icon would pass accessibility for closing the modal without the word close next to it?

[2019-02-14 15:05] Mariefhrmnn opened #182 "Optimization of toggle button's padding"
## Problem statement

When the developpers use our toggle button for the development of a page, there is a padding before and after the toggle button.
This padding doesn’t give the flexibility to follow the layout created by the designer.
So it’s impossible to aligne the text with the button on the same side.

## Recommendation

I would like that this padding is optional or deleted so that the ali

[2019-02-14 15:07] invalidred commented on #182
@theetrain would the above be a good use case for https://github.com/telus/tds-core/issues/430

[2019-02-14 15:21] DanGenuardi commented on #175
I found this example within the TDS design guidelines site.
<img width="1004" alt="screen shot 2019-02-13 at 2 35 03 pm" src="https://user-images.githubusercontent.com/39997967/52796611-29df8500-3042-11e9-8ed5-734081260ac0.png">

We just use the "x" as the dismiss button within this notification box. Is this something we can leverage? This is on TDS core so I would assume that this has been tested

[2019-02-14 15:43] owestinTelus commented on #61
It's always beneficial to include the 'close' with the [x]. That said, the [x] is a recognizable design pattern and is passable.

I'm more concerned about the need for you to use a modal at all. Most of the time an in page alert message or process step is a better solution. There is rarely a reason to interrupt the user flow.

If the modal is the best design pattern, please research and document a

[2019-02-14 16:01] philroberto commented on #61
@owestinTelus We've made sure to include your recommendations around usage, considerations
 and modal requirements ;-). I'd like those same considerations and usage to be echoed in the eventual documentation for this component.

@DanGenuardi thank you for doing your due diligence with this, it's great work. Please ensure that the usage and considerations up at the top of the page are referenced or

[2019-02-15 14:59] invalidred commented on #182
on closed inspect the space seems to be added due to an invisible `<input />` element taking up the space, this seems like a bug that need to be addresses on `<ToogleSwitch />` component.

![screen shot 2019-02-15 at 9 57 19 am](https://user-images.githubusercontent.com/5270458/52864525-58279800-3108-11e9-8b92-508f7eef6532.png)

[2019-02-15 18:32] bnadeem-telus commented on #182
This is a defect.  Anyone willing to fix this can create a pull request.

[2019-02-21 15:09] Mariefhrmnn commented on #182
@bnadeem-telus So do I need to create a pull request or @invalidred  will do that?

[2019-02-22 15:07] invalidred commented on #88
UPDATE:
spent time with @theetrain to update SkeletonProvider branch by rebasing it to use ` npm` and get rid of `yarn`. @theetrain suggested to QA it locally using `npm pack` command. On doing so found `<SkeletonProvider />` uses `shortId` module which uses `cluster` node module which does not work on Front End, thus breaking webpack build.

![screen shot 2019-02-22 at 9 59 35 am](https://user-im

[2019-02-25 18:25] twirlingsky commented on #48
Ribbon:

Usage criteria: for use on a product card to signify a term length contract on an offer (e.g. 2 year term)

![screen shot 2019-02-25 at 10 13 17 am](https://user-images.githubusercontent.com/22402633/53359308-6b481e00-38e7-11e9-8069-160353a9f70f.png)
![screen shot 2019-02-25 at 10 23 21 am](https://user-images.githubusercontent.com/22402633/53359310-6d11e180-38e7-11e9-9e31-d6da62d831e6.pn

[2019-03-01 07:17] renovate[bot] opened #188 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-03-01 18:14] nicmak opened #189 "(core team developing) new: Filters Tags"
## Problem Statement

As a customer I would want flexible way to filter through products I am looking for based on the filter tags I have selected (Whether I selected one or more tags).

**DEMO: Component is built already in Community-Site-Builder**
Check in DPA GDrive
**Issue Ticket written in Community-Site-Builder**
[https://github.com/telus/community-site-builder-blocks/issues/292](url)

## Re

[2019-03-01 19:17] brianlam1 commented on #60
Code was submitted for review as of mid-Feb

PR: https://github.com/telus/tds-community/pull/187

[2019-03-04 20:44] varunj90 commented on #189
@twirlingsky and @gkychow will be doing a design review to see what pattern works!

[2019-03-04 21:00] varunj90 commented on #175
DPA meeting

1. x and close with alt on desktop; mobile can have x only (due to limited space) with alt
2. do consider when doing in french
3. pass in language instead of word for consistency and provide appropriate options in usage criteria

[2019-03-04 21:10] varunj90 commented on #61
hey @DanGenuardi based on the dpa meeting today
1. need to fix the x and close based on https://github.com/telus/tds-community/issues/175 (look at last comment)
2. mobile taking entire screen: https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html
3. consider transition when motion and animation principles are available
4. shouldn't have access to back content of modal - high p

[2019-03-04 21:27] brianlam1 commented on #189
Just as an FYI, Site Search uses Pilters. It is not really "filtering" for all intents and purposes, but rather moving between different site-search engines.

@abansil on my team is looking at something different for us because these don't scale well, and in mobile its horrendous.

[https://www.telus.com/en/on/search](https://www.telus.com/en/on/search)

**Desktop**
![screen shot 2019-03-04 at 1 2

[2019-03-04 21:38] brianlam1 commented on #49
@abansil @uxjames this is a good one for us to start reviewing in the next few months.

I think our module system with the current design isnt 100% clear how many steps or where the customer is at in the check out process.

[2019-03-07 17:55] karlasamantha opened #192 "TDS Testimonial without drop-shadow"
## Question statement

- As a developer , I would like to ask, if there's a possibility to extend TDS Testimonial component to have the flexibility of not having drop-shadow and different font sizes

## Recommendation

- Add an option of removing drop-shadow from the component
- Possibility of having smaller font size

## Design intent

![screen shot 2019-03-07 at 9 50 34 am](https://user-images.g

[2019-03-08 18:38] invalidred commented on #192
@agorovyi thinks that from Dev perspective this should not be too hard to accomplish, however we need design approval.

[2019-03-08 18:43] invalidred commented on #178
Do we know of a team that uses `<Progress />`? @bnadeem-telus is the a dev in you tribe that can look into this?

[2019-03-08 18:54] Andrew-K-Lam commented on #60
@brianlam1 Hi Brian, I'm confused, what does that PR (https://github.com/telus/tds-community/pull/187) have to do with with a new calendar picker?

[2019-03-08 21:42] karlasamantha commented on #192
my team has consulted with @gkychow and he approved this design

[2019-03-11 19:45] invalidred commented on #112
So had a discussion with @Apurv Ray and here is a summary

![Toggle - new](https://user-images.githubusercontent.com/5270458/54152867-9f0d6280-4414-11e9-9805-4acfcdfd156e.png)

1. We will have a `label` on left side of the _ToggleSwitch_ that will never change that talks about what the _ToggleSwitch_ represents example: (Do you want paper bill ?)
2. We will show a `value/description` string that w

[2019-03-11 20:27] varunj90 commented on #153
Hi @Mariefhrmnn, @apurv.ray is working on the design for this: https://github.com/telus/tds-community/issues/112

we will have a recommendation for this soon.

[2019-03-11 20:28] theetrain commented on #192
Hi @karlasamantha,

This was reviewed by the DPA and we agree the community testimonial component can be enhanced to completely remove the card surrounding the component. If anyone wants a testimonial within a card, they can do so manually.

Designer comments: go ahead with removing the card
Developer comments: this should be a breaking change `v1.03 -> v2.0.0`

We need a designer and developer pa

[2019-03-11 20:29] varunj90 commented on #48
@sketchidea are you/ your team still planning to develop this component?

[2019-03-11 20:56] Mariefhrmnn commented on #153
Hi @varunj90
I am happy to know this good news!

[2019-03-12 13:52] varunj90 commented on #62
hi @Berjesty since this ticket is in development (both design & dev), and @sketchidea is developing it, can you add the final design to DSM.

@sketchidea hope you're working off Berjesty's design file

[2019-03-12 13:53] varunj90 commented on #60
hi @abansil and @fzero what is the status on this for design and development?

[2019-03-18 16:12] twirlingsky commented on #189
Current designs: https://telus.invisionapp.com/d/#/console/16401801/351196659/preview

XL prototype: https://telus.invisionapp.com/d/#/console/16401801/350989521/preview

Have reviewed these with Gary & Beth. Need to put them through a round of usability testing next.

[2019-03-21 13:35] mujtabahasni commented on #88
@theetrain @invalidred Is there a status update for this issue?    Thanks

[2019-03-22 16:52] donnavitan commented on #112
As per our touch base with @owestinTelus @invalidred, we need to realign on the problem we're trying to solve. I'm just capturing some notes for reference:
* The original ask had 2 items for discussion: moving the toggle to the right, and adding a status below the label.
* Further discussion grew around the addition or inclusion of value/description and the a11y considerations surrounding it's use

[2019-03-22 19:11] jesdavpet commented on #112
**Question:** if the toggle UI component is *so difficult* for customers to decipher visually, that we need to resort to text hints to describe it as "on" / "off" ... isn't the UX of a toggle already pretty clearly broken?

What value *does* a toggle provide that a checkbox *does not*?

[2019-03-25 19:27] varunj90 commented on #192
hey @karlasamantha can anyone on your team make changes based on @theetrain comments: has to be designer/developer pair.

[2019-03-26 22:31] nicmak commented on #48
Hi Everyone, our designer Francisco has new designs @twirlingsky
![ribbons](https://user-images.githubusercontent.com/22725151/55037793-21cd1a80-4fdc-11e9-8a0f-6d6381d71f92.jpg)

[2019-03-27 16:54] jraff opened #198 "Side navigation enhancements"
## Recommendation

- Animation on clicking submenu
- Consistent spacing above and below the sidenav (verticalSpacing)
- Added spacing above and below list of links in the submenu
- Reduce font size of submenu link from 16px to 14px

## Designs

- Sketch file: https://invis.io/a/YK5A9AYDDTR6

### Out of scope

Adding notes for future reference:

- The dimple shadow looks different on the coded comp

[2019-03-27 16:55] jraff commented on #198
Fixed with @tds/community-side-navigation@1.1.0 https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-side-navigation%401.1.0

[2019-03-27 16:55] #198 closed

[2019-03-27 17:13] karlasamantha commented on #192
hey @varunj90 I can work on the dev part, unfortunately my team does not have a designer. can I try pairing with Gary if he's available?

[2019-03-27 17:23] donnavitan commented on #112
As per my discussions with Apurv and @invalidred, we've agreed to the following:
* Design review if label can be regular (I will take this away and provide examples for review at the next DPA). May be similar to a singular checkbox (i.e. I consent). May lose same level hierarchy with like form fields.
* Agree to not include value description (native behaviour for checkbox will suffice). Examples h

[2019-03-27 17:57] donnavitan commented on #112
Hello @jesdavpet, we do find value in having a toggle as it provides a better UX experience. The biggest UX value is having an instantaneous response to user action. Visually, the toggle is "switched on" and the expectation is that user action has been applied.

Addressing prior comments, we've agreed to take up some of the suggestions. As for the other comments, we'll provide better documentation

[2019-03-27 20:28] elenaverling opened #199 "Preview Card"
## Problem Statement

Due to a security breach, we need to move the TELUS Digital blog onto SiteBuilder from October CMS. Currently, none of the TDS cards would fit the requirements so I'm proposing myself and Hamed/Andrew Lam create a 'preview card' community component.

## Recommendation
Each preview card will display the title, date, author, tag and relevant image. Mandatory fields are body and

[2019-03-29 13:21] invalidred commented on #88
Had a meeting with @apurvray to discuss missing Image _square_ shapes in `<Skeleton />` component and he said that from UX/UI perspective we can easily represent that with a _circle_ shape which the `<Skeleton />` component already supports. So there is no value in adding a _square_ or _rectangle_ shape to `<Skeleton />` component. @mujtabahasni was okay not including _square_ shape in `<SkeletonP

[2019-03-29 18:28] varunj90 commented on #23
core team is taking ownership for this component

cc: @Christina-Lo

[2019-03-29 18:42] varunj90 commented on #34
Closing due to duplicate: #189

[2019-03-29 18:42] #34 closed

[2019-04-01 15:53] donnavitan commented on #48
Connected with Francisco regarding "ribbon".

Please review the following file: https://invis.io/a/HJ5CGILLKWQT
Please make sure that you sync/update the file here: https://telus.invisionapp.com/d/main#/projects/prototypes/13362811/assets

I've done the following:
- Height: 32px
- Minimum Width: 131px
- Updated typography rules (it should align with existing text/medium/* styles (but now available

[2019-04-01 17:36] donnavitan commented on #48
Oh! If it's released in code, then:
* Add "ribbon" symbol to the TDS Community DSM library under "Components (coded)"

[2019-04-01 19:30] Mariefhrmnn opened #200 "New tab to save multi card"
## Problem Statement

- As a customer I would like to add/save multi cards on my profile so that I can to pay different bills that I have.

## Recommendation

The proposed solution is to develop a clean simple tab structure with the purple line highlighting the selected section. And for every selected section, the content will change.

## Designs

- Screenshots
![Screen Shot 2019-04-01 at 12 32 41

[2019-04-01 20:36] varunj90 commented on #35
closing as its duplicate, please refer to #200

[2019-04-05 14:20] donnavitan commented on #48
Hello folks, as per my discussion with Francisco, I've added the ribbon component in TDS Community DSM library under "Components (not coded)". When dev is completed, we can move to "Components (coded)". Cheerios!

[2019-04-05 15:18] varunj90 commented on #192
yes @karlasamantha please connect with @gkychow if he has cycles, otherwise the core team designers can assist, let us know :)

[2019-04-05 15:28] donnavitan commented on #60
As per my discussions with @uxjames, and the latest designs found within TDS community DSM library. We've made updates to make the details further align with TDS text/layer styles, as well as box sizing/spacing while trying to stay as close as to the provided/approved designs.

https://telus.invisionapp.com/dsm/telus/tds-community/folder/components/5c6c4c52038f5f0ac720a712

h2. Out of scope, futur

[2019-04-05 15:53] donnavitan opened #202 "Enhance inline calendar picker"
## Problem statement
As a customer I need the ability to view time and date availability to select a single installation appointment for a technician to come and install a TELUS product or service at my service address.

## Recommendation
- Enhancement to inline calendar picker

## Design intent

As a customer I want to see a reasonably sized inline calendar picker so that when I'm choosing dates

[2019-04-05 15:54] sketchidea commented on #48
Acceptance criteria added

[2019-04-05 17:16] Christina-Lo commented on #62
@sketchidea here's an invision link (inspect mode) for reference on the changes Jordan has provided https://telus.invisionapp.com/d/main#/console/13362811/356557071/inspect

[2019-04-08 18:08] invalidred commented on #200
@donnavitan  make sure the content in the tabs panel does not affect content in other tabs panel. For example a form in Tab A should not interact with a from in Tab B.
@apurvray visual queue when tabs are overflow.
@owestinTelus https://inclusive-components.design/tabbed-interfaces/

[2019-04-08 18:21] owestinTelus commented on #200
Remember to document accessibility considerations should be based on

**Desktop:**
• Keyboard alone
• Text Resize
• Colour Contrast
• Windows High Contrast Mode
• Reduce Motion
• Screen reader

**Mobile Web:**
• Switch access/control
• Pinch ZoomColour Contrast
• Inverse Colour/Grayscale
• Reduce Motion
• Screen reader

**Mobile Native Apps:**
• Switch access/control
• Larger Text
• Colour Contras

[2019-04-08 18:32] mattsies opened #203 "Sticky Header Mobility Configure"

[2019-04-08 19:15] twirlingsky commented on #21
![Screen Shot 2019-04-08 at 12 10 28 PM](https://user-images.githubusercontent.com/22402633/55750234-b2055980-59f7-11e9-9848-22c9cfabfe87.png)
![Screen Shot 2019-04-08 at 12 10 36 PM](https://user-images.githubusercontent.com/22402633/55750253-bcbfee80-59f7-11e9-8325-df47d0e716f4.png)
![Screen Shot 2019-04-08 at 12 10 57 PM](https://user-images.githubusercontent.com/22402633/55750266-c5b0c000-59f7

[2019-04-08 20:07] theetrain commented on #50
Some thoughts from the Digital Platform Ambassadors meeting
- Possibly rename it to 'content slider' to imply its usage
  - Depending on the use cases we decide to cover, there may be more than one kind of carousel: showing one frame of content at a time, showing multiple frames of content at a time, cycling through
- Advise using it with non-essential content
- Avoid autoplaying content for the s

[2019-04-08 20:42] #203 closed

[2019-04-08 20:43] mattsies opened #204 "Sticky Header Mobility Configure"
## Problem Statement

- As a customer buying or renewing a phone , I would like to see a tally of my device, financing and plan price , so that I can understand how much I'm saving, spending , and what is due today #noMentalMath

## Recommendation

- Our sticky header shows customer their savings, as well as a breakdown of monthly and upfront cost.

## Design intent

-A feature that is always visi

[2019-04-08 20:59] donnavitan opened #205 "Review usability and accessibility of infinite scroll"
## Description
* Infinite scroll is inherently inaccessible and not ideal for accessibility
* Not ideal for use where other content appears below the loading content such as footers
* Consider the ability to return to scrolled page/area where the user clicked into
* Anything can be made accessible, but should they and are they worth the effort
* Will need to be explored/reviewed by CX/design direc

[2019-04-10 17:52] varunj90 commented on #204
@Berjesty / Brian M can you bring this to DPA next Monday? I've added this as an agenda item. Given nature of tallboy (NDA), please consult with your team about how to bring this into a discussion with DPA.

[2019-04-10 18:09] marshjr commented on #204
The "sticky" bar has not yet been designed or really thought out yet and will be the focus of the next sprint (starting tomorrow). Happy to contribute to this ticket once we have some concrete foundations set out.

[2019-04-11 00:43] meg-bee opened #206 "ProgressBar alternate use for Rewards"
## Problem statement

As a user, I would like to see how close I am to affording a reward on TELUS Rewards

In the current launched version of the reward details page, when a customer does not have the required points balance to afford an award, they are presented two CTAs to go back to the catalogue or learn about rewards. They’re missing two crucial bits of information: their current points bala

[2019-04-12 19:51] varunj90 commented on #54
Currently paused as @stephlao and team are working on something else and will get back to this once their feature is pushed up

[2019-04-15 19:46] varunj90 commented on #206
DPA meeting notes
- showcased the progress bar on the overview page, thinner progress bar
- opportunity to squish the content

Next steps:
- Have a proposal from TELUS Rewards

[2019-04-16 17:47] donnavitan commented on #112
As per discussions and a11y considerations, we've agreed to the following:

Toggle switches are digital on/off switches. They prompt users to choose between two mutually exclusive options and always have a default value. Toggles should provide immediate results. They are best used for changing the state of system functionalities and preferences.

Usage criteria
- Must provide concise, non-neutral

[2019-04-17 14:03] meg-bee commented on #206
I've updated the Invision link above with the updated version of the progress bar (thinner, less surrounding text). I've also attached some examples from other loyalty programs that informed our design intent. @varunj90 if I move this ticket to design review, will one of the DPA designers have a look and let me know if the usage of the progress bar requires the full DPA process, or if it is a use

[2019-04-17 17:47] nicmak commented on #48
Starting Development today

[2019-04-17 23:17] jesdavpet commented on #112
Thanks for the follow up @donnavitan.

BTW, I really like the consideration that's been put into the component-level design you posted!
🔥🔥🔥

Regarding this requirement ...

@invalidred Do you think from a code perspective it would make more sense to consider this component as a button element, rather than a form input element?

In retrospect, I feel like a lot of the confusion around the first ite

[2019-04-18 12:54] invalidred commented on #112
@jesdavpet i think you are correct, a button makes perfect sense since one of the design intents is:

So an `<input type="checkbox"/>` does not innately provide immediate result, it needs to be wrapped in a form with a `<button type="submit" />` to make the change happen; as you've correct identified.

BTW I did some research and found:

1. [Inclusive Design Component](https://inclusive-components

[2019-04-18 22:48] twirlingsky commented on #21
![Compare Cards](https://user-images.githubusercontent.com/22402633/56395919-6cb00b80-61f1-11e9-8bd6-3516180bdc69.jpg)

[2019-04-22 16:58] varunj90 commented on #206
hey @meg-bee added you to the agenda today to go over the updates to this ticket!

[2019-04-22 18:25] varunj90 commented on #62
Pagination component is now available!
Release notes https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-pagination%401.0.0
sketch: Design System Manager: tds_community v1.0.17

[2019-04-22 18:25] #62 closed

[2019-04-22 19:14] apurvray commented on #61
Guidelines for modals and dialogue boxes .. in the document linked below

https://docs.google.com/document/d/1yLYnLHIaSVId7jlppsvhoS72PhzqyPd6FUVuCko1zAM/edit?usp=sharing

[2019-04-22 20:11] varunj90 commented on #21
DPA discussion

1. can we use price lockup in card addon/hardware - 9.54/ month to be consistent
2. Card plan - corner colour feature needs to be looked at a little more and won't be added into DSM for now
3. content/verbiage - francisco and laurel to fix it, specifically /month vs per month (connect with content/ CX )

@twirlingsky can you update the above designs

Also great job in categorizing

[2019-04-23 13:44] varunj90 commented on #206
April 22 DPA Discussion

- Opportunity to update code and DSM of progress bar component to have thick/thin
- Differentiate via colors? Use the TDS green and progress bar colors
- Usage criteria can indicate what should be used for points / or x amount of data

Next steps

- Enhance code and design for progress bar component, along with usage criteria in docs
- Look into existing TDS box spacing [D

[2019-04-24 13:07] invalidred commented on #112
Implementation details revisited:

1. Use `<button />` with _role="switch"_,  _aria-checked="true|false"_ and _aria-labelledby="element"_ attributes instead of `<input />`
`<button role="switch" aria-checked="true" aria-labelledby="notify-email">`
2. Use a `<span>` instead of a `<label>` to label the `<ToggleSwitch/>` as labels are used for [_input_](https://developer.mozilla.org/en-US/docs/Web/HT

[2019-04-24 16:42] donnavitan commented on #112
Thank @invalidred and @jesdavpet for thorough addressing of concerns! As per our discussion and as noted, we'll have to take the following back to design review. Expanding the two designs concerns further:
* Loading state for toggle: Use existing designs if possible. May use existing spinner component (apply on toggle only). Else, more options needed.
* Should "label" be clickable. Preferably, we

[2019-04-26 17:10] invalidred commented on #88
@mujtabahasni to remove code to support square images and update docs. Once that's done, we'll push it to prod.

[2019-04-26 17:13] nathanmarshall commented on #206
@meg-bee Do you have a developer/designer pair lined up for this ticket?

[2019-04-26 17:55] nathanmarshall commented on #206
@meg-bee  User stories have been updated for this ticket. Please review when possible.

[2019-04-26 19:12] meg-bee commented on #206
@nathanmarshall I don't have a DPA designer lined up, no. Does this ticket require further design than what's been captured already? I believe we have development covered, our team spoke with Ally Hui on the MyTELUS team about using the thin progress bar component, and she'd provided them with what they need.
Thank you for updating the user stories! They look good to me.

[2019-04-26 21:28] varunj90 commented on #206
hey @meg-bee the progress bar component needs to be enhanced both in design and code.

in addition, we recommend you to enhance the component so we're not just keeping the code private and is shareable.

cc: @ah-arch and @apurvray can you assist please

[2019-04-29 13:39] donnavitan commented on #61
I wanted to include the following spinner design for consideration and as a reference to the treatment of the background overlay as approved by @gkychow: https://telus.invisionapp.com/share/4ARREY09XVM

Background overlay
* 100% height and width of viewport
* White (#FFFFFF)
* 94% Opacity

Example:
![image](https://user-images.githubusercontent.com/21316148/56899904-9aebe180-6a62-11e9-8ce9-d07a33a

[2019-04-29 13:39] ah-arch commented on #206
I referred them to the [usage bar](https://github.com/telus/my-account-overview/tree/master/app/src/ui/components/ServiceCards/ComponentUsage/UsageBar) for the overview project ([invision](https://telus.invisionapp.com/d/main#/console/16275051/337880622/preview)). However, that was set to a height of **10px** and launched before the TDS community version was available.

I am not aware of the requi

[2019-04-30 13:59] varunj90 commented on #206
DPA 29 April

Based on our discussion, @apurvray (with support from @Christina-Lo ) will add update progress bar community component in DSM to enable the feature required in this ticket.

on completion, either a developer from your team @meg-bee or @ah-arch, if you can update code to the component that would be great. this way both of you will be able to consume tds community component in your app

[2019-05-01 20:09] elenaverling opened #214 "BlockQuote"
## Problem Statement

For large bodies of text, we currently have no styling for pull-out quotes. It's important to have a TDS approved component for consistency, and so the text tag is not labelled as a H2/H1 for accessibility.

## Design intent

  - Create a TDS styled pull-out quote.
- As a content creator, I want to be able to break up long content with meaningful quotes where necessary, so th

[2019-05-01 20:12] elenaverling commented on #214
This has already been brought to the DPA meeting as part of the blog UI sign off. We're now making it a community component for others to use.

[2019-05-02 15:45] donnavitan commented on #112
As per discussion with @apurvray and Ani, we're working on enhancing TDS core spinner component to allow use on smaller interactive elements beyond the button element. It can be used for toggle to indicate loading state.

[2019-05-03 19:58] ah-arch commented on #62
Just some feedback:
- When there is only 1 panel, it crashes with the error `TypeError: t.props.children.map is not a function`.
- [WCAG 2.1 guidelines](https://www.w3.org/WAI/WCAG21/Understanding/target-size.html) for target sizes are 44px by 44px, but the buttons are set to 32px by 32px for mobile.

[2019-05-06 15:52] varunj90 commented on #214
@elenaverling will bring this to DPA today

[2019-05-06 17:40] varunj90 commented on #23
Even though the core team is building this component - changing type to discussion so Doug gets credit for all the great design research he did

[2019-05-06 18:50] twirlingsky commented on #21
![Compare Cards](https://user-images.githubusercontent.com/22402633/57247584-17e40180-6ff5-11e9-8910-683dd30dde43.jpg)

[2019-05-06 20:18] varunj90 commented on #206
- naming components (small, large, adding a thin version)
- Apurv to ask Ally if she can contribute to the community component
- Please consider usage guidelines

[2019-05-06 21:04] ah-arch commented on #206
The [community component](https://tds.telus.digital/community/index.html#progress) currently has 4 variants:
![Community Variants](https://user-images.githubusercontent.com/4450690/57255060-de28f000-7020-11e9-9492-229ddfef6ea1.png)

However, the [overview app](https://telus.invisionapp.com/d/main#/console/16275051/337880622/preview) currently uses 2 different variants:
![Project Variants](https://

[2019-05-07 15:57] twirlingsky commented on #21
![CompareCards](https://user-images.githubusercontent.com/22402633/57313998-9ef0b280-70a5-11e9-9c01-a041e0189da9.jpg)

*Note: These cards appear in a grid layout and it is intended that all the elements line up left to right and that the cards are the same height. So vertical breathing room  is required (below the second benefit line usually)

Also, currently we don't have a direct add to cart in

[2019-05-07 16:34] donnavitan commented on #21
Consider adding usage guidelines to address the following:
* Will the card with fibre corner be excluded from being added to the DSM? If it is included, will it have a disclaimer that this is currently not available as component or variant of card?
* What is the breakpoint for the card being a set width? When does it become a responsive component (expand to 100% width)?
* How many can be shown in

[2019-05-07 18:43] donnavitan commented on #60
Due to recent discussions in TDS support, development might not resume until after June. However, the designs are ready for use in TDS community DSM library under "Components (not coded)" should you want to reference them in your design.

[2019-05-07 19:13] twirlingsky commented on #21
Added to DSM with guidelines

[2019-05-08 15:01] theetrain commented on #206
@apurvray to take back the following:

- [ ] Align on variants for community-progress vs the ones used by My TELUS (hashed red vs red, green vs accessible green, disabled vs Athens Grey, etc)
- [ ] Assure symbols available in DSM get aligned with code

[2019-05-08 16:08] ah-arch commented on #61
- A consideration would be to let the modal wrapper contain elements with flexible sizes rather than fixed responsive widths.

The overview app currently has a full-screen modal / overlay - with a X button that has hidden content reused from the link "_Continue in browser_":
![modal](https://user-images.githubusercontent.com/4450690/57389153-97093f00-7187-11e9-8fc2-469cc3413de1.png) ![wall](https:

[2019-05-08 19:43] elenaverling commented on #214
I've added BlockQuote to InVision and DSM and written content criteria with Chantelle (content manager). I will need @Christina-Lo or @donnavitan to overlook the Sketch file as I'm not sure if I need to put padding in if there's only one item of text? Let me know!

[2019-05-09 14:14] apurvray opened #216 "Component level loading spinner"
## Problem statement

- As a user , I would like to see if the action I performed on a component that sends a server side request was successful or failed  , so that I can take an informed next step_

## Recommendation

- Adding a smaller version of the spinner with 'white-out' on smaller components like links or checkboxes or toggle buttons with a size of 24x24 (thats the line height of our mediu

[2019-05-09 14:29] varunj90 commented on #216
Hi @apurvray given spinner is a core component - please reopen this issue in tds-core https://github.com/telus/tds-core/issues/new/choose

thank you!

[2019-05-09 14:44] #216 closed

[2019-05-10 17:03] donnavitan commented on #214
Hello @elenaverling, thanks for sharing! Let me know if you have any questions with the recommendations below. And if you'd like to design pair, I'll be available.

**Recommendations**
- Edit best practice bullets to have positive and active language, especially when they are
-- recommendations and not a hard no or breaking requirement
-- Could include advice on how/when to use
-- Remove "From a m

[2019-05-10 23:00] karlasamantha commented on #192
See #215

[2019-05-13 14:48] agorovyi opened #218 "Add ability to customize appearance of Testimonial Component"
## Problem statement

- As a Developer, I would like to have an ability to customize styling of [community-testimonial](https://tds.telus.com/community/index.html#testimonial) component, so that I can make it more prominent to accommodate stakeholders' request.

## Recommendation

- Enhance <Testimonial /> Component with props to accommodate flexibility in styling text and author info in testimoni

[2019-05-13 14:59] apurvray opened #219 "Pagination : left vs center alignment"
## Problem statement

- As a user utilizing a screen magnifier, I would like to be able to see the pagination in full within my magnified viewport, so that I can take in all the information at once_

## Recommendation

Allow designers and devs to set the alignment of the pagination component to left aligned if teh viewport is larger than 768px.

## Design intent

(This space is intentionally left

[2019-05-13 15:26] theetrain commented on #199
The Preview Card component is now available!
- DSM: tds_community v1.0.18
- Release notes: [@tds/community-preview-card@1.0.0](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-preview-card%401.0.0)
- npm: https://www.npmjs.com/package/@tds/community-preview-card

[2019-05-13 15:26] #199 closed

[2019-05-13 16:40] charliehay commented on #61
Would it be possible to change the "cancel" link to a button? The current design language states that links change the url, however in the case of a modal the url wouldn't change at all. I know we don't have a white button with gray text - but maybe this could be a solution as well?

[2019-05-13 17:57] donnavitan commented on #214
Just adding a note that I'll be design paring with @elenaverling this coming Wednesday. We'll work on making applying these updates. Thanks!

[2019-05-13 18:25] stephlao commented on #218
![testimonial-quote-mockup-mobile](https://user-images.githubusercontent.com/43385412/57644822-ecc85780-758a-11e9-9ec1-a11824cee643.png)
![Uploading testimonial-quote-mockup.png…]()

[2019-05-13 18:26] stephlao commented on #218
![testimonial-quote-mockup](https://user-images.githubusercontent.com/43385412/57644874-12edf780-758b-11e9-9ace-13f22386cc86.png)

[2019-05-13 18:26] stephlao commented on #218
![testimonial-quote-mockup-mobile](https://user-images.githubusercontent.com/43385412/57644914-27ca8b00-758b-11e9-806a-bcaa402a1dae.png)

[2019-05-13 20:15] ah-arch commented on #219
Just some feedback - ([was posted in a closed issue](https://github.com/telus/tds-community/issues/62#issuecomment-489221327)):
- When there is only 1 panel, it crashes with the error `TypeError: t.props.children.map is not a function`.
- [WCAG 2.1 guidelines](https://www.w3.org/WAI/WCAG21/Understanding/target-size.html) for target sizes are 44px by 44px, but the buttons are set to 32px by 32px fo

[2019-05-13 20:17] varunj90 commented on #219
DPA discussion
- left aligned on larger viewports
- mobile would be centre aligned

other pagination enhancement opportunity
- apurv mentioned minimum spacing at hit area size, recommended 44 px over 32px
- looking into keeping desktop and mobile for # of options consistent

[2019-05-13 20:29] varunj90 commented on #200
my telus is not pursuing this, using select vs tags!

[2019-05-13 20:29] #200 closed

[2019-05-14 14:57] varunj90 commented on #192
hey @karlasamantha thanks for making a PR, in order for the code to be approved, can you send us the updated designs for this PR.

all components need to be consistent both in design and code. let us know.

[2019-05-14 15:07] varunj90 commented on #218
Changes Summary

- H2 instead of text
- Card is optional
- Image is optional and replaced by green bar

Discussion

- Doug - What’s the difference between blockquote and testimonial
Blockquote - editorial, copy
Testimonial which has a quote
- Purple line vs it being green can be an option | green should not be used
- Emphasis should be in quote vs author
- Line works better if it covers both quote

[2019-05-14 20:24] karlasamantha commented on #192
Hey @varunj90 does this one work? let me know.
![Screen Shot 2019-05-14 at 1 07 18 PM](https://user-images.githubusercontent.com/1015398/57729669-9b33d180-764b-11e9-8703-87da641be014.png)

[2019-05-14 21:10] varunj90 commented on #192
can you share the design file link on sketch/invision?

it will have to be reviewed by another designer as well. exactly how we are doing in code

[2019-05-14 21:27] karlasamantha commented on #192
@varunj90 ah gotcha! I'll ask Gary to send them over. Thanks!

[2019-05-15 18:00] donnavitan commented on #218
Validate the need to change text to H2. It can be styled as H2 but making it semantically an H2 may interfere with content order. Are testimonials considered landmarks for the content flow of the page, or flavour?

[2019-05-15 18:07] stephlao commented on #218
@donnavitan

Reasons for update
1. stakeholder request to be able to pair a quote block in a half block situation
2. have the text stand out a bit more as it gets lost with business side pages since we are more content/information heavy
3. our current styling of our testimonial block is paired with a massive hero banner and does not feel appropriate with the way we are making it. So ideally gettin

[2019-05-15 18:22] stephlao commented on #218
it would be styled H2 i'm not sure how it would go semantically maybe @agorovyi can advise on this portion or maybe @donnavitan do you have any tips on how we could make this work?

[2019-05-15 19:39] donnavitan commented on #218
Hello @stephlao, thank you so much for this! Let's connect tomorrow to review and get it design approved. After, we can work together on making it responsive for Sketch, as well as supporting documentation.

Let me know if you have any further questions! Cheerios!

[2019-05-15 21:28] donnavitan commented on #218
Hello all, met with @stephlao and @agorovyi to discuss and here are some updates:
* Great examples!
* @stephlao to provide visual example specifications (see attached image below)
* Consider using blockquote element for semantics and ability to style text as H2, similar to https://github.com/telus/tds-community/issues/214

Next steps:
* @donnavitan to confirm if the change to H2 style should be ba

[2019-05-16 19:20] donnavitan commented on #218
Hey hey y'all, updates:
* Design direction is to make sure all testimonials are the same visual styling (big, purple text) which makes this update a breaking change as defined in the [TDS FAQ regarding versioning](https://tds.telus.com/faq.html)
* The intention is to make sure that components, and the TELUS experience at large, are consistent
* Go forth and may all your testimonials be positive!

[2019-05-16 20:39] stephlao commented on #218
![testimonial - specs ](https://user-images.githubusercontent.com/43385412/57885307-a841f380-77f8-11e9-809a-406498972564.png)
![testimonial specs - mobile ](https://user-images.githubusercontent.com/43385412/57885309-a8da8a00-77f8-11e9-827d-85afe4633a85.png)

here are the updated mocks

[2019-05-16 21:08] donnavitan commented on #192
Hey hey y'all! After speaking with CX and CPP (Site Builder team), the consensus is to build the TDS community component and the Site Builder component in the same manner. This will remove any confusion and disparity when working with both, as a designer, developer, and content practitioner.

I'll be able to help you with the artwork for Sketch DSM library.

Adding the screenshot from our discussi

[2019-05-16 21:26] donnavitan commented on #218
Awesome socks! Will connect with you again for next steps in building the DSM library component(s).

* Please add your working file here: https://telus.invisionapp.com/d/#/projects/prototypes/13362811/assets
* As per established naming pattern: TDS-Community-218_Testimonial.sketch

 Thank you!

[2019-05-16 21:58] agorovyi commented on #218
@stephlao Great work! 🎉

[2019-05-17 18:08] Christina-Lo commented on #21
@twirlingsky thanks for adding the guidelines, they look great! I did a desk check on the DSM component and have some edits. Let us know if you have any questions

- On all cards, change H3 so that it reflects what the label is for
- Naming should follow format on DSM right now
TV Plan, 2 year term > comparisonCard/tvPlan/term
TV Plan, no term > comparisonCard/tvPlan/noTerm
Internet, no term > com

[2019-05-17 20:25] twirlingsky commented on #21
Thanks @Christina-Lo - will update the designs. And re-post to the community

Note: card/default is missing the 1 px #D7D7D7 outline and the 4 px rounded corners.

[2019-05-17 21:49] twirlingsky commented on #21
Updated in TDS Community.

*Note: The ribbon is quite a bit larger vertically than it was formatted before. To me, it looks a bit bulky - but I guess we've decided on this. The Price lock up with the ribbon might be made into a new component - there isn't anything in TDS to align this with (although I've just layered the ribbon on top of the large price lockup)

(Sorry for not having all the TDS-c

[2019-05-21 20:28] donnavitan commented on #218
During Sketch component review for DSM library, we need to redress the need that testimonials will actually have a lot of text. Displayed with the same weight as a heading H2 style, may be too much. See live: https://www.telus.com/en/about/careers
Also attached screenshot for reference:
![image](https://user-images.githubusercontent.com/21316148/58128203-0ef25300-7be5-11e9-884d-2aed78978663.png)

[2019-05-21 20:38] donnavitan commented on #192
Need to confirm with CX that the testimonial should be set at 20px font size as per design in TDS component. Live example shows it displaying at 16px font size (as per Site Builder component). We want to be as consistent and have our components be 1:1 for TDS and Site Builder components where possible.

Design thus far:
![image](https://user-images.githubusercontent.com/21316148/58128942-b58b2380-

[2019-05-21 21:09] Christina-Lo commented on #21
@twirlingsky thanks for updating them in DSM! They look great :)
I brought the card default not having the 1px border up to CX and we are most likely going to update that. As well, I'll talk to the team about the price lock-up with the ribbon, in the meantime if you could start an issue on TDS-core so we can keep track of conversations there https://github.com/telus/tds-core/issues/new/choose

[2019-05-22 13:30] donnavitan commented on #218
Status update: reviewing with CX regarding allowing testimonial component to allow for 2 variants: short and long (not to be confused with the terminology of small and large as they have been historically applied as breakpoints for box sizing in terms of component naming).

[2019-05-22 13:37] donnavitan commented on #192
@karlasamantha confirmed with CX that testimonials should align with 20px font-size for the body text. Please update both TDS community component and Site Builder component accordingly, where possible.

[2019-05-22 16:28] karlasamantha commented on #192
@donnavitan okay, the Site Builder block is only a wrapper for TDS testimonial component, so I'll update the component and as soon as the update is released it'll update Site Builder

[2019-05-22 17:12] donnavitan commented on #218
@stephlao, could you confirm if moving the position, to the second line with company was intentional? Our [current testimonial component](https://tds.telus.com/community/index.html#testimonial) had the author details as follows:

Name, Postion
Company

@gkychow, could you confirm that we should enable the ability to have 2 variants for testimonials: short (visually styled as H2) and long (text at

[2019-05-22 17:23] gkychow commented on #218
@donnavitan @stephlao - Yup, agreed that we should enable 2 font-styles for the testimonial component

[2019-05-22 17:30] stephlao commented on #218
hey donna,
hmm, i didn't even realize that the TDS version was styled like that, it felt more natural to read, pairing the position and company together rather than attaching it with the name after a comma.

maybe we can get some content eyes on this and see is they have any opinions on it?
thanks!

[2019-05-22 17:31] stephlao commented on #218
@donnavitan i just noticed that the testimonials with the 16px text size has also put the position along with the company name!

[2019-05-22 18:29] donnavitan commented on #218
Hello @stephlao, I'll double check with content. @gkychow, @kittybourne, @CSukhu, do you have any recommendation the formatting of name, role, and company name?

[2019-05-22 20:32] marcod1419 commented on #192
This has been released in testimonial 2.0.0! https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-testimonial%402.0.0

[2019-05-22 21:14] donnavitan commented on #218
Tagging @gkychow, @kittybourne, and @CSukhu again. Examples are available for your reference.

TDS component:
![image](https://user-images.githubusercontent.com/21316148/58209160-804d0700-7cb4-11e9-99e9-fe5b821c4357.png)

[TELUS.com > Business](https://www.telus.com/en/bc/business/?linktype=ge-supernav)
![image](https://user-images.githubusercontent.com/21316148/58209243-a7a3d400-7cb4-11e9-84ed-c1

[2019-05-23 15:38] theetrain commented on #192
This has been released in DSM 1.0.19
https://tds.telus.com/community/index.html#testimonial

[2019-05-23 15:38] #192 closed

[2019-05-23 17:19] donnavitan commented on #218
As per my discussion with @CSukhu, she prefers having the role as part of the company line to account for additional titles:

David Smith, MBA CFA, Accountant
Deloitte
VS.
David Smith, MBA CFA
Accountant, Deloitte

Awaiting additional feedback to confirm decision.

[2019-05-27 20:30] varunj90 commented on #112
@invalidred hey abdul what is the latest on this?

[2019-05-27 20:34] donnavitan commented on #218
As per DPA discussions, @stephlao and @agorovyi :
1. Get confirmation on name/role/company format from content team or provide accepted variations
2. Provide max character length usage criteria: Get proper buy in from content @RobWalkerTelus
3. Provide usage criteria: How to use

* Could be a recipe in the future

[2019-05-27 20:37] donnavitan commented on #112
As per discussion with @apurvray and @Christina-Lo, I'll be updating this with designs.

[2019-05-29 17:45] donnavitan commented on #214
@elenaverling and @Andrew-K-Lam, design QA on DSM library complete! Looks good. Thank you!

[2019-05-30 15:39] Christina-Lo commented on #206
@apurvray had a chat with @DanGenuardi, here are some notes:

- Colour: red, accessible green, athens grey
- patterned bars are for shared data usage and solids are for individuals
- changes will need to be made to current progress bar to align with design, colour, sizing, and naming(DSM)

@apurvray will attach designs once those are finalized

[2019-05-31 18:22] stephlao commented on #218
@donnavitan
afternoon donna!

just a quick follow up with you from the last message.
1. got confirmation on name/role/company
**Stephanie Lao**
CEO, Petit Nuage Bakery
2. max character length confirmed by rob:  149
3. unsure how to write out usage criteria, will follow up with anatolii & akeem on the best approach to write it out.

[2019-06-03 18:18] agorovyi commented on #218
@donnavitan
- Could you please confirm if we have a design approval to proceed to development of this enhancement?
- I've modified the description of this issue to cover all story writing points.

[2019-06-03 19:04] donnavitan commented on #214
As per discussion with @elenaverling, @Andrew-K-Lam, and @jraff, what was known as "BlockQuote" will be renamed to "blockquote" in alignment with coding name convention and that it's actually one word. @elenaverling is updating the DSM library and working source files. @Andrew-K-Lam will update his code. Thank y'all!

[2019-06-03 19:18] donnavitan commented on #214
Thank you @elenaverling, DSM library components and working source files are updated.

[2019-06-04 21:40] zyl-edison-telus opened #228 "New: Input Group"
## Problem Statement

- As a developer consuming TDS components, I would like to have an input box with a search button, so that I can use this as a UI component to build a search tool.

## Recommendation

- Examples
- https://react.semantic-ui.com/elements/input/
- https://material-ui.com/components/text-fields/

### User stories

## Design intent

  As a customer, I want to be able to search a c

[2019-06-06 17:18] theetrain commented on #218
Moving to story writing, please consider the following:

New ACs:

- Prop naming for H2 purple text vs smaller black text, perhaps a boolean for `isHeading`
- Add usage criteria for character limits, and when Testimonial is meant to be used
- Change `testimonial` prop type to be `node`, and possibly accept bold text (confirm with design)

[2019-06-06 17:47] theetrain commented on #228
Other use cases for search

- Solutions catalogue
- TELUS support

Questions

- Whether to use to filter existing results
- Whether to search real-time for results
- Whether the clickable search icon is necessary

Let's have some design intent and reusability conversations next.

[2019-06-06 20:17] varunj90 commented on #214
This is now being QA'ed by @charliehay - thanks @charliehay !

[2019-06-06 21:56] charliehay commented on #214
Done and Done

[2019-06-06 22:22] theetrain commented on #214
Pending final release

- [ ] npm
- [ ] DSM
- [ ] documentation

[2019-06-10 15:07] donnavitan commented on #48
Adding notes for reference:
* Minor update was made to the Sketch component to make it shorter in height, now at 24px as per @twirlingsky
* I'll be updating it as per design QA checklist: http://bit.ly/TDSCommunityDesignChecklist

[2019-06-10 15:16] donnavitan commented on #48
@twirlingsky Could you confirm if the left padding should be changed to 8px or keep 16px? Did you want to keep the 24px right padding? Did you want to keep a minimum width or just have the ribbon background expand to whatever the label is?

[2019-06-10 16:00] theetrain commented on #218
After a conversation with @donnavitan @agorovyi @stephlao @nateriesling

[code]

[2019-06-10 16:08] twirlingsky commented on #48
I just gave it a double check and posted a new symbol to DSM.

Padding left: 8px
Padding right: 16 + 8px - 24 px to allow for the ribbon tail
Padding top and bottom: 4px
Minimum width of 126px is still on - the background can expand to whatever the label is

[2019-06-10 16:58] nateriesling commented on #218
Currently the onus is on the user to provide the quotation marks (the opening quote and the closing quote). For instance @theetrain passed a plain string here `testimonial="I like shorts"` probably because it was more intuitive but the component requires the quotation marks from the user in order for the quote to be quoted correctly, so the proper usage is `testimonial=""I like shorts""`.

When I

[2019-06-10 17:08] nateriesling commented on #218
@theetrain I will discuss this with Rob.

[2019-06-10 18:28] donnavitan commented on #48
Hello all,

As per @twirlingsky's confirmation, here's an updated specs and examples:

### Details
* Height: 24px
* Minimum Width: 126px
* Font: Helvetica Neue
* Font-size: 16px
* Line-height: 16px
* Weight: Medium (aka bold)
* Align: Left
* Colour: White #FFFFFF (aka inverted)
* Vertically centered visually (inspect Invision for reference)
* Left padding: 16px
* Right padding: 24px (including 8px

[2019-06-10 18:38] donnavitan commented on #48
Please note that the latest working file for this is: https://invis.io/a/HJ5CGILLKWQT

[2019-06-10 19:09] donnavitan commented on #112
Updated the designs to include the loading states which will use the spinner component.

Toggle switches are digital on/off switches. They prompt users to choose between two mutually exclusive options and always have a default value. Toggles should provide immediate results. They are best used for changing the state of system functionalities and preferences.

### Usage criteria
- Must provide conc

[2019-06-10 20:14] varunj90 commented on #228
@twirlingsky and @apurvray please add your designs here, thank you!

[2019-06-10 20:24] varunj90 commented on #61
hey @apurvray  can you post the invision link here, thank you!

[2019-06-10 20:46] donnavitan commented on #59
Could we explore improving the user experience for both mobile and desktop?

TELUS.com
- [Find a store (mega footer)](https://www.telus.com/en/bc/resources/stores/)
- [Find a store (button/expand/collapse)](https://www.telus.com/en/bc/mobility/accessories/product/apple-watch-series-4-stainless-steel#storeLocator)

[2019-06-10 20:47] varunj90 commented on #59
Map component revisited - Doug

- The customer experience can be better
- Can this be a component with the business logic removed?
- If not a component, how do we improve experiences like this throughout TELUS.com?

TELUS.com
Find a store (mega footer): https://www.telus.com/en/bc/resources/stores/
Find a store (button/expand/collapse): https://www.telus.com/en/bc/mobility/accessories/product/appl

[2019-06-11 13:34] donnavitan commented on #48
* Confirmed design with @twirlingsky
* Will address if dev is affected with @theetrain

[2019-06-11 17:49] sketchidea opened #234 "Add an optional CTA to PreviewCard"
## Problem statement

- As a developer , I would like to add a CTA link to Preview Card , so that I can use PreviewCard in my SIteBuilder block.

## Recommendation

- Add a chevron link to PreviewCard so that we can use PreviewCard in our SiteBuilder block. Otherwise we will have to build a custom card and won't be able to use the TDS component. This would not be so good for maintenance and consis

[2019-06-11 18:13] mejsullivan commented on #48
Are their docs to see what's been done for accessibility? Saw this was getting released! Exciting!

[2019-06-11 18:57] donnavitan commented on #228
Adding the screenshot here so you don't have to visit Slack:
![image](https://user-images.githubusercontent.com/21316148/59298802-4179f380-8c59-11e9-9402-7361bf957261.png)

[2019-06-11 19:47] twirlingsky commented on #228
The visual design of above ^
https://telus.invisionapp.com/d/main#/console/16401801/357188149/preview
Active state: https://telus.invisionapp.com/d/main#/console/16401801/367708325/preview

(We're reviewing a11y tomorrow)

[2019-06-11 20:06] donnavitan commented on #48
@mejsullivan Thank you for bring that up. Reaching out to you and @twirlingsky for additional context where applicable.

It's not an interactive element, but it is a visual callout - so maybe there is an opportunity to enhance the a11y experience. Unfortunately, the use is so free form that it's not limited to "sale", "offer", or "program". Maybe, the only addition is to include such term in the r

[2019-06-12 15:08] philroberto commented on #234
@sketchidea Could you include the need to change the "animate" not just on image hover (current state) but when the card is being hovered over as well?

[2019-06-12 15:11] donnavitan commented on #228
Hello @zyl-edison-telus,

As mentioned by @theetrain and discussions with CX (@kittybourne and @gkychow), it would be best to provide more use cases and examples to determine how to proceed.

### Questions
- Whether to use to filter existing results
- Whether to search real-time for results
- Whether the clickable search icon is necessary (@theetrain could clarify what you mean by this?)
- What el

[2019-06-12 16:02] donnavitan commented on #48
Just adding a note here that design a11y review has been double checked. While the opportunity to enhance the component by providing more meaningful context can be an enhancement; to be considered with @twirlingsky and design direction/CX.

[2019-06-12 16:55] varunj90 commented on #204
any updates here @marshjr @Berjesty ?

[2019-06-12 20:15] Berjesty commented on #204
I believe design for sticky bar is finalized. @marshjr or Stubrown can confirm.

[2019-06-12 20:59] zyl-edison-telus commented on #228
Hi @donnavitan,

Thanks for the details. I think these questions will be more likely for our UX designers or the people from accessibility team? However, below are my comments based on my initial understanding from the requirements

**Q1.** Whether to use to filter existing results
Initial requirement, search and filter will not work together. We clean filter when we search or the other way around

[2019-06-13 15:23] apurvray commented on #61
Sketch symbols added to DSM Community (non-coded) along with guideline for using Content modal and dialog modal.

The designs can be found here on invision for the devs working on them.
https://telus.invisionapp.com/project/17778239

@enrico we can start working on the acceptance criteria now

[2019-06-13 15:32] apurvray commented on #219
New designs uploaded to invision:
https://telus.invisionapp.com/project/17778377

@varunj90 @theetrain We can start the acceptance criteria creation now

[2019-06-13 15:39] apurvray commented on #143
@theetrain @DougTelus
I have a design that we use on Support request that someone can copy=paste and build for TDS.
We dont have bandwidth for the dev work.

[2019-06-13 17:46] enrico commented on #61
FYI, wrong Enrico, cc'ing @theetrain

[2019-06-13 20:26] apurvray commented on #228
The standalone search input with the integrated button is what I was talking about in the meeting. I think the global elements team is the guardian for this particular pattern and we should consult with them if they can extend the functionality.

Attaching gif of the interaction below.

![Screen Recording 2019-06-13 at 04 24 PM](https://user-images.githubusercontent.com/32710185/59465025-f21df980-

[2019-06-13 20:27] varunj90 commented on #48
Docs: https://tds.telus.com/community/index.html#ribbon
DSM: tds_community v.1.0.21
Release notes: https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-ribbon%401.0.0
npm: https://www.npmjs.com/package/@tds/community-ribbon

[2019-06-13 20:27] #48 closed

[2019-06-13 20:28] varunj90 commented on #214
Docs: https://tds.telus.com/community/index.html#blockquote
DSM: tds_community v.1.0.21
Release notes: https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-blockquote%401.0.0
npm: https://www.npmjs.com/package/@tds/community-blockquote

[2019-06-13 20:28] #214 closed

[2019-06-13 21:16] twirlingsky commented on #228
Adding updated design screens.

![Screen Shot 2019-06-13 at 2 14 19 PM](https://user-images.githubusercontent.com/22402633/59467900-a82c1800-8de5-11e9-9982-ad9350b82211.png)

Hover state (matches filters)
![Screen Shot 2019-06-13 at 2 13 54 PM](https://user-images.githubusercontent.com/22402633/59467923-b5490700-8de5-11e9-8979-94bcc5adcbf4.png)

Active
![Screen Shot 2019-06-13 at 2 14 12 PM](https

[2019-06-13 21:21] twirlingsky commented on #228
Wondering if this component should be completed by Home Solutions and then contributed back when we're done? Noticing that we're having to duplicate a lot of conversation.

Notes from design /  a11y:
Our understanding is that the search will work will the filters. A customer will only be able to search by channel name initially - for example AMC, and the filter was set to Type (Theme pack and prem

[2019-06-14 17:40] nateriesling commented on #218
@theetrain Rob recommend *NOT* added this feature. I will move forward with adding the new prop.

[2019-06-17 14:21] erichwelz opened #239 "Formatted input component (Currency)"
TDS issue

## Problem Statement

As a customer I would like to see a formatted input ie text field on display so that I can understand the purpose of the field. IE for formatting

## Recommendation

- Description of the proposed solution

An input field that accepts a formatter on loss of focus. IE number field to enter currency, text field to display the formatted result

## Design intent

(This

[2019-06-17 20:06] varunj90 commented on #206
@apurvray can you share the designs here, thanks!

[2019-06-17 20:07] theetrain commented on #239
Summary from DPA meeting:

- client side value formatting is a great idea we would like to see implemented
- this can be built using a set of approved `onChange` handlers that can be plugged into, if there are some open source options, please link to them here
- output of this story can be a set of approved and documented input formatting functions for designers to see and experience, and for deve

[2019-06-17 20:24] varunj90 commented on #175
the visual for this needs to be mocked - @Christina-Lo can add to this

cc: @DougTelus @twirlingsky

[2019-06-17 20:26] varunj90 commented on #31
@twirlingsky and @Franimal604 can you provide how this is being done in Home Solutions so we can bring this to DPA and others can benefit as well

cc: @guramritsingh86

[2019-06-17 20:46] DougTelus commented on #206
If this design hasn't been tested, they are good candidates for Validately unmoderated testing to see if users understand the context of red, green, grey colours/patterns with regards to the status of their various data usages.

[2019-06-17 20:48] varunj90 commented on #228
DPA Discussion

@twirlingsky Laurel suggested that the due to deadlines, the team will go ahead with the implementation and contribute back to tds-community shortly after.

cc: @zyl-edison-telus - please let your PO know so it's part of your backlog :)

[2019-06-17 21:30] zyl-edison-telus commented on #228
@varunj90 sounds good

[2019-06-24 16:50] varunj90 commented on #234
@sketchidea can you ask Kim to add the invision link for the designs

[2019-06-24 16:56] varunj90 commented on #218
@DewaldoDev will be story writing this before it goes in ready for dev

[2019-06-24 17:52] apurvray commented on #206
Designs uploaded here :
https://telus.invisionapp.com/project/17860368

Also added them to the DSM under - Progress (Updated)

[2019-06-24 18:02] apurvray commented on #206
![Screenshot 2019-06-24 14 02 09](https://user-images.githubusercontent.com/32710185/60041166-acc7ba80-9688-11e9-8c6d-8a263c66c63e.png)
![Uploading Screenshot 2019-06-24 14.02.02.png…]()
![Uploading Screenshot 2019-06-24 14.01.53.png…]()

[2019-06-24 18:19] apurvray commented on #206
@DougTelus Lets test this out before we go into dev
I will also create some recipes (a combination of some of these) that we might to test. Also, the usage page needs a reset with unlimited plans/ FastPass. So we might want to include that in it as well.

[2019-06-24 19:47] varunj90 commented on #206
based on DPA discussion
1. we will go ahead with existing designs
2. apurv to added usage criteria
3. apurv to connect with berjesty and dan - usage team

[2019-06-24 19:56] varunj90 commented on #61
this is now being story written by @theetrain

[2019-06-24 20:02] varunj90 commented on #219
@agorovyi will be story writing this

[2019-06-24 20:12] varunj90 commented on #218
Story writing is completed by @agorovyi

This is in development, @nateriesling is working on it (as confirmed by @agorovyi )

[2019-06-24 20:22] Christina-Lo commented on #175
Universal pattern for "close" will be using the **close icon (x with circle)**. In conversations with accessibility, using the "X" without the word is a recognizable design pattern and is passable.
When an item needs to be removed, use **text link** with the word "remove" to remove items
Attached mock-ups of _Terms and Condition footnote_ and _modal for visual reference
<img width="670" alt="Scree

[2019-06-24 20:32] apurvray commented on #219
All changes are improvements in the UI.
We can update the design usage criteria and add it to the technical usage criteria already available.

Design Usage criteria/changes:
1. The pagination can be used left aligned or center aligned on desktop (as needed), However on mobile screens less than 640 px wide they should be center aligned
2. When a user is on the first page the 'prev' link does not sh

[2019-06-24 20:37] agorovyi commented on #219
## DEV Acceptance criteria

    Given I am displaying the community-pagination component

      When the browser renders community-pagination component on `md` viewport and above (768px and above)
      Then the component should be left aligned

    Given I am displaying the community-pagination component

      When the browser renders community-pagination component on `xs` and `sm` viewports (76

[2019-06-24 21:03] agorovyi commented on #219
@varunj90 I've updated the Usage Criteria of this issue. I think we can move it to Dev now.

[2019-06-24 21:16] agorovyi commented on #219
@varunj90 and @apurvray  I've added Acceptance Criteria to the description. I think we also need to add actual designs (with annotations if possible) and then the story is ready for Dev.

[2019-06-24 21:17] DougTelus commented on #175
I updated the story above to reflect the decisions @Christina-Lo, accessibility, contributing and DPA members resolved to. 👍

[2019-06-24 21:23] #175 closed

[2019-06-25 20:01] Franimal604 commented on #228
also I am working with a vendor that needs the same functionality and have designed there own.  How far out is this from being developed?

[2019-06-26 14:58] varunj90 commented on #60
any updates @brianlam1 , @coltonpowershifter : https://github.com/telus/tds-community/pull/181

[2019-06-28 17:38] nicmak commented on #234
Ok

On Fri, Jun 28, 2019, 10:34 Varun Jain, <notifications@github.com> wrote:

[2019-06-28 17:45] varunj90 commented on #234
this is now being QA'ed by @bnadeem-telus

once Kim attaches designs we will have a designer QA invision

[2019-06-28 18:16] agorovyi commented on #112
@sketchidea and I updated the story and it needs to be reviewed by a designer and moved to Dev queue if approved.

cc: @donnavitan @apurvray @varunj90

[2019-06-28 19:41] donnavitan commented on #112
@sketchidea @agorovyi @apurvray @varu @Christina-Lo

Made the following change:
* From "When I supply `isLoading` prop to ToggleSwitch component
  Then the toggle switch should be blurred and the spinner should be displayed on top of it"
* To "When I supply `isLoading` prop to ToggleSwitch component
  Then the small green spinner should be displayed on top of the toggle switch only"

No blurring p

[2019-07-02 17:49] varunj90 commented on #228
consolidating conversation on slack: https://telusdigital.slack.com/archives/CDQ6P8VNU/p1561492597046500

Designs by @twirlingsky

The designs are here:
[XL]: https://telus.invisionapp.com/d/#/console/16401801/357188149/preview
[XL, hover state (matches filters hover state): https://telus.invisionapp.com/d/#/console/16401801/368447546/preview
[XL, active state] https://telus.invisionapp.com/d/#/co

[2019-07-02 17:50] varunj90 commented on #228
Moving this to story writing to capture the ACs

[2019-07-02 18:39] varunj90 commented on #228
@kittybourne @Franimal604 and @gkychow to quickly do a design review and provide direction forward for first vs second pass

[2019-07-02 20:27] varunj90 commented on #239
TDS core team will be looking into this here: https://telusdigital.atlassian.net/browse/TDS-1430

[2019-07-02 22:52] kittybourne commented on #228
Hi @zyl-edison-telus I know you are working on this very soon so I just regrouped with @gkychow and @Franimal604 to provide some quick feedback:

-use smaller icons (16px), look at existing search button in meganav for inactive state
-"x" is too big on active also should be 16px
-active/inactive states are too similar, make search button purple for active state
-hover state is very subtle
-should

[2019-07-03 12:11] twirlingsky commented on #228
Just a note that we decided to put search on the left for Optik TV channels since it is more of the primary focus, filters are secondary (as seen in testing)

[2019-07-03 15:07] varunj90 commented on #228
hi @kittybourne @twirlingsky based on comments above, will there be amendments to design?

can we please update the invision links to reflect those? can someone help in Laurel's absence? @Franimal604 @guramritsingh86 ?

[2019-07-03 15:19] varunj90 commented on #35
Issue reopened as Halo/BRC team will be building this as a community component. thank you @elenaverling and @Andrew-K-Lam for taking this on, looking forward to working together

[2019-07-04 21:53] mejsullivan commented on #48
@varunj90 @donnavitan - sorry I don't understand what was said above. Is it accessible? y/n?

[2019-07-05 12:24] donnavitan commented on #48
@mejsullivan Yes, it's accessible! 😃

Just wanted to make a note that there's still a potential to make an accessibility enhancement that will help indicate that the ribbon is a special feature/offer/discount.

[2019-07-05 18:36] bnadeem-telus commented on #234
This has been tested and looks good.

[2019-07-08 19:37] varunj90 commented on #206
@apurvray the story is ready to be reviewed for the ACs

[2019-07-08 22:52] mejsullivan commented on #175
@varunj90 the "X" needs alternative/descriptive text as a standard to be accessible. Is the a part of the component? Is there always alternative/descriptive text on the "X"?

Is the component keyboard accessible?
Does "esc" also work with the "X" is available?
I don't see the focus state?

Let me know if all of that passes :).

[2019-07-08 22:56] mejsullivan commented on #48
Is that what the visual (the shape) is trying to tell people? Or does the text in the ribbon provide that content?

[2019-07-09 20:14] Franimal604 commented on #228
Sorry forgot to add a comment here. Laurel is away till next week. Unfortunately I don't have the sketch file for this component so I won't be able to help out.

[2019-07-10 20:48] varunj90 commented on #234
Summary for closing the issue

For future pattern proofing and based on our conversations with CX and content - we have decided not to go ahead with this enhancement: ” the interaction within an interaction is not recommended” and preview card stays as is.

[2019-07-10 20:48] #234 closed

[2019-07-11 19:29] brianlam1 commented on #60
Hello!

Unfortunately, Colton is no wonder with Digital. We should have some time next week to update the contribution of the calendar code.

[2019-07-11 19:44] nateriesling commented on #218
The suggested fields have been added as mentioned here: [Enrico's comment](https://github.com/telus/tds-community/issues/218#issuecomment-500472990) a pull request will be submitted soon.

[2019-07-11 19:49] mujtabahasni commented on #88
In addition to the above, this PR needs to be rebased align with current work.  I expect to continue this work soon.

[2019-07-15 18:32] varunj90 commented on #189
hey @twirlingsky any updates from usability testing? any next steps?

[2019-07-15 23:21] kittybourne opened #249 "Motion principles - accessibility considerations"
## Problem statement

- As a designer or developer, I would like to create animations that are accessible for all users, so that I can be consistent with TELUS design system.

## Recommendation

- This is not a TDS component. Just something I want to run by DPA and get alignment before we update standards
- Motion principles are now published in BRC however as identified by the accessibility team

[2019-07-17 14:10] nateriesling commented on #218
Development has been completed. I'll be triple checking the work today before I submit—basically going over the checklist in the contribution guide.

[2019-07-17 19:24] philroberto opened #250 "Paragraph text : Text wrapping"
## Problem statement

- As a visitor, I would like to see paragraph text leverage more of the available view-port, so that I can scroll less while reading

## Recommendation

-  add text wrapping as feature to existing text paragraph component

## Design intent

The ability to surround a picture or diagram with text (wrapping it) so that it will fit in the available width of a page, window or othe

[2019-07-22 18:20] twirlingsky commented on #228
@zyl-edison-telus please update the following:
- reduce X utility icon to 1 rem. I think right now it is 1.5 rem which puts it at 24px. I'm not 100% sure what our base em unit is. It looks slightly too big currently.
- increase spacing above the labels and under the search and filter components to level 4

Notes to the recommendations above:
I'd like to leave the active/inactive and hover states a

[2019-07-22 20:54] varunj90 commented on #35
There is a design jam scheduled for July 30: Design Jam: Tabs, Filters, Other Navigation

Prerequisite: Go over https://docs.google.com/presentation/d/1rxgXYgXVVA7VJc-hvctoHs3hIwj0_cchDa96Iuv0fYE/edit#slide=id.p4

Outcomes
• Defining the differences amongst these components
• Looking into Elena’s ask (so we unblock her)
• Action items to update individual community tickets

[2019-07-22 20:55] varunj90 commented on #249
Kitty to move forward with updating Motion principles and get back to DPA before going live on BRC

[2019-07-22 20:59] varunj90 commented on #250
Discussion

- 570px is min width for columns for text
- Sticking to single column text
- Is there user feedback on saying that it’s not the best experience? Or is this coming from creative exploration to want to do this?
- Steven: Reasoning for having text wrap is to have continuity with text and image
-

Based on our discussion at DPA, we will not be going ahead with text wrapping.

Next steps: @

[2019-07-22 22:00] twirlingsky opened #253 "Comparison cards - variation with a tab"
## Problem statement

as a customer, I would like to clearly see which plans is the best value or most popular so that I can easily make my purchase decision

## Recommendation

Adding a tab that supports a value prop statement (such as Most popular or Best value) as a variation to the plan cards

## Designs

See the compare card plan as seen here:
![Screen Shot 2019-07-22 at 2 59 56 PM](https://u

[2019-07-23 18:55] twirlingsky commented on #253
Since new brand colours for digital have been approved we'd like to move the tab colour to #7C53A5 which will help distinguish it from the term ribbon (and optically appear a bit set back)

Will upload revised example shortly

[2019-07-23 19:00] twirlingsky commented on #253
HS Research and Learn example for site builder (WIP - Rena is still working on this):
https://telus.invisionapp.com/share/J2T3JAU9ZD6#/screens

[2019-07-23 19:57] Christina-Lo commented on #253
hello @twirlingsky! TDS (@donnavitan and I) and CX (@gkychow and @kittybourne) had a chat about this and we have the following feedback.

There are a few concerns over adding another visual call-out pattern; what are the benefits in having the varying visual cue? When tab is used with a ribbon, are there too many things being called out. Additionally, needing to have a user recall from different s

[2019-07-23 21:17] twirlingsky commented on #253
I'd prefer to not revise the comparison cards from their approved state right now. I'd like to do that as we get more into HSC 3.0 (coming soon!) as there will be new requirements.

The ribbon use for term length was a marketing solve and has proven useful with customers thus far. Having the ribbon float above the card has been seen as disconnected. I noted that in the criteria use for it.

We nee

[2019-07-24 18:27] varunj90 commented on #250
Closing this issue based on the direction and design exploration can happen on the side.

[2019-07-24 18:27] #250 closed

[2019-07-24 20:50] twirlingsky commented on #253
Closing this ticket as we've found a (not ideal) solution for Smart Home Security at aligns with their deadline.

We will revisit the comparison cards and the tab in the future.

[2019-07-24 20:50] #253 closed

[2019-07-25 17:45] twirlingsky commented on #35
Here are the XL & XS design Home Solutions implemented sub-navigation.
[XL] https://telus.invisionapp.com/d/main#/console/17553495/370407325/preview
[XS] https://telus.invisionapp.com/d/main#/console/17602419/370408129/preview

And the sketch file can be downloaded from the InVision project assets section.

[2019-07-25 17:46] twirlingsky commented on #31
Here are the XL & XS design Home Solutions implemented sub-navigation.
[XL] https://telus.invisionapp.com/d/main#/console/17553495/370407325/preview
[XS] https://telus.invisionapp.com/d/main#/console/17602419/370408129/preview

And the sketch file can be downloaded from the InVision project assets section.

[2019-07-26 17:52] theetrain commented on #59
Some notes from today's developer DPA session:

- We have usages of the Google Maps (cc @stepmr) and Canada Post (cc @brendanpowershifter) APIs on production today. Whether we should use one over the other isn't known to me. Canada Post API is preferred when looking up valid mailing addresses
- Both APIs have their own visual design when autocompleting addresses; they don't seem to be overridable

[2019-07-26 21:12] Franimal604 commented on #59
Would this component be for just store locator. We have a couple cases that need something like this for "finding services" for HS. I noticed that one of the Vendors has been asked to build something like by one of the other TELUS teams.

Use case oh HS 1) Fibre internet search 2) smarthub qual 3)whyTELUS services search

https://telusmaps.koremuat.com/smarthub/test/wrapper/telus.jsp?language=en (

[2019-07-29 17:24] mujtabahasni opened #255 "TypeError when wrapping childless components in `<SkeletonProvider />`."
## Description

If the `<SkeletonProvider />` contains any childless components, it may cause a type error if the default children prop value is `null`.   It should skip over any such components as there is no content to skeletonize.

## Reproduction Steps

[code]

[2019-07-29 19:07] elenaverling opened #257 "SideNavigation 3.0"
## Problem statement

UI enhancements for the desktop submenu experience. Discussing the functionality of the Submenu (new page vs in-page).

## Design intent

- Nav 1 title is labelled above SideNav
- New submenu active state (in-page)
- Include breadcrumb on mobile and tablet when it's possible*
*CPP team are due to rebuild this using TDS component - in backlog_

## Designs

https://telus.invisi

[2019-07-29 20:07] varunj90 commented on #249
Update: Chantel Chyb is working on the content with Beth, along with the translations

Kitty will review with DPA once ready!

[2019-07-29 20:12] kittybourne commented on #249
Copy here: https://docs.google.com/document/d/1svRB7kUVViefVbPn47627mqKqW5JQS4qZsSbzMkpLvw/edit

[2019-07-29 20:18] varunj90 commented on #228
@Franimal604 and @kittybourne to look at the changes made by Laurel and we can move this to story writing!

[2019-07-29 20:20] varunj90 commented on #189
@twirlingsky to look for the usability testing results for this one.

will also be discussed at design jam

[2019-07-29 22:53] Franimal604 commented on #59
Could we do a next step on ux/visual consistency of the maps?

[2019-08-01 15:13] DanGenuardi opened #258 "Expanding Content with a link"
## Problem Statement

- As a designer , I would like to get this feature approved , so that I can use this within the My Telus Usage page and other pages within My Telus that has content that doesn't make sense to a customer.

## Recommendation

- Description of the proposed solution
A cta hyper link will work as an expanding link as well to show any content that's currently not on screen. Mainly

[2019-08-01 16:09] kittybourne commented on #258
@DanGenuardi why not just display it in expanded state without the link. The additional content is not that much and the link is misleading because I expected to be taken to a new page as it is a paragraph link style.

[2019-08-01 17:13] DanGenuardi commented on #258
That's because we're trying to eliminate all of the clutter of content throughout all of our pages. We are being way to transparent throughout Telus by putting every single thing on our pages which makes it really intimidating for customers who doesn't want to read everything on the page and just wants to see what they want to see. Especially within the usage page.

[2019-08-01 18:36] mduenias opened #259 "new: Progress indicator (tracking steps)"
## Problem Statement

We need to implement a more explicit progress indicator in our flow that details the steps a user needs to take in order to complete the flow. This component should be flexible enough to show progress and the size of each step.

## Recommendation

Show steps in a progress bar. Steps can optionally have different lengths to depict how big a step is. Steps can also include sub-

[2019-08-06 17:41] #88 closed

[2019-08-06 17:42] theetrain commented on #88
[@tds/community-skeleton-provider](http://npmjs.com/@tds/community-skeleton-provider) was released on July 19, 2019.

[2019-08-06 18:45] vkyt opened #261 "New: Minor UI issues for tooltip"
## Description

Small UI issues found while testing tooltip.  See attached screenshots for example.

1. Tooltip bubble dialog graphic is showing the square composition at the tip
2. IE and Edge has some border issues with the bubble dialog

## Reproduction Steps
- Render tooltip
- See attached screenshots for UI

Same behaviours can be seen on https://tds.telus.com/components/index.html#tooltip

#

[2019-08-06 20:44] elenaverling commented on #35
I've updated the tab designs for mobile and desktop. They can be found here: https://telus.invisionapp.com/share/2RTC6CAZVKE

[2019-08-07 19:49] elenaverling commented on #257
Hey @donnavitan can you give the Sidenav visual updates a once over when you get a moment? No rush. Updated designs and Sketch file is in the Community Assets folder: https://telus.invisionapp.com/d/main/#/projects/prototypes/13362811/assets

Thanks so much! :)

[2019-08-12 15:41] varunj90 commented on #255
hey @invalidred any updates on this issue?

[2019-08-12 16:19] kittybourne commented on #258
@DanGenuardi tool tip?

[2019-08-12 19:08] varunj90 commented on #23
Terms and conditions is released.

Docs: https://tds.telus.com/components/index.html#terms-and-conditions

[2019-08-12 19:08] #23 closed

[2019-08-13 14:28] varunj90 commented on #258
DPA discussion

1. @DanGenuardi will explore a few more options based on the discussion.
2. Catherine Robertson to post examples on how this is being used in UPC

[2019-08-13 14:36] varunj90 commented on #259
Hi Maria! hopefully, you found the DPA feedback useful.

- This seems like a good component opportunity

- Maria will take the feedback from designers and iterate on some parts of the design.

- Maria will also look at the data from usability testing to make design decisions

Feel free to come back to DPA next week!

[2019-08-13 14:40] varunj90 commented on #218
@nateriesling hey Akeem! is the development completed for this? Will you be submitting a PR soon?

[2019-08-13 14:42] varunj90 commented on #60
@harmeetsaimbhi @abansil and TDS team (@theetrain @donnavitan) will be working together to get this to completion

JIRA epic: https://telusdigital.atlassian.net/browse/TDS-1568

[2019-08-13 14:43] varunj90 commented on #228
hey @Franimal604 @kittybourne were you able to look at the changes made by @twirlingsky - once confirmed we can move this to story writing

[2019-08-13 14:44] varunj90 commented on #257
hey @elenaverling! any updates on side nav? :)

Feel free to update the github ticket once you have updates

[2019-08-13 14:48] varunj90 commented on #54
hey @stephlao @DougTelus @nateriesling is this coming back for your application?

[2019-08-13 14:53] catherinetelus commented on #258
On cart the original design created by James, also had quite a few tool tips to explain the complexity of the pricing and how it tallied up (or didn't).

Original design
![NEW 03 Tallboy Complex](https://user-images.githubusercontent.com/16903874/62951317-c5666e00-bdb7-11e9-9ec2-799590d4d8b5.png)

We deemed the copy too long for a tool tip and had to pull them out into paragraphs. However, I think

[2019-08-13 14:54] elenaverling commented on #257
Having a follow-up conversation with @donnavitan tomorrow on the functionality of the submenu. Currently the function of that is in-page navigation, however, we’ve been considering changing that to link to a brand new page rather than in-page. Wanted to get Donna's thoughts on this, as I'm conscious not to have two functionalities associated with submenu.

[2019-08-13 15:43] #21 closed

[2019-08-13 15:46] varunj90 commented on #21
The designs are available in DSM: https://telus.invisionapp.com/dsm/telus/tds-community/folder/components/5cd1add877b0f2e7d268a8e0

For code, this will be built as a recipe of multiple components

[2019-08-13 17:37] nateriesling commented on #218
@varunj90 The `<Heading />` component doesn't allow us to use `tag="p"` I haven't had the capacity to provide a pull request that adds this feature to this component. When I mentioned this issue in the channel I was told that another team had the same issue. I don't know if they are further along than I am. Is there an outstanding pull request to add this feature?

[2019-08-13 17:58] agorovyi commented on #218
@nateriesling Does it need to be a `<p>` tag? Can it be a `<span>`? If you need a `<p>` tag, you could wrap it in `Paragraph` like this:

[code]

This will render it like:

[code]

[2019-08-13 18:12] nateriesling commented on #218
@agorovyi This looks good I'll use this method and submit the final pull request.

[2019-08-13 18:22] varunj90 commented on #59
@Franimal604  here are the next steps:

1. I’ve asked DPA to consolidate examples for maps (messaged on #dpa-private)
2. a designer from Brand Experience team (i've asked @AnishaRawat ) can take a stab at the research and design
3. once completed TDS team can assist with the development, as this is a complex component with API calls and potential helpers modules required

[2019-08-14 15:51] Stu-Brown commented on #59
Here's an example of Find A Store on the [warranty look-up page](https://www.telus.com/en/on/mobility/services/warranty-lookup). The user must enter an IMEI or manually select their device brand before the store finder is rendered.
![WarrantyLookup_FindAStore](https://user-images.githubusercontent.com/36419784/63035828-d67faf80-be89-11e9-8b43-09e254707d01.png)

[2019-08-14 17:23] donnavitan commented on #257
### Designs
Reviewed designs with @elenaverling and looking great.

### Functionality
Also discussed a concern that may require the need to use the menu items to link out to another page rather than link to an anchor within the page. Elena will explore the potential of adding guidelines of limiting the use of the SideNav as contextual to the current page and not as source for "global" navigation.

[2019-08-16 13:59] DanGenuardi commented on #258
I have also added another example on where we use this feature within the confirmation page from RPC for when it comes to proration information about their upcoming bill.

![XL YC-COMBO_RCP-Confirmation](https://user-images.githubusercontent.com/39997967/63172758-6baab180-c00c-11e9-97f0-1b7d4d3b6602.png)
![XL YC-COMBO_RCP-Confirmation-Expanded](https://user-images.githubusercontent.com/39997967/63

[2019-08-16 17:23] DanGenuardi commented on #35
Here is what we are doing within the Usage page on My TELUS. This is a selection tab to toggle through different plans within a single BAN. This is a view for 6 or less selections.

![xl - usage default](https://user-images.githubusercontent.com/39997967/63185823-f7cad200-c028-11e9-826e-868ce07f27be.png)
![xs - usage default_Multi-BAN Copy](https://user-images.githubusercontent.com/39997967/631858

[2019-08-16 19:42] nateriesling commented on #218
@agorovyi @varunj90 I submitted a pull request for this issue but I need some help reviewing it. I've read the contribution guide but I might be missing a few things. I will check the e2e screenshot shortly.

Also for code style is it preferable to explicitly check if the prop equals `largeText` or is it fine as it is? Currently, it defaults to `largeText` (via a ternary).

[code]

Also let me kno

[2019-08-19 17:44] varunj90 commented on #35
@elenaverling and @DanGenuardi to jam on the mobile version for tabs. sweet!

[2019-08-19 17:45] varunj90 commented on #189
@twirlingsky and Thiveya will jam on this together

[2019-08-19 17:48] varunj90 commented on #174
Based on the latest design jam, @abansil will be taking this on

cc: @Christina-Lo

[2019-08-19 17:48] varunj90 commented on #31
Based on the latest design jam, @abansil will be taking this on

cc: @Christina-Lo

[2019-08-19 20:02] varunj90 commented on #258
@DanGenuardi will update different visual treatments and bring it back to DPA net week

[2019-08-21 15:54] DanGenuardi commented on #258
I have did some more exploration to this purposed community asset.

The first version I added a plus icon next to the question and removed the underline under the copy to only have one indication of it will expand with more info. For the expanded state, I added divider lines to contain the extra content that will appear when the customer clicks on the plus icon. Once the its in an expand state the

[2019-08-22 18:44] marshjr opened #268 "TB: New config plan selection card"
## Problem Statement

- As a customer, I would like to easily understand my plan options, so that I can make an informed choice

## Recommendation

- This is a TB component

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

<img width="730" alt="Screen Shot 2019-08-22 at 2 39 10 PM" src="https://user-images.githubusercontent.com/4235

[2019-08-22 18:46] marshjr opened #269 "TB: New device ribbon (sash) for offers"
## Problem Statement

- As a _ , I would like to _ , so that I can \_

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

<img width="194" alt="Screen Shot 2019-08-22 at 2 44 30 PM" src="https://user-images.githubusercontent.com/42357996/63541215-a076a700-c4eb-11e9-90e3-6c94fc

[2019-08-22 18:51] marshjr opened #270 "TB: New callout card with wrap-around ribbon"
## Problem Statement

- As a _ , I would like to _ , so that I can \_

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

<img width="462" alt="Screen Shot 2019-08-22 at 2 50 06 PM" src="https://user-images.githubusercontent.com/42357996/63541568-5c37d680-c4ec-11e9-9f44-1d5ed7

[2019-08-22 18:54] marshjr opened #271 "TB: New config page summary card"
## Problem Statement

- As a _ , I would like to _ , so that I can \_

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

<img width="720" alt="Screen Shot 2019-08-22 at 2 53 58 PM" src="https://user-images.githubusercontent.com/42357996/63541752-c6e91200-c4ec-11e9-9ad3-e3956d

[2019-08-23 14:27] catherinetelus commented on #268
That copy in tile feels very light weight for 14. Think we might need to bump it up for accessibility?

[2019-08-23 14:47] marshjr commented on #204
Quick update (finally). I think the "final" purple bar has been finalized. Attaching the most recent version here.
https://telus.invisionapp.com/d/main#/console/16248824/379670269/preview

<img width="1220" alt="Screen Shot 2019-08-23 at 10 44 24 AM" src="https://user-images.githubusercontent.com/42357996/63601456-71b40b80-c593-11e9-9d6b-8d80ff9bece7.png">

[2019-08-23 14:51] marshjr commented on #268
@catherinetelus agree. We've been talking about this for a while now. It is the TDS body copy style from the previous PDP page, but we should indeed bump it!

[2019-08-27 18:54] lynnepeacock opened #272 "TB: New expandable sticky footer"
## Problem Statement

- As a _ , I would like to _ , so that I can \_

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

**Closed - current plan**
![image](https://user-images.githubusercontent.com/41124620/63799392-068f6f80-c8da-11e9-887f-1c1c05877998.png)

**Closed - new pl

[2019-08-27 19:55] lynnepeacock opened #273 "TB: New sticky container"
## Problem Statement

- As a user, I would like to be able to review old and new plan/add-on details whilst scrolling a long list of choices, so that I can compare the value of my old plan compared to what I have now selected, and make a decision about what suits my needs.

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The mot

[2019-08-27 21:14] lynnepeacock opened #274 "TB: New accessible way highlight the status of an item in a list"
Related to #275

## Problem Statement

- As a customer making a change to my list of services, I would like to be able to quickly scan and see what is new, so that I can see what has changed.

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

![image](https://user-images.gith

[2019-08-28 18:21] varunj90 opened #275 "(Needs storywriting, and dev owner) Visual indicators: gathering all variations of Ribbons/sashes"
Related to #274

## Problem Statement

As a designer of TELUS Digital I would like to gather all different visual indications that signify the following:

- terms
- offers
- discounts
- gifts
- etc

## Recommendation

Once all visual indications are gathered, we can see where all different products can be aligned for consistency.

## Design intent

(This space is intentionally left blank. The moti

[2019-08-29 15:39] Christina-Lo commented on #268
@marshjr @catherinetelus that must be an extremely old TDS body copy style as I've never seen it since I've been here 😂

Meeting notes:
- Can this be built without the divider and just have the check box plan? Consider making the shell only (will require use case to justify general use)
- Built semantically as checkbox, radio with the ability to select only one or multiple
- with plans is a patter

[2019-08-29 16:55] Christina-Lo commented on #269
Meeting Notes:
- variation to ribbon, will gather all visual indicators [here](https://github.com/telus/tds-community/issues/275) and create usage guidelines for this variation after consolidating
- things to consider: is it only purple? green?

[2019-08-29 17:12] Christina-Lo commented on #270
Meeting notes:
- enhance to ribbon as an alternative
- current purple ribbon is only for promotions; not visually integrated with cards and plans
- not necessarily an offer, but used for a visual call out
- brand messaging call out
- is colour enough to indicate that it's different
- this will be more of a marketing piece
- wrap around purple is still for promo
- would be considered a net new comp

[2019-08-29 17:29] Christina-Lo commented on #271
Meeting notes:
- noted as a potentially different card design
- text in purple block...is this descriptive text? how would tabbing order work?
- does text always have to be centre aligned
- concerns over having too many of these tiles together; what is maximum amount?
- design looks like we're moving back to older TELUS designs

Action items:
- perhaps align closer with UPC cart summary; listed it

[2019-08-29 18:02] abansil commented on #228
@varunj90 2 rounds of search design meetings were done - first pass of search guidelines for both global & in-page have been made, can be further seen here: https://docs.google.com/presentation/d/1LNLYhvYgZJMHIEIga2COFOl7J767S5yIlGlmbwNhabg/edit#slide=id.g5f1a82978b_0_21

GE will be working to launch a B2B/global search design come October. designs will be enhanced for a11y, TDS and alignment with

[2019-08-29 18:22] agorovyi commented on #206
While refactoring this component please make sure to use `styled-components`. I've added an additional AC to cover that.

[2019-08-29 19:22] Christina-Lo opened #278 "TB: Typography styles that are not in TDS yet"
## Problem statement

Gathering text styles to be contributed back into TDS for other designers to use

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

- Screenshots
- Sketch file
- InVision links

## Acceptance criteria

This section is intentionally left blank. See [story

[2019-08-29 19:27] Christina-Lo opened #279 "TB: many different instances of price lock up"
## Problem statement
Would like to gather all instances of price lock ups throughout the TB project so that TDS can incorporate these into the current component

## Recommendation

- Description of the proposed solution

## Design intent

(This space is intentionally left blank. The motivation and design intent go here.)

## Designs

- Screenshots
- Sketch file
- InVision links

## Acceptance crit

[2019-08-29 19:45] lynnepeacock commented on #279
@Christina-Lo
Please let me know how I should contribute with the styles we designed for Tallboy

[2019-08-29 20:18] Christina-Lo commented on #272
Meeting notes:
- this specifically allows for someone to compare and view details before they complete all tasks to get to the summary page
- Accessibility considerations: potentially have live region to read out the price changes
- sticky and modals are tricky and they're super inaccessible
- the tongue text would also be tricky to implement

Action items:
- to be aligned with purple top sticky c

[2019-08-29 20:24] Christina-Lo commented on #273
Meeting notes:
- consider exterior card that is pinned/sticky as opposed to elements within the card
- behaviour that we want is the portion of a particular page
- keeping generic would allow for more use cases
- guidelines don't need to be built into the component itself
- sticky card; optional
- would need tables for this component
- need recipe + guideline
- sticky on desktop or tablet; mobile

[2019-08-29 20:36] Christina-Lo commented on #274
Meeting notes:
- identify terms that potentially could be used: improved (ie. camera) new, etc
- text style vs. highlight text as an icon
- used as a comparison: between 2 plans
- used as a callout? it is more of a mini-sash; lower priority than ribbon
- this is a visible tag, not interacted with
- read only tag
- assistive tech would read it in line with rest of content
- interactive? can it be u

[2019-08-29 20:38] Christina-Lo commented on #279
@lynnepeacock Screen shots with any/all the variations would work for now and then we can go over them

[2019-08-29 22:13] twirlingsky commented on #279
Home Solutions:
![Screen Shot 2019-08-29 at 3 02 33 PM](https://user-images.githubusercontent.com/22402633/63980081-6ff4b700-ca6f-11e9-8244-854bfc8b5006.png)
![Screen Shot 2019-08-29 at 3 02 56 PM](https://user-images.githubusercontent.com/22402633/63980082-6ff4b700-ca6f-11e9-88a4-e72dae0dc635.png)

Example in compare cards: https://telus.invisionapp.com/d/main#/console/18306710/381543246/preview