[2019-08-29 22:14] twirlingsky commented on #279
Site builder (Home Solutions:
![Screen Shot 2019-08-29 at 3 14 15 PM](https://user-images.githubusercontent.com/22402633/63980188-b64a1600-ca6f-11e9-8bbb-69fc0e5dc3af.png)

[2019-09-04 00:04] kittybourne opened #283 "Component wireframe equivalents in DSM"
## Problem Statement

- As a designer, I would like to easily create wireframes, so that I can collaborate with stakeholders and team members on concepts.

## Recommendation

- Nearly each component in DSM could have a stripped down wire version of it so that it could be used universally for creating wireframes in Sketch.

## Design intent

We need to align on how our wireframes look because stake

[2019-09-04 20:47] elenaverling commented on #278
Hello! :) For large quantities of RichText (think the TELUS blog, articles etc) can we add a TDS paragraph style that has an increased line-height? Currently, the TDS medium text size is 16/24, I would like to add a version so it's 16/28, making it easier to read on-screen. I’ve been using this to work out the percentage: https://grtcalculator.com

[2019-09-05 15:30] agorovyi commented on #112
@nicmak I've added an **Accessibility** section to the **Acceptance Criteria** that will require some refactoring. Moved this back to dev.

[2019-09-05 20:00] agorovyi commented on #257
Just noticed that this issue is still in `Design Intent` column but we already have a PR. Two steps were missed in the process: `Design Review` (and approval) and `Story Writing` (with Acceptance Criteria).

I'm curious what's the actual status of this issue before proceeding to code review.

cc: @donnavitan @elenaverling @varunj90

[2019-09-06 01:28] gkychow commented on #278
Hey @elenaverling! Can we test out and mockup both a 16/28 and a 16/32 so we can see what works best?

[2019-09-06 13:50] DJDA commented on #273
Just an FYI - I found another example of this type of "widget" on the IoT order flow for TELUS:

[2019-09-06 14:12] lynnepeacock commented on #273
Thanks for sharing this @DJDA

[2019-09-06 18:37] donnavitan commented on #112
- Updated description to include content for documentation to add/update in the TDS Community code component section.
- Also added the implementation content for reference

[2019-09-06 20:40] elenaverling commented on #257
Yes the design has been signed off by @gkychow at a CX office hours. Here it is again in-situ :)

![Example in the wild](https://user-images.githubusercontent.com/39060415/64459065-086ce600-d0c5-11e9-8c29-a3e35781b491.jpg)

[2019-09-09 14:25] varunj90 commented on #206
@jraff is converting this component to styled-components and adding the new feature requested

[2019-09-09 15:42] varunj90 commented on #268
hey @Stu-Brown and @lynnepeacock, do you have any updates on this ticket?

[2019-09-09 15:44] varunj90 commented on #275
hey @twirlingsky @Stu-Brown @marshjr @lynnepeacock @DanGenuardi please add designs that are in wild today

[2019-09-09 15:50] varunj90 commented on #271
hey @Stu-Brown, have you and @gkychow connected on what the design for this supposed to be?

[2019-09-09 15:55] varunj90 commented on #272
hey @lynnepeacock @Stu-Brown have you connected on this yet?

please keep the github ticket updated, thanks!

[2019-09-09 15:57] varunj90 commented on #273
hey @lynnepeacock @gkychow have you connected on this yet?

please keep the github ticket updated, thanks!

[2019-09-09 15:58] varunj90 commented on #274
hey @lynnepeacock @twirlingsky have you connected on this yet?

please keep the github ticket updated, thanks!

[2019-09-09 15:58] twirlingsky commented on #275
Home Solutions uses the ribbon in these instances:

![Screen Shot 2019-09-09 at 8 51 12 AM](https://user-images.githubusercontent.com/22402633/64546583-d2577e00-d2df-11e9-8057-a0c96d70dba8.png)
![Screen Shot 2019-09-09 at 8 54 47 AM](https://user-images.githubusercontent.com/22402633/64546584-d2577e00-d2df-11e9-919a-b3b89bae4dd6.png)
![Screen Shot 2019-09-09 at 8 56 41 AM](https://user-images.gith

[2019-09-09 16:02] twirlingsky commented on #274
WIP: Home Solutions is working on an alternate design to highlight a term length so we don't have to use the ribbon.

<img width="603" alt="Screen Shot 2019-08-27 at 1 01 34 PM" src="https://user-images.githubusercontent.com/22402633/64546926-6de8ee80-d2e0-11e9-8724-213ffd33b9e6.png">

[2019-09-09 18:47] Stu-Brown commented on #275
Catalog
![Screen Shot 2019-09-09 at 1 56 36 PM](https://user-images.githubusercontent.com/36419784/64554735-fcbe3100-d309-11e9-8dc4-de6b02633916.png)

PEP Lite (this needs some serious alignment)
![Screen Shot 2019-09-09 at 1 57 12 PM](https://user-images.githubusercontent.com/36419784/64554759-09428980-d30a-11e9-9d6a-69afb90314a9.png)

Config - Plan Details
![Screen Shot 2019-09-09 at 1 57 43 PM]

[2019-09-09 18:49] Stu-Brown commented on #271
Not yet @varunj90 and unfortunately there likely won't be much movement on it over the next two weeks with iPhone Launch happening.

[2019-09-09 19:50] varunj90 commented on #283
language alignment, playbook, and purpose? (mockup vs wireframe, HF, LF)
how are existing teams building wireframes?

**Doug**: Whimsical | great, designers can collaborate via workspaces (getting new tool on hold)
**Laurel**: Figma is being used by HS | Sketch for teams in beta (close, would be nice to use existing tools) | not so great for wireframing, great for flow diagrams
*Dan, Apurv, Lynne,

[2019-09-09 19:53] varunj90 commented on #258
Sep 9: @DanGenuardi to do more exploration based on comments above

[2019-09-09 20:06] varunj90 commented on #228
Input group search changes are being made by Laurel based on Aprile's new design

this future component will be combined with filters

[2019-09-09 20:07] varunj90 commented on #259
hey @mduenias, let us know if there any updates on this.

[2019-09-09 20:23] varunj90 commented on #275
@Christina-Lo to take this back and chat with @gkychow

[2019-09-09 20:24] varunj90 commented on #270
hey @Stu-Brown any updates on the action items above?

[2019-09-10 19:38] agorovyi commented on #257
This has been release in [SideNavigation v3.0.0](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-side-navigation%403.0.0)

Thank you @elenaverling and @Andrew-K-Lam for your contributions! More 💪power levels are coming your way.

[2019-09-10 19:38] #257 closed

[2019-09-11 18:05] DanGenuardi commented on #275
![Screen Shot 2019-09-11 at 2 03 38 PM](https://user-images.githubusercontent.com/39997967/64722666-e85e6d80-d49c-11e9-9591-08b97d355f86.png)
![Screen Shot 2019-09-11 at 2 04 35 PM](https://user-images.githubusercontent.com/39997967/64722725-062bd280-d49d-11e9-9005-302dee6b54e9.png)
![Screen Shot 2019-09-11 at 2 05 31 PM](https://user-images.githubusercontent.com/39997967/64722786-278cbe80-d49d-11

[2019-09-16 14:25] lynnepeacock commented on #274
Last week Lauren and I discussed the use of the label/tag for her use case and I took this ticket away to explore.

Exploration to date:
- Rounded corners to 4px to match TDS
- Extended the width of the background
- Tried out some different colors

Looking for more use cases for this label and checking that we don't have conflicting designs for
- Filters
- Tabs
- Buttons

[2019-09-16 19:57] Franimal604 commented on #59
Just gathered some requirements for Brand Experience team and I'm not sure if this is feasible with google maps i've outline some requirements given to me below. I'll get some more clarity on some of these items.

**Tech features**
- Turn off/on layers (i.e. show only TDOG events, or show Internet for Good data points)
- POI should display
- Heading
- Description text
- Image
- Link
- Date/time (o

[2019-09-16 20:15] theetrain commented on #274
Tentative usage guidelines for highlights vs ribbons (to be iterated as we continue to discover)

Ribbons

* Must be used outside of a card
* Copy to incite interest (what does that mean?)

Highlights

* Can be used within card or list (tentative)
* Copy to promote specific features

[2019-09-17 09:55] elenaverling commented on #283
I no longer have the capacity to work on this due to upcoming projects. I'll remove myself from this ticket. Sorry folks.

[2019-09-19 20:56] donnavitan commented on #60
Reviewed with CX the font size of the month and year navigation and will update it to use "Text Medium (16px bold)" for the XS component only. I've gotten @gkychow @kittybourne and @abansil's agreement. I will update the TDS Community DSM accordingly.

[2019-09-20 18:14] twirlingsky commented on #274
A few more use cases for this came up today in My Telus - highlight of words: Not activated or activated. Suggested use of raja for Not activated and green for Activated. This is for TV streaming services like Amazon Prime, Hayu, Netflix etc.

[2019-09-23 14:27] donnavitan commented on #60
Updated TDS Community DSM: Month and Year now use Text Medium (16px bold) for the XS component only.

[2019-09-30 19:17] varunj90 commented on #112
This has been released in code and DSM.
Release notes: https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-toggle-switch%402.0.0

[2019-09-30 19:17] #112 closed

[2019-09-30 19:19] donnavitan commented on #112
v1.0.5 TDS Community DSM is released: [https://telus.invisionapp.com/dsm/telus/tds-community/releases](https://telus.invisionapp.com/dsm/telus/tds-community/releases)

**ToggleSwitch is now officially available in design and code**
Toggle switches are digital on/off switches. They prompt users to choose between two mutually exclusive options and always have adefault value. Toggles should provide i

[2019-09-30 19:48] varunj90 commented on #283
@kittybourne do a quick POC to see the feasibility

[2019-09-30 19:55] varunj90 commented on #275
@Christina-Lo will set up a hangout with the right people to move this forward

[2019-09-30 19:57] varunj90 commented on #59
hey @Franimal604 any updates on this?

[2019-09-30 19:57] varunj90 commented on #258
hey @DanGenuardi any updates on this?

[2019-09-30 20:03] varunj90 commented on #54
any updates on this @stephlao @DougTelus @nateriesling? are we building this component?

[2019-10-01 13:52] DanGenuardi commented on #258
This is possibly the best approach visually to do this without any additional icons added to the question/hyperlink.
https://telus.invisionapp.com/d/main#/console/16902327/360276810/preview
https://telus.invisionapp.com/d/main#/console/16902327/360276809/preview

[2019-10-01 17:31] Franimal604 commented on #59
Apparently there are a few different teams working on versions of store locator/map I know config and checkout have a build coming out soon. There is an external team ( KOREM ) that is working on a map for smarthub finder.

[2019-10-02 15:14] duggylimes commented on #54
@varunj90 I would say, our designs are not ready for dev yet. Steph has explored 2 strong patterns, but we haven't resolved to a final solution yet as higher priority work has been keeping us from it.

[2019-10-02 16:26] elenaverling commented on #35
@donnavitan @varunj90 @Christina-Lo I've added the artwork and InVision links above for mobile, tablet and desktop, based on the notes from Sept 5th: https://docs.google.com/document/d/1WOXhc53MlCcH9mV5HEhvcT8t1rNa7eQr94EcoG1rGk0/edit#

[2019-10-03 15:58] theetrain commented on #59
Thanks @Franimal604. I've opened an issue in Tech Forum and we'll sort this out. 👍

[2019-10-03 16:03] edilege opened #293 "Slider component"
## Problem statement

In order to engage the customer and educate them on the added value that they are getting, we would like to create a component to associate the action with the outcome.

## Recommendation

- slider component in order to increase engagement and facilitate understanding of the value the customer is getting

## Design intent

for AAL page, clearly show the saving amount based on

[2019-10-03 16:15] varunj90 commented on #293
thanks for opening the issue @edilege! you're on the agenda for Monday!

[2019-10-03 16:56] lynnepeacock commented on #35
@elenaverling
Could you let me know what the expected interaction should be for labeling the tab content when it's in the dropdown format?

For example: We are showing a label outside of the drop-down container in Usage, below

<img width="309" alt="Screen Shot 2019-10-03 at 12 51 38 PM" src="https://user-images.githubusercontent.com/41124620/66147293-9365d100-e5dc-11e9-8a92-e42a752a1051.png">

1)

[2019-10-03 17:50] varunj90 commented on #219
this is being QA'ed by core team

[2019-10-03 17:59] Franimal604 commented on #59
Awesome thanks Enrico!

[2019-10-03 18:13] DanGenuardi commented on #35
So from our discussion for the tab selection. It will always default to the first selection on the tab list. Then the user will manually need to select the other tabs to view within the page. The selected state will always appear on the list for mobile dropdown view.

[2019-10-03 19:43] abansil opened #294 "Input enhancement: CanadaPost AutoComplete dropdown"
## Problem statement

As a customer, I would like to enter a Canadian address so that I can complete an e-commerce flow (e.g. checkout) process, enter an address to access products, and/or complete other activities on T.com that require address completion.

In the case where an address is not found on CanadaPost's AutoComplete, I would like an option to manually enter the address as well.

## Reco

[2019-10-03 20:00] abansil commented on #294
@ancho21 if you could hop on & take a look at the AC's/User Stories that would be sweet!

[2019-10-04 14:40] duggylimes commented on #54
Steph is working through one of our stronger mobile first design patterns and then we will bring that back to DPA.

Stay Tuned!

[2019-10-04 15:28] DougTelus commented on #54
Steph is working through one of our stronger mobile first design patterns and then we will bring that back to DPA.

Stay Tuned!

_***also**, I only now realized I have been signed into the wrong github profile for the past week..._ 🤦‍♂

[2019-10-04 17:36] mike-bunce commented on #206
Usability testing is currently taking place.

[2019-10-04 19:20] Berjesty opened #295 "Generic pattern for truncating email addresses and long names on mobile"
## Description

* Currently in TDS Core we don't have a pattern to truncate long names. For the new Bill method notifications we have email addresses with checkboxes and require a TDS pattern to follow when email addresses are too long. Please see the design references below.
![image 1](https://user-images.githubusercontent.com/25160096/46104187-b75c2e80-c1a0-11e8-82c1-da19f39136fd.png)

## Recomm

[2019-10-04 20:19] ancho21 commented on #294
**User Stories**
As a customer
I want to AddressComplete to suggest the best possible addresses as I start typing my address
So that I do not have to enter all the details of my address and the address is typed out correctly

As a customer
I want to be able to enter my shipping address if AddressComplete API is down
So that I can ship my order to where I define.

As a customer
I want to be able to

[2019-10-07 20:12] lynnepeacock commented on #293
@edilege some notes :)

**Feedback and discussions**
- Colour of the dot / visibility with the bar
- Does the bar change colour to illustrate an increase/decrease? (No)
- Is there a label associated with the component? (Visual and accessible)
- Investigate accessibility

**Mobile**
- Opportunity to switch the order of the content to ensure a customer can interact with the values

**Later discussio

[2019-10-07 20:21] invalidred commented on #275
Here are some example of ribbon that is going to be used in upcoming bill roundup project.

<img width="401" alt="Screen Shot 2019-10-07 at 4 18 40 PM" src="https://user-images.githubusercontent.com/5270458/66345649-73a51480-e91e-11e9-9d71-75eff280f5ab.png">

<img width="328" alt="Screen Shot 2019-10-07 at 4 18 19 PM" src="https://user-images.githubusercontent.com/5270458/66345693-87507b00-e91e-11

[2019-10-07 20:23] lynnepeacock commented on #275
<img width="1191" alt="Screen Shot 2019-10-07 at 2 05 56 PM" src="https://user-images.githubusercontent.com/41124620/66345779-ba930a00-e91e-11e9-9d46-3652a0c389e3.png">

[2019-10-07 20:23] lynnepeacock commented on #275
<img width="1232" alt="ribbons_mobility" src="https://user-images.githubusercontent.com/41124620/66345808-c54d9f00-e91e-11e9-8779-7632839c9995.png">

[2019-10-08 15:22] marcod1419 commented on #61
Hi @dustin-ruetz! I've looked it over, and I agree that this could be a good starting point! Once we begin development, we can give it another look and hopefully use it to get us a bit ahead of the game.

For those that will be working with it, there are a few small things that should be addressed that I've found during a preliminary lookover to match up with our specific ACs:

- The close button

[2019-10-08 16:41] Christina-Lo commented on #275
After the conversation with @gkychow @twirlingsky @lynnepeacock here are the notes https://docs.google.com/presentation/d/1rnA0kKNGdPEuUEU645ak38rDcX0JfvGnwpwa8UudqSQ/edit#slide=id.g62f8e22068_0_111

**Summary:**

- simple ribbon (single edge), double edge ribbon, and wrap ribbons don't mean different things from each other; the style used is dependent on design (@gkychow wants consolidate double

[2019-10-09 14:51] Andrew-K-Lam opened #297 "SideNavigation: SideNav can overlap bottom of the page"
## Description
When the SideNav is near the bottom of the page, opening a submenu will overlap the footer (sticks outside its container).

## Reproduction Steps

1. Go to https://www.telus.com/en/brand-resources/design/motion-principles
2. Close any Submenu's that are open.
3. Scroll to the bottom of the page
4. Open "Motion Principles submenu
5. See the SideNav overlap the footer

## Workaround d

[2019-10-09 18:32] abansil commented on #294
BTW @varunj90 / @Christina-Lo , UPC will be contributing the dropdown CanadaPost autocomplete _only_.  What would you advise for next steps as the dropdown wasn't flagged with any design concerns?

I'll work with the design team separately for the manual input fields.

[2019-10-10 14:58] catherinetelus commented on #228
I have another use case for something similar. For promo code application, it doesn't make sense to have a large dedicated button that competes with the main "Check out" button.
<img width="404" alt="Screen Shot 2019-10-10 at 10 58 31 AM" src="https://user-images.githubusercontent.com/16903874/66580752-ebf11d00-eb4c-11e9-8513-93a3f2c97f3d.png">

https://telus.invisionapp.com/share/7VUBO123P95#/387

[2019-10-10 18:20] agorovyi commented on #219
Released 🎉 in [v2.0.0](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-pagination%402.0.0)

[2019-10-10 20:45] varunj90 commented on #219
pending design release @apurvray and then can be moved to released

[2019-10-16 19:33] Christina-Lo commented on #293
@edilege Not sure if you've been able to go to an accessibility office hour with this, but here are a few notes for considerations that came up with sliders when @owestinTelus @donnavitan and I chatted about it

- Are screen readers announcing amount of ducks being seen? People with sight issues will just see blurs growing and minimizing
- Should be built like radio buttons; buttons (where the num

[2019-10-18 19:20] Stu-Brown opened #298 "Circular promotion callout / summary"
## Problem Statement

In order to give a quick summary of an offer, sale or promotion we want to create a new circular lockup

## Recommendation

Circle container to give a top level summary of an offer with room for additional details

## Design intent

Initially designed as a companion to a slider component to illustrate the value of the family discount. The circular lockup could be used as a st

[2019-10-21 19:56] theetrain commented on #35
DPA discussion, let's consider:

* Not providing a fixed width for each individual tab (provide a max-width, and have it fit its contents)
* Explore truncation; when it should occur, and how
* Technical implementation: should it accept `<br />`?
* Should designers be allowed to include icons in tabs?
* How many tabs is too many? As much as the viewport can handle?

cc @DanGenuardi for user testing

[2019-10-21 20:15] theetrain commented on #298
DPA Discussion:

* Try usability testing to see if people try to click on the Circle
* Intended to contain static copy without interactive elements, but it may potentially contain Interactive elements (needs more design)
* Some identified use cases in Mobility + Home Solutions
* Try to find a good pairing for the Circle

[2019-10-22 17:24] danielcrough commented on #59
Hey everyone! Just letting you all know that we are interested in a component like this for our local search pages in HS! Let us know if we can help in anyway and keep me in the loop!

[2019-10-23 22:18] elenaverling commented on #35
I've written out a very detailed recommendation list for mobile desktop and tablet after reviewing with Donna today, please read the above description text.

[2019-10-31 21:20] lynnepeacock commented on #268
**Feedback**
- Use TDS price lock-ups
- Try remove the vertical dividing line from the large cards
- Look at the alignment of expanded content inside the small cards
   Currently, the user must scan back to the left
- Make sure the colours of the breakdowns are consistent with TDS
  (Reference the cart breakdown styling)
- Increase descriptions to 16px
- Should we have the link inside the card?

[2019-10-31 21:21] lynnepeacock commented on #268
**Example of progress**
Looking at alignment in lists
![image](https://user-images.githubusercontent.com/41124620/67987081-ec884b00-fc02-11e9-8c14-8e737940fde7.png)

[2019-11-01 18:17] kittybourne commented on #283
Created sketch file and uploaded to cloud for trial: https://sketch.cloud/s/zkoby

[2019-11-02 01:14] catherinetelus commented on #59
UPC is also working on a store locator with search, map, list view for the Checkout. We've based ours on current accessories inventory check but have made quite a few tweaks to update it in terms of accessibility and overall experience.

![Reserve Checkout DSK change store 1d](https://user-images.githubusercontent.com/16903874/68064015-87a91f80-fcec-11e9-8079-b7e722115c64.png)

[2019-11-04 20:11] varunj90 commented on #35
ticket update
- design is done, Elena and Lynne have added context to the interaction storywriting
- Halo team has deprioritized the work w.r.t this component
- a dev and an interaction designer need to take this forward

[2019-11-04 20:36] twirlingsky commented on #35
Ivan Correces is picking up the IxD needed on this ticket. I will figure out how to add him.

[2019-11-04 20:40] varunj90 commented on #35
@gkychow has done some visual design updates, and Ivan is picking it from an iXD perspective.

[2019-11-04 20:43] varunj90 commented on #293
hey @edilege are there any updates to this ticket? can you share the link for the final design of this component?

[2019-11-04 20:55] edilege commented on #293
hey @varunj90 here are the updated screenshot- I've also met with Oskar . I am just in the middle of documenting those.
<img width="275" alt="Screen Shot 2019-11-04 at 3 52 12 PM" src="https://user-images.githubusercontent.com/48288654/68157368-81e55100-ff1b-11e9-923d-d320a4382917.png">
<img width="751" alt="Screen Shot 2019-11-04 at 3 50 01 PM" src="https://user-images.githubusercontent.com/48288

[2019-11-04 21:10] varunj90 commented on #228
@twirlingsky can you provide the final design file
@kittybourne one last review
we can move this to story writing right after.

[2019-11-04 21:18] varunj90 commented on #293
perfect let us know once you're ready for the final dpa review @edilege

[2019-11-04 22:57] xingbo828 commented on #59
The find-store is more like an app instead of TDS component since it depends on the following:
- BFF service and downstream services for `query store`, `inventory check`
- Translation between multiple langs

Therefore, what should be contributed is not the `find-store` component,  but the `Map` and `AddressAutoComplete` components as these can be app context agnostic.

[2019-11-06 18:02] kittybourne commented on #59
After discussing with Bo and Brian Lam1, it seems that this might be better suited to be a sitebuilder block rather than a component. We can't really control the Google map itself and the search bar and list of results is are already elements of TDS forms. It's just how it's laid out on a page that can be standardized.

[2019-11-07 16:01] lynnepeacock commented on #268
Hi all, here is my progress with the cards for all scenarios.
Once these have been reviewed by the CX team I will work with the DPA team to write the interaction and visual rules.
Stu is happy with these changes from a mobility perspective :)

![image](https://user-images.githubusercontent.com/41124620/68405118-8bee9600-014d-11ea-8f82-bbdecc860f18.png)

Price lock up exploration
![image](https://u

[2019-11-08 15:47] edilege commented on #293
Accessibility notes:
-The suggested name of the component is a clickable slider.
- The slider component will be using radio buttons for the variables and the variables will have labels for the screen reader.
-Maximum variables will be 4 (to accommodate mobile view)
-Clickable slider should have a name explaining the variables
-Generated content and the clickable slider should be used together
-The

[2019-11-08 21:41] twirlingsky commented on #228
Visual documentation: https://telus.invisionapp.com/share/GQUPE828R62#/392062248_XL_-_1200px

[2019-11-11 21:53] lynnepeacock commented on #59
Hello @catherinetelus,

We had a few thoughts/questions about the above design during the DPA meeting.

1) When a customer checks/unchecks "Show stores with available inventory". What is the interaction?
- Results automatically appear
- User must press the enter button to load/reload results

Donna wondered if a toggle could be used here depending on how the results load.

2) We discussed that the

[2019-11-11 23:54] twirlingsky commented on #228
Note: this is in the backlog for the Home Solutions Catalogue team. They could continue with developing it and contributing it back to TDS (https://telusdigital.atlassian.net/browse/CATA-1893)

[2019-11-12 15:28] catherinetelus commented on #59
Thanks for capturing the notes @lynnepeacock!

1. I need to explore this with @xingbo828 in terms of delay time before load. My assumption was that results would automatically appear, perhaps with loading indicator if it takes a while. @donnavitan we also explored a toggle, but felt like it cluttered the already interactive area by adding complexity. Let me know your thoughts, maybe we can explore

[2019-11-12 16:04] catherinetelus commented on #59
Desktop views:
https://telus.invisionapp.com/share/G3TTE4OE5ZS#/391379934_Reserve_Checkout_DSK_Change_Store_1a
https://telus.invisionapp.com/share/G3TTE4OE5ZS#/382568463_Reserve_Checkout_DSK_Change_Store_2

Mobile views:
https://telus.invisionapp.com/share/G3TTE4OE5ZS#/391537812_Reserve_Checkout_MOB_Change_Store_1b
https://telus.invisionapp.com/share/G3TTE4OE5ZS#/388729377_Reserve_Checkout_MOB_Cha

[2019-11-12 16:43] varunj90 commented on #298
hey @Stu-Brown any updates on this ticket?

[2019-11-12 18:48] varunj90 commented on #60
This is currently in QA phase by core team

[2019-11-12 18:49] varunj90 commented on #297
Waiting on QA from @fzero :)

[2019-11-12 18:49] varunj90 commented on #61
Development is almost completed by @nicmak and will move into QA phase shortly after

[2019-11-12 18:50] varunj90 commented on #206
one round of testing is completed

@donnavitan will consolidate notes, and provide direction forward.

[2019-11-13 14:46] invalidred opened #303 "ToggleSwitch focus issues"
## Description

`<ToggleSwitch />` currently focuses on itself right after transitioning from `on->loading->off` or `off->loading->on`. This is expected behaviour in some cases. However in other cases where the focus needs to shift from `<ToggleSwitch />` to some other element on the page, the current implementation does not allow to:
1. Not focus on `<ToggleSwitch />` by default
2. Allow the pare

[2019-11-13 15:32] varunj90 commented on #303
Thanks for opening the issue @invalidred , please triage this on Friday developer weekly!

[2019-11-13 15:50] varunj90 commented on #270
exploration for ribbons can be found here: https://github.com/telus/tds-community/issues/275

[2019-11-13 16:21] lynnepeacock commented on #268
Preview of alternative price lock-ups
![image](https://user-images.githubusercontent.com/41124620/68782648-bfc33300-0607-11ea-9198-c7a60dbbe6e2.png)

[2019-11-13 19:41] varunj90 commented on #303
this issue has been reviewed by @theetrain and @invalidred and is in development

[2019-11-18 15:32] fzero commented on #297
I got some pointers from @theetrain about this - setting aside a few hours to get it done ASAP.

[2019-11-18 21:36] Stu-Brown commented on #271
@varunj90 I connected with Thiveya since she's had some more work on the summary section since Tallboy launched. She told me in the coming weeks she and Catherine Robertson will be doing a larger design overhaul of the entire summary section on config.

This design task should be rolled into that upcoming initiative so it seamlessly fits with the new overall summary design.

Like me it looks like

[2019-11-18 22:37] twirlingsky commented on #35
InVision project: https://telus.invisionapp.com/d/main#/projects/prototypes/18077659HA
HS Catalogue Ticket: https://telusdigital.atlassian.net/browse/CATA-1892

[2019-11-18 22:37] twirlingsky commented on #35
https://telus.invisionapp.com/share/2RTC6CAZVKE#/392910795_XL_Updated_-_1200px

[2019-11-18 22:38] twirlingsky commented on #35
![screencapture-telus-invisionapp-d-main-2019-11-18-14_38_03](https://user-images.githubusercontent.com/22402633/69100010-11592c80-0a11-11ea-8003-e66c7c93f6a1.png)

[2019-11-18 22:57] twirlingsky commented on #189
InVision Project: https://telus.invisionapp.com/d/main#/projects/prototypes/18274872
HS Catalogue Ticket:

[2019-11-18 22:57] twirlingsky commented on #189
![screencapture-telus-invisionapp-d-main-2019-11-18-14_56_29](https://user-images.githubusercontent.com/22402633/69101147-b248e700-0a13-11ea-97a3-ad5be2001cb3.png)

[2019-11-18 23:18] donnavitan commented on #35
1. Is the main description updated with the latest story writing acceptance criteria? I noticed that the updated designs fixed width which is counter to the best practices and initial recommendation. What's the rationale for providing fixed width? Won't this further limit the flexibility of having  more or less menu items? As well make the user travel further along the x-axis more than necessary,

[2019-11-18 23:28] twirlingsky commented on #35
For #2. Gary designed the tabs to fill the content width with an inset spacing of level 4. (So regular 16px margin, level 4 space, then the tabs.

The Pik TV catalogue example isn't in-page navigation - it calls the offer case and filters the catalogue depending on the desired catalogue state.

Tabs don't work like expand/collapse...

Ivan wrote up all the guidelines in the InVision doc. In there

[2019-11-19 00:14] mike-bunce commented on #189
Added acceptance criteria at the top of this GitHub issue

[2019-11-19 15:34] lynnepeacock commented on #35
Hi @twirlingsky (can't seem to tag Ivan),

Thanks so much for sharing! Exciting to see the progress of the tabs. I have made a couple of comments in invision about some visual elements that I noticed.

I have an additional question that I thought should be posted here, as there may be other people who were involved in the decision.

I noticed that the sub-copy / phone number underneath the name do

[2019-11-19 17:43] twirlingsky commented on #35
I believe @gkychow set the tabs to be Shuttle grey on a gainsboro grey background (not Raven's grey text). I'll double-check the file when he send his updates.
![Screen Shot 2019-11-19 at 09 40 52](https://user-images.githubusercontent.com/22402633/69171477-e3c3c000-0ab0-11ea-9123-823ca8eab0ca.png)

The gainsboro grey background only extends to where the tabs are - no further extension.

The focus

[2019-11-19 18:28] catherinetelus commented on #59
![MAP Marker variations](https://user-images.githubusercontent.com/16903874/69174654-3d87b280-0ad0-11ea-8099-040a25f64445.png)
Latest exploration of map markers. Left default, right with availability indicator.

[2019-11-20 15:34] catherinetelus opened #306 "Map/Store locator pins"
## Problem Statement

- As a designer , I would like to see all the examples and use cases for map pins , so that I can make an informed decision as I update the designs of the current map pins.

## Recommendation

- To gather the various use cases for map pins and address them with similar styling.

## Design intent

Consolidate use cases for map pins. Identified thus far:

- Generic
- Active vs

[2019-11-20 16:21] catherinetelus commented on #59
Map markers/pins have been moved to a separate ticket: https://github.com/telus/tds-community/issues/306

[2019-11-20 21:10] varunj90 commented on #275
@stephlao thank you for picking up this ticket!

based on our discussion you'll be consolidating ribbon discovery, working with Gary for visual design , adding usage criteria and getting this ready for development!

[2019-11-20 21:21] charliehay commented on #228
Who's working on this? We have a ticket that's blocked by the completion of this component.

[2019-11-20 21:25] varunj90 commented on #228
added you to the slack channel @charliehay

[2019-11-20 21:28] twirlingsky commented on #228
@zyl-edison-telus Will be working on this ticket

[2019-11-20 23:22] twirlingsky commented on #189
Updated design recommendation and intent at the top of this GitHub issue

[2019-11-21 14:58] Stu-Brown commented on #270
@varunj90 I connected with Gary yesterday about this and other TB TDS tickets. With the additional ribbon/visual indicator consolidation work happening on ticket 275, both this ticket and 269 will be on hold pending the outcome of that exercise.

[2019-11-21 18:30] mike-bunce commented on #228
Laurel and myself have updated Acceptance Criteria and user stories, see the top of the ticket.

[2019-11-22 19:22] theetrain commented on #303
Now available in [`@tds/community-toggle-switch@3.0.0`](https://github.com/telus/tds-community/releases/tag/%40tds/community-toggle-switch%403.0.0).

[2019-11-22 19:22] #303 closed

[2019-11-25 21:00] marcod1419 commented on #60
This component has been released! Thank you all for the effort! The component will be available shortly at this link: https://tds.telus.com/community/index.html#!/DatePicker

[2019-11-25 21:00] #60 closed

[2019-11-26 18:53] erichwelz opened #310 "ToggleSwitch requires spinnerLabel yet using the spinner is optional"
## Description

ToggleSwitch requires `spinnerLabel`, yet `isLoading` prop is optional. `spinnerLabel` is only needed in cases where `isLoading` prop is passed.

## Workaround details

Pass empty `spinnerLabel` prop

## Recommendation
Suggest making prop optional or in best world, conditionally require it IFF `isloading` prop is passed.

## Meta

- TDS version (npm or DSM): v3.0.0
- Willing to dev

[2019-11-26 18:53] erichwelz opened #311 "ToggleSwitch requires spinnerLabel yet using the spinner is optional"
## Description

ToggleSwitch requires `spinnerLabel`, yet `isLoading` prop is optional. `spinnerLabel` is only needed in cases where `isLoading` prop is passed.

## Workaround details

Pass empty `spinnerLabel` prop

## Recommendation
Suggest making prop optional or in best world, conditionally require it IFF `isloading` prop is passed.

## Meta

- TDS version (npm or DSM): v3.0.0
- Willing to dev

[2019-11-29 16:02] theetrain commented on #311
I think making the `spinnerLabel` prop optional is okay since we currently have documentation under **Accessibility guide** that outlines the need to have it defined when the spinner is present.

[2019-12-02 20:05] varunj90 commented on #297
reached out to @fzero for QA updates

[2019-12-02 20:06] varunj90 commented on #61
@nicmak will be working on converting this to react hooks this week

[2019-12-02 20:06] varunj90 commented on #206
@donnavitan to provide an update this week.

[2019-12-02 20:08] varunj90 commented on #293
reached out to @lynnepeacock and @affansajid on slack to complete story writing and acceptance criteria for this ticket.

[2019-12-02 20:54] catherinetelus commented on #306
[mapmarkers_initial designs.sketch.zip](https://github.com/telus/tds-community/files/3913261/mapmarkers_initial.designs.sketch.zip)

[2019-12-02 21:12] varunj90 commented on #283
hey Kitty! lets gather feedback for the existing state.

@twirlingsky and @Christina-Lo can you signal boost! thank you : )

[2019-12-02 21:29] twirlingsky commented on #283
Feedback from R&L team (who use Site builder): The wireframe tools work great and meet over 90% of what we need. Would like to see more xs elements and maybe carousels, tables, hero, river flows...

[2019-12-03 21:42] fzero commented on #297
Manual QA went fine and the bug seems fixed. I've confirmed accessibility features still work as intended without regressions. The only thing left for me to consider this 100% QA'd is testing on IE11.

[2019-12-04 17:14] catherinetelus commented on #306
SVG files

[map marker SVGs.zip](https://github.com/telus/tds-community/files/3923076/map.marker.SVGs.zip)

[2019-12-04 19:18] fzero commented on #297
Fix is confirmed to work on all supported platforms including IE11. Ready to go!

[2019-12-05 20:37] donnavitan commented on #293
Hello all,

Just an update, as per @varunj90's comment. I'll be reaching out to @lynnepeacock to help with story writing on the design side.

As for future considerations/enhancements, I'm including a few links and comments that were discussed for future posterity.

https://fi.google.com/about/plans/
https://telusdigital.slack.com/archives/CDQ6P8VNU/p1573053212030800?thread_ts=1573053212.030800

[2019-12-06 19:26] theetrain commented on #297
Released in [`@tds/community-side-navigation@3.0.4`](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-side-navigation%403.0.4).

[2019-12-06 19:26] #297 closed

[2019-12-09 19:56] lynnepeacock commented on #274
hi @twirlingsky, was there a final design for the above use case?
This also reminds me of Catherine's recent use case to highlight store availability. Do you think the two could be aligned in some way?

----
I am working on making a final invision file for the highlight ticket, which I'd like everyone to add their own examples to

[2019-12-09 21:22] theetrain commented on #275
@stephlao will follow up with some examples and more discovery.

[2019-12-09 21:25] theetrain commented on #204
Stu will follow up with updated designs for the purple bar.

[2019-12-10 15:18] charliehay commented on #228
I'm happy to take on this ticket, I can start working on it tomorrow I believe.

[2019-12-16 14:16] donnavitan commented on #206
* Updated main description with the latest design specs and documentation
* Must create a new community ticket to address outstanding considerations
   * Further user research on customer understanding of presentation of current progress bar
   * Further audit and design for complex progress bar (stacked bars, single/multiple limits, parent and child progress bar relationships, sibling progress ba

[2019-12-18 22:15] twirlingsky commented on #228
Edison (on the HS catalogue team) has already done the dev work on this ticket. Just needs a bit more done it before it is contributed back. It's in the catalogue team's current sprint.

[2020-01-02 16:39] donnavitan opened #318 "[ProgressBar] Include complex needs (multiple limits, improved internal limit indicator, etc)"
## Problem statement
As a Designer, I would like to have the ability to use more complex types of ProgressBar, so that I can display complex ideas in a consistent way.

## Recommendation
* Additional customer research
  * Customer’s understanding of more complex representations of progress bar in relation to its parent progress bars
  * Ability to discern when and how that particular user’s progre

[2020-01-02 20:18] DanGenuardi commented on #273
![Screen Shot 2020-01-02 at 3 18 24 PM](https://user-images.githubusercontent.com/39997967/71690569-1b41af80-2d73-11ea-9e47-da4af2e05d93.png)

[2020-01-06 19:45] varunj90 commented on #311
hey @erichwelz are satisfied with @theetrain comment above?

[2020-01-06 20:51] varunj90 commented on #273
Dan showcased the designs today, @gkychow will take a look soon!

[2020-01-06 21:03] varunj90 commented on #189
hey @alexgunnarhenderson would you like to contribute this component to tds community?

[2020-01-06 21:14] varunj90 commented on #272
@twirlingsky will need this for home solutions (NSE: new shopping experience)

@lynnepeacock @twirlingsky @DougTelus please collaborate on the sticky footer.

[2020-01-06 21:18] varunj90 commented on #204
hey @stu-brown any updates on the purple bar designs?

[2020-01-06 21:22] varunj90 commented on #268
hey @lynnepeacock whats the latest on this ticket?

[2020-01-06 21:27] varunj90 commented on #259
given tds core has a step tracker, the core team can use this to enhance the existing component.

[2020-01-06 21:42] erichwelz commented on #311
Looks good to me, @varunj90.

[2020-01-07 20:05] Stu-Brown commented on #204
Hey @varunj90 I've got the updated and finalized purple bar synced to the invision now. There are 6 screens total, two for each breakpoint. When the user scrolls down and the purple bar anchors to the top of the users screen the cart icon animates into the purple bar. If they scroll back to the top the icon will disappear, returning the purple bar to the default state.

The first screen for each b

[2020-01-07 23:44] twirlingsky commented on #274
Here is the highlight being used in content on a comparison card to indicate a 2 year term.

<img width="283" alt="Screen Shot 2020-01-07 at 15 43 16" src="https://user-images.githubusercontent.com/22402633/71938495-7a813480-3164-11ea-8669-84ce31135285.png">

[2020-01-08 16:41] varunj90 commented on #311
note to developer: please look at Enrico comment above for AC

[2020-01-10 17:25] stephlao commented on #275
https://telus.invisionapp.com/share/P7V5WMXEQ2D#/399929480_variants_-_Jan_8_2020

Happy new year y'all!

I had a discussion with @gkychow  yesterday about finalizing design ideas and so on.
in the best interest of time, we agreed that we would save the "double edge ribbon" design for another time since we haven't had time to hash out ideas and designs.

so for now, we'd like to push forward with t

[2020-01-10 17:28] stephlao commented on #275
I just remembered i needed to include french edge cases since we had a ribbon with longer french and the ribbon didn't expand but the text went into a double line. i'll post something to consider that issue in a hot sec.

[2020-01-10 17:49] lynnepeacock commented on #274
Thanks @twirlingsky
Can you confirm the spacing that is being used? I think it might be slightly different to what I have

[2020-01-10 17:51] lynnepeacock commented on #268
Hi @varunj90, we last discussed the layout of the price format (which will be included on Christina's ticket). I believe the main container and expand collapse functionality / design is signed off

Christina and I will meet next week to work on this.

Updating from slack conversations

[2020-01-10 19:54] twirlingsky commented on #293
We're working on a contextual state toggle that is similar to this function (inspired by fi.google.com - link above) Early stages, but perhaps it's useful to peek at https://telus.invisionapp.com/share/2GUZ29M5EKY#/394811837_XL_-_1200px_--_Filters_-_V01-0-0_-_05

[2020-01-10 23:02] twirlingsky commented on #274
<img width="558" alt="Screen Shot 2020-01-10 at 15 00 42" src="https://user-images.githubusercontent.com/22402633/72192346-3e471180-33ba-11ea-9451-1f27d4c7b14f.png">

[2020-01-13 21:25] varunj90 commented on #273
@DanGenuardi got feedback from Gary and will do the updates soon!

[2020-01-16 22:03] adriancrook opened #321 "Persistent Social Share tool"
## Problem Statement

- As a site visitor, I would like to easily be able to share the page I'm viewing on my social channels, so that I can tell my friends about TELUS' social purpose programs.

## Recommendation

- These social share toolbars are prevalent throughout the web, but a good place to look for a desktop and mobile implementation would be Daily Hive (this article, for example: https://

[2020-01-20 21:25] varunj90 commented on #321
DPA discussion

[Laurel] Request from HS R&L as well (deals and bundles page): opportunity to explore together
[Apurv] how does it work with personalization?
[Fabio] Stats from any pages live on how people use this (industry-wide and TELUS?)
[Donna] For design exploration: Potentially a FAB (floating action button); can expand to show more options
Unique component (social share) altogether or uniq

[2020-01-21 16:50] adriancrook commented on #321
It's been tough to find objective research on how much social share tools are used.

[This post from 2018](https://blog.getsocial.io/social-sharing-trends/#gs.tvwrwg) states:

- 29% of shares are done via a site's share buttons.
- Facebook is shared to 2x more than twitter.
- Taken together, WhatsApp, FB Messenger, and email shares are greater than Facebook - speaking to importance of including me

[2020-01-22 16:26] theetrain commented on #206
This is now ready for development. The original post was updated:

* ACs, docs, intent, accessibility: https://docs.google.com/document/d/1EanHpck6xfrmphktlnElmkEfbwVSDABmpMIT3YNA124/edit#
* Designs: https://telus.invisionapp.com/share/DNV56L0AQS6

[2020-01-24 15:11] lynnepeacock commented on #274
Good morning @twirlingsky,

Apologies I missed your image response above. Thanks for sharing your example.

I have adjusted my spacing to snap to the edges of the text fields
(When I started highlights I was designing flush to everything!)

**padding: 4px, 8px**
margins: to be determined by the designer.

For example, I have used different margins on the RPC example compared to the card example.

[2020-01-24 21:58] lynnepeacock commented on #274
@twirlingsky could you also let me know if the instance with TV channels is still being explored?

[2020-01-24 22:05] lynnepeacock commented on #274
@Christina-Lo
I have collated my notes into a similar format to our discussion and your reference:
https://docs.google.com/document/d/1rlp_XzQ77UDy5GpHEJakJ9Ks9A7-YFKPBsHLYTCZMv4/edit#
Anyone can make comments and editions 💃

**Design**
I have added in an example from the catalog from Steph Lao (example below)
I have changed the font style to "Regular" at Gary's request

**Next steps**
- Discuss t

[2020-01-24 22:48] twirlingsky commented on #274
@lynnepeacock The highlight term will be used on all plan cards and on PDPs. It won't be on TV cards at all. Hope that answers your question.

[2020-01-24 23:29] affansajid commented on #61
@nicmak I have some notes from QAing the model based on the Acceptance criteria, you can find them here: https://docs.google.com/document/d/1_uAfGEn58GyHQxcaCesSSlhZFlM_s-Duk1iuTYH5vwc/edit?usp=sharing

[2020-01-27 20:40] lynnepeacock commented on #274
@twirlingsky I was referring to this example that you mentioned Sept 20th. Sorry I am not sure how to link to the comment above

![image](https://user-images.githubusercontent.com/41124620/73211941-2c37d380-411b-11ea-9aa7-e25772a5d9be.png)

[2020-01-28 16:37] #47 closed

[2020-01-28 16:37] varunj90 commented on #47
duplicate of https://github.com/telus/tds-community/issues/90

[2020-01-29 20:21] fzero commented on #311
PR issued: https://github.com/telus/tds-community/pull/328

[2020-01-31 16:44] varunj90 commented on #189
tds core team will be taking on the development for this component

[2020-01-31 19:39] theetrain commented on #311
Release in [`@tds/community-toggle-switch@3.0.1](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-toggle-switch%403.0.1)

[2020-01-31 19:39] #311 closed

[2020-01-31 22:02] mike-bunce commented on #54
@varunj90 @theetrain Can we pick this back up again? Would be good to have a TDS standard table we can use in projects (maybe something is in the works?)

[2020-02-03 17:27] lynnepeacock commented on #274
**Update 31st January**
* Lynne met with Gary to finalize designs
* Lynne met with Christina to work on the requirements doc and finalize the sketch file

--

2 types of highlight will exist:
These will be for specific instances, listed in the requirements doc

<img width="326" alt="Screen Shot 2020-02-03 at 12 18 25 PM" src="https://user-images.githubusercontent.com/41124620/73674839-56d7de00-467

[2020-02-03 21:06] varunj90 commented on #54
opportunity for B2B and HS to collaborate
- @DougTelus please provide your latest designs
- TDS core team can get to tables in April/May
- Can be designed in comunity and if timelines match, core team can build

[2020-02-04 18:20] twirlingsky commented on #274
@lynnepeacock Can you send the requirements doc, sketch file and InVision link? I'll set up a dev ticket.

[2020-02-05 19:00] KamalShatila commented on #258
![Show:Hide Link](https://user-images.githubusercontent.com/50418093/73873425-92111300-481f-11ea-9af9-43ddc5f90e31.png)

@Christina-Lo

[2020-02-05 22:53] adriancrook opened #329 "Quiz component for Sitebuilder"
## Problem Statement

- As a website visitor, I want to be able to take an engaging quiz to test my knowledge and learn more about a relevant subject (i.e. our EndBullying program or other social purpose program).

## Recommendation

- A staged quiz Sitebuilder component that supports features such as: an image associated with each question, branching quiz paths, quiz scoring, and a results page.

[2020-02-05 22:57] adriancrook commented on #329
Reference links:
Impact Quiz (Wise, hosted on 3rd party site): http://impact.mediasmarts.ca/en
https://kahoot.com/
https://umn.instructure.com/courses/47278/pages/quizzes-and-exams

[2020-02-06 18:54] Stu-Brown commented on #204
Hey @varunj90 I was incorrect about the discount dropdown being removed at this time so I've updated the invision to reflect that. There are now additional screens showing the dropdown expanded and collapsed in all three breakpoints.

[2020-02-07 21:50] theetrain commented on #206
This update has been released!

* _tds_community DSM Library v1.0.10
* [`@tds/community-progress@2.0.0`](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-progress%402.0.0)
* [Documentation for Progress on tds.telus.com](https://tds.telus.com/community/index.html#progress-bar)

[2020-02-07 21:50] #206 closed

[2020-02-10 18:38] DanGenuardi commented on #273
![Screen Shot 2020-02-10 at 1 37 01 PM](https://user-images.githubusercontent.com/39997967/74178869-548afc00-4c0a-11ea-98da-ddb11bc3789b.png)
Here is an updated version that Gary and I have agreed on for the UI design treatment. We removed the Icon's on the left hand side to represent the type of feature of the plan and replaced it with live text to go overtop the name. This will eliminate the ali

[2020-02-10 21:41] Stu-Brown commented on #204
DPA discussion: next steps for @Stu-Brown
- Build out padding using TDS
- [Gary] opportunity to play around shadowing on purple bar/ tabbing and how it fits with other elements
- [Gary] small view, condense purple slightly
- Opportunity to user test in future
- Fabio can join bigger discussion

**[To-do]** @Stu-Brown to take these updates to CX office hours, and we can then proceed with story writ

[2020-02-12 17:29] donnavitan commented on #258
As per discussions with @DanGenuardi , we've worked together to consolidate the intent, acceptance criteria, and use cases for design in the following [TDS-Community-258: [ExpandCollapseLink]](https://docs.google.com/document/d/1Z7NnDa8VwND0fyN2vxhycl2IQlJxXuEBNjxjaTSRTTk/edit?usp=sharing).

### Next steps
1. Consolidate designs and align (if existing) or provide (if new)
2. Review story writing w

[2020-02-13 19:29] adriancrook commented on #329
Here is a more relevant example, on t.com: https://www.telus.com/en/wise/youth/digital-wellness-quiz

Apparently this makes it easier, code-wise, even though I don't think this quiz is on sitebuilder?

[2020-02-14 23:52] mike-bunce commented on #228
https://github.com/telus/tds-community/pull/331 review in place, a few changes requested.

[2020-02-18 19:16] twirlingsky commented on #61
Home Solutions is working on putting PDP information into a modal. Here is a link to the screens:
XL: https://telus.invisionapp.com/d/main#/console/19265569/405479480/preview
XS: https://telus.invisionapp.com/d/main#/console/19327711/405477181/preview

(Just wanting to have these linked to the ticket for now)

[2020-02-18 23:47] twirlingsky commented on #61
Did we change to Athens Grey for the overlay colour? I thought we decided on Shark Grey. Athens will be hard on low contrast monitors

[2020-02-19 16:13] donnavitan commented on #61
Hello @twirlingsky , Shark Grey was used in previous designs but the design ACs and Invision links should be using the latest specs: https://telus.invisionapp.com/d/main#/projects/prototypes/17778239

We had discussions with @gkychow and @apurvray to use the Athens Gray at 94% opacity to align with the Brand aesthetic. It's not intended to make the modal card container stand out, but rather make t

[2020-02-19 19:58] DanGenuardi commented on #273
![RPC - ADD-ONS (NEW SELECTION)](https://user-images.githubusercontent.com/39997967/74870783-4d5d9f80-5328-11ea-9c34-8a16c94803f6.jpg)
![RPC - ADD-ONS (NONE SELECTED)](https://user-images.githubusercontent.com/39997967/74870793-52baea00-5328-11ea-93bd-36af76012e97.jpg)
![RPC - ADD-ONS](https://user-images.githubusercontent.com/39997967/74870795-53ec1700-5328-11ea-9f10-cac5bf1a259c.jpg)
![RPC - PLA

[2020-02-20 15:52] donnavitan commented on #59
Wanted to add accessible map references:
- https://equalentry.com/accessible-maps-on-the-web/
- https://www.w3.org/WAI/RD/wiki/Accessible_Maps

[2020-02-20 20:02] Christina-Lo commented on #204
**Summary Bar**
Being used throughout My TELUS, Mobility, Home Solutions

- Align on 1 consistent colour for the bar + drawer tab
- All to be situated at the bottom
- Drawer container can have anything within as long as
  - It’s not a complex interaction
  - Re: expand collapse notes
- Need to align + test whether or not the tabs with a description(hide/expand) is enough or do we need the close bu

[2020-02-20 20:03] Christina-Lo commented on #272
This ticket is being amalgamated into the summary bar ticket https://github.com/telus/tds-community/issues/204 and will be all solved there

[2020-02-20 20:03] #272 closed

[2020-02-20 21:13] lynnepeacock commented on #204
@Christina-Lo not sure how to tag myself here!

I can't tag a number of our designers in other tickets too, not sure why!

[2020-02-20 21:26] lynnepeacock commented on #273
Hey @DanGenuardi,

I just saw your update as I'm still tagged on this ticket. The highlight component has been finalized and I can send over the Sketch file for your examples if you would like?

I also have some feedback/questions about the Add-ons screens you have shown above.
What happens when the user presses the minus icon? Does the item disappear right away, or is there a step in between it b

[2020-02-24 21:22] theetrain commented on #273
DPA Notes:

On top of design, when would this appear?
- Editing existing plans
- Creating new plans

How is it used?
- (Dan) It appears sticky on the right-hand side on large viewports
- (Dan) It appears at the bottom of the page in a 'review' area, before the submit CTA

how does assistive technology read a sticky container and the items within?
- It will be encountered at the bottom, right befor

[2020-03-02 17:42] donnavitan commented on #258
For reference:
1. Consolidated use cases for design review: https://telus.invisionapp.com/share/HDW84LPAVWK
2. Working Sketch file: https://invis.io/a/CSB5JGU423WK

Next steps:
1. Review all design uses cases to decide on a path forward:

1. Option 1: ChevronLink style only (Green and purple) with icon
2. Option 2: Link (text) style only (Shark grey with underline) with icon
3. Option 3: Allow for

[2020-03-02 19:08] varunj90 commented on #204
@lynnepeacock and other folks: Please use this document to add yourself into the TELUS Github Org: https://docs.google.com/document/d/1NWqesRnJ4H2MrWxj2hI3k8NIjQYLqkusT0hs4EAu-is/edit

[2020-03-04 22:56] saydex opened #338 "Making Skeleton component A11y Friendly: increase colour contrast and reduced motion"
## Problem statement

As a user relying on accessible technology, I'd like to be able to see higher contrast and reduced motion on the loading screen using skeleton so I can properly interact with the site.

## Recommendation

1. Change the colour to use Raven Grey
[code]

2. Disable animation with media query
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

[code]

[2020-03-05 21:00] edilege commented on #268
Problem statement: Proposed design for cards in configure doesn't work well for prepaid. Prepaid has more plans than postpaid and every plan has either talk & text or talk, text & data. Each value changes in every card and the current design don't have a way to show the details of the plan. Here is the proposed enhancement for the card to be able to use it for prepaid.

<img width="632" alt="Scree

[2020-03-09 20:14] varunj90 commented on #338
Hey @saydex , great recommendations, you can submit a PR!

[2020-03-10 15:17] donnavitan commented on #258
### As per discussion with team
* Will remain as an independent component, within the family of ExpandCollapse
* Could be called "ExpandCollapseMini" or maybe the variant is "Mini", or maybe something else that isn't size descriptive to avoid any confusion with size or responsiveness
* Icon will always appear on the right based on discussions with CX to avoid being confused as a list item with an

[2020-03-16 18:50] theetrain opened #342 "[InputGroup]: improve interaction styles"
## Problem statement

As a customer experiencing InputGroup, I want more brand-aligned focus styles in order to experience the TELUS brand more consistently.

## Recommendation

- Use rounded corners for borders on active and focus states
- Replace use of DecorativeIcon 'spyglass' with the new 'Search' InteractiveIcon

## Design intent

(This space is intentionally left blank. The motivation and d

[2020-03-20 21:19] theetrain commented on #228
[`@tds/community-input-group@1.0.0`](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-input-group%401.0.0) is released!

[2020-03-20 21:20] theetrain commented on #189
[`@tds/community-tags@1.0.0`](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-tags%401.0.0) is released!

[2020-03-23 14:13] #228 closed

[2020-03-23 14:17] #189 closed

[2020-03-25 01:08] stephlao commented on #54
hey y'all, for the table chart, i've ironed out visual details with gary chow. might need to make a few adjustments as we build along but so far we are looking good.

**here is the invision link, please refer to v3 designs:** https://telus.invisionapp.com/share/6DW31JVH4AS

**figma prototype, *old design* but it shows you how we'd like for the chart to interact:**
https://www.figma.com/proto/tl8eE

[2020-03-30 15:56] mburtch opened #347 "[InputGroup] id attribute ignored when label supplied"
## Description
It is expected that when an `id` prop is supplied it would rendered as an HTML id attribute on the input (and htmlFor on the label). However, when both `id` and `label` props are supplied, `id` is ignored and and the id attribute is generated based on `label`.

## Reproduction Steps
-  `<InputGroup label="label" id="id" />`
- Inspect the input, and check the `id` attribute.
- Note t

[2020-03-30 19:48] varunj90 commented on #347
hey @zyl-edison-telus, can you triage this issue please. thanks!

[2020-04-09 14:54] stephlao commented on #54
@Christina-Lo  i've spoken to oskar about the chart, his initial concern with horizontal scrolling was he believes that users would have a difficult time navigating around this, but from user testing, 5/5 users were able to scroll through the chart without any issue.

the only thing i need to do next is to test the horizontal scrolling in desktop mode.

[2020-04-13 18:40] theetrain commented on #347
This is now fixed in [@tds/community-input-group@1.0.1](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-input-group%401.0.1). Thank you for your contributions!

[2020-04-13 18:40] #347 closed

[2020-04-14 19:31] theetrain commented on #61
`@tds/community-modal@1.0.0` has been released.
It is also available in TDS_Community DSM v1.0.13

Thank you for your contributions!

[2020-04-14 19:31] #61 closed

[2020-05-06 20:04] Christina-Lo opened #355 "Pagination: DSM symbol broken"
## Description

The DSM component for pagination is broken; the appropriate text styles aren't applied and the Chevron icon is the wrong colour

## Reproduction Steps
Open TDS-Community DSM library, drag and drop the Pagination component onto your Sketch artboard

## Workaround details

## Recommendation

- Your recommendation here

Apply/create the appropriate text styles and icons for the chevro

[2020-05-07 17:09] KamalShatila opened #356 "Step tracker is broken"
## Description

The DSM component for the step tracker is broken; the divider and the spacing between the steps are not the same. for desktop XL the workaround is to detach all symbols and redo the step tracker from scratch, for mobile XS its looks good when its detached from main symbol.

## Reproduction Steps

Open TDS-Community DSM library, drag and drop the step tracker component onto your Ske

[2020-06-08 20:22] Christina-Lo commented on #35
Made an update to the ticket with the latest story (in google doc) and design files

[2020-06-11 14:40] theetrain opened #361 "New: Quiet Button"
See #360

This is our first private component contribution by My TELUS.

[2020-06-12 18:28] theetrain commented on #361
This has been released! Quiet Button v0.1.0. Thank you to our contributors!

[code]

[2020-06-12 18:28] #361 closed

[2020-06-12 18:32] theetrain opened #362 "QuietButton follow-ups"
Caused by #361

In an effort to get `@tds/community-quiet-button` into a stable state, also known as v1, let's address the following:

React component changes needed:

- change px units to rem units
- Recommend Box instead of hard-coded padding
- use core-colours instead of hard-coded colours
- Consider not using cursor: pointer, though that requires a holistic effort across all buttons
- Can leve

[2020-07-13 21:13] theetrain opened #368 "New: WaffleGrid"
New beta component as contributed in #366.

[2020-07-13 23:15] theetrain commented on #368
[`@tds/community-waffle-grid@0.1.0`](https://github.com/telus/tds-community/releases/tag/%40tds%2Fcommunity-waffle-grid%400.1.0) is now published!

Docs: https://tds.telus.com/community/index.html#wafflegrid

[2020-07-13 23:15] #368 closed

[2020-07-30 20:56] theetrain opened #373 "New component: Toast"
See #369 for the coded contribution.

[2020-07-30 23:42] theetrain opened #374 "Toast: improvements, path to v1"
This issue covers the Community Toast component. See #373. The following needs to be handled before it can be considered a 'v1' component.

Design considerations:
1. Are the colour combinations (ChevronLink on purple background) on brand?
2. What other usage criteria can be written? i.e. do not place next to other notifications

Code considerations (from #369)
- [ ] Remove any CSS containing `font

[2020-07-31 02:03] theetrain commented on #373
Now available: https://tds.telus.com/community/index.html#toast

[2020-07-31 02:03] #373 closed

[2020-08-19 21:12] martinplourde1 opened #383 "DatePicker date format"

[2020-08-19 21:14] #383 closed

[2020-08-19 21:14] martinplourde1 commented on #383
Open in the wrong way

[2020-09-14 15:50] DougTelus opened #398 "sticky side-scrolling sub-nav component"
## Problem Statement

- As a customer , when browsing telus.com on a mobile phone I would like to see all of the page section options available to me at all times , so that I can quickly navigate to the section most appropriate to me rather than scrolling.

## Recommendation

- Based on todays [mobile sub nav component](https://github.com/telus/tds-community/issues/31) there are 2 functional featu

[2020-10-08 21:24] vkyt opened #403 "Modal heading text overlap with close button in mobile view"
## Description

Description of the defect

The modal component heading could overlap with the close button in certain scenario - refer to the attached image.

## Reproduction Steps

Use the TDS sample code as an example:
[code]

Generate the modal in responsive view.

## Recommendation
Increase top padding?

## Meta

- TDS version (npm or DSM): "@tds/community-modal": "^1.1.1"
- Willing to develop

[2020-10-21 15:30] Christina-Lo opened #406 "Mini expand collapse: improvements, path to v1"
## Problem statement

This issue covers the Community mini expand component. See #391 . The following needs to be handled before it can be considered a 'v1' component.

## Recommendation
Design considerations:

- [ ] TDS core caret icon to be re-designed to consider for text resize and inverse while on high contrast

Code considerations:

- [ ]  ♿  add alternative text to the arrows: Implementatio

[2020-11-03 18:34] elissa-matsushita opened #411 "Update Callout Paragraph"
## Problem statement

- We would like to update the `CalloutParagraph` component to support rounded corners

## Recommendation

- Introduce new prop: `roundedCorners` to `CalloutParagraph`

## Designs
<img width="294" alt="Screen Shot 2020-11-03 at 10 29 22 AM" src="https://user-images.githubusercontent.com/66031253/98026080-72fbdd80-1dbf-11eb-919c-f718984eecef.png">

## Acceptance criteria

This

[2020-12-10 19:07] viktorbilyk opened #425 "Update Skeleton Provider to support rounded corners on Image skeleton"
## Problem statement

- We would like to update `SkeletonProvider` to include support for rounded corners on `<Image />` skeleton. Existing version only provides circular skeleton for the images
## Recommendation

- To introduce automatic switching between `<Image />` skeleton styles by making skeleton aware of `rounded` prop values

## Design intent

As a user I want to be informed when content o

[2020-12-11 18:09] #411 closed

[2020-12-15 15:33] #425 closed

[2021-01-12 22:19] manjitsingh88 opened #432 "Modal bottom cta wrong padding top"
## Description

The top padding on the proceed and cancel cta should be 2rem while it is 3rem. Please see attached design document shared by UX team.

https://telus.invisionapp.com/share/49SSSDFQMXN#/387940944_Dialog_Modal_Box_Specifications

## Reproduction Steps

  * Click on open modal
  * Observe the padding between bottom cta and body text.
  * open inspect element tool
  * padding is 48px wh

[2021-01-21 15:04] #188 closed

[2021-01-25 23:26] kittybourne commented on #283
updated link to sketch file https://www.sketch.com/s/0a44c93f-08e2-4ece-bc3c-1967e9163afd

[2021-02-05 00:52] mike-bunce opened #439 "New OptimizeImage component"
## Problem Statement

- As a developer , I would like to have an OptimizeImage component , so that I can have a TDS image component that handles optimizing images - both making sure that the image sizes that are rendered are appropriate to the screen size, and that the optimized image format (currently webp) is used.

## Recommendation

- it should take the basic structure of the current Responsiv

[2021-02-25 19:40] elissa-matsushita opened #451 "Add icon support to Callout Paragraph"
## Problem statement

- As a developer, I would like to add icon support to callout paragraph, so that I can reuse this component for upcoming designs.

## Recommendation

- Add optional icon to callout paragraph

## Designs

<img width="404" alt="Screen Shot 2021-02-25 at 11 39 49 AM" src="https://user-images.githubusercontent.com/66031253/109207610-2cf7ca80-775e-11eb-8d0a-a748dc4d321e.png">

##

[2021-03-22 19:47] donnavitan opened #471 "Enhance (community-input-group): change input group min-width"
## Description
- InputGroup min-width is previously set to 200px to ensure search button appears in mobile devices (see [#470](https://github.com/telus/tds-community/pull/470))

## Recommendation
- However, it is recommend to set minimum width to be 100% width of the parent container when in mobile or less than the value of 4 columns in XL breakpoint

## Meta
- TDS version (npm or DSM): vX.Y.Z
- W

[2021-05-10 17:53] Andrew-K-Lam opened #488 "Featured Stories component request"
## Problem Statement

- As a user , I would like to see a clear list of blogs or articles, displayed with the appropriate images, titles, and CTAs , so that I can better navigate the site or easily go to new updates

## Recommendation

Build a block similar to this one:
![image](https://user-images.githubusercontent.com/931411/117702818-04953f00-b197-11eb-8fd1-bed32a1a21b2.png)

## Design intent

[2021-05-31 20:07] archit-mahto opened #495 "Cannot listen to onClick events for MiniExpandCollapse component"
## Problem statement

- As a developer, I would like to listen to the onClick events for the MiniExpandCollapse component, so that I can add analytics tracking for this event

## Recommendation

- Description of the proposed solution
I would like to add a prop that contains an array of functions to be executed in the `onToggle` event of the `MiniExpandCollapse` component

## Meta

- Include compon

[2021-06-07 16:24] #495 closed

[2021-06-11 04:45] grossedouceur opened #502 "DatePicker.isDayDisabled as no effect"
## Description

The `isDayDisabled` property of `DatePicker` has no effect.

## Reproduction Steps

Use the following code
[code]

The expected result is a date picker that allow the user to pick any date but the observed result is a date picker that does not allow past date to be chosen.

## Workaround details

No known workaround.

## Recommendation

No recommendation.

## Meta

- TDS version (n

[2021-06-18 17:45] stephlao opened #508 "Image attribution component"
## Problem Statement

As a designer I would like the ability to showcase small owners on t.com and credit them when we use their images on our web pages.

additional context:
business marketing has legal responsibility to credit the small business owners in social ads and in our digital space when their photos are being used for campaigns.
 Social ads used across the web are images only, meaning t

[2021-08-05 20:37] #502 closed

[2021-08-24 12:43] ayaka-kms opened #526 "a vulnerability CVE-2020-15168 is introduced in @tds/community-skeleton-provider"
Hi, a vulnerability CVE-2020-15168 is introduced in @tds/community-skeleton-provider via:
●  @tds/community-skeleton-provider@2.2.0 ➔ recompose@0.30.0 ➔ fbjs@0.8.17 ➔ isomorphic-fetch@2.2.1 ➔ node-fetch@1.7.3

**_recompose_** is a legacy package. It has not been maintained for about 3 years, and is not likely to be updated.
Is it possible to migrate recompose to other package to remediate this vul

[2021-08-30 08:43] renovate[bot] opened #527 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Other Branches

These updates are pending. To force PRs open, click the checkbox below.

 - [ ] chore(deps): update dependency jpeg-js to 0.4.0 [security]
 - [ ] chore(deps): update dependency trim to 0.0.3 [security]
 - [ ] chore(deps): update dependency

[2021-10-26 14:13] attilio-telus opened #549 "New Telus Contractor"
Hi, Wondering if anyone knows how one's Github account is added to the private repos at Telus.  I set up my account (using now) but do not get that third email.  (And, sorry, I am aware this message should not be in this forum.)  Many thanks, Til

[2021-10-26 15:10] #549 closed, assigned to nobody

[2021-11-04 14:17] haytherecharlie opened #552 "Mini Expand Collapse only works on node > 14.0.0"
## Description

Description of the defect

When importing expand mini collapse the Object(...) creates a bundle issue.

## Reproduction Steps

using node 12, install mini exapnd collapse component and import into project.

## Workaround details

use node >14

## Recommendation

polyfill the community component

[2022-02-25 10:16] billtelus commented on #432
This issue has been resolved and will now be closed.

[2022-02-25 11:10] billtelus commented on #355
Find the right documentation for this component here  https://designsystem.telus.com/community/index.html#pagination.
This issue is no more relevant.

[2022-02-25 11:10] #355 closed

[2022-06-23 13:31] billtelus opened #600 "Difficult to re-open the DatePicker Overlay"
## Description
This [issue](https://github.com/telus/tds-core/issues/1820#issue-1249891721) was created in tds-core repo, whereas it was supposed to be created in tds-community since tds-core does not have this feature.

I am reporting this issue based on the observed customer difficulty in this [Decibel session](https://portal.decibel.com/Player?id=ade4a116535ca2de7ef5fb6ba719bb0a&propertyId=2094

[2022-07-04 14:56] #600 closed

[2022-11-22 14:41] mujtabahasni opened #614 "Critical Vulnerability in community-skeleton-provider - recompose"
## Description

The community-skeleton-provider component has an indirect dependency on a high vulnerable `node-fetch` package.  This results from its direct dependency on `recompose`, which is no longer supported and should be replaced.

## Reproduction Steps

`npm audit`

## Workaround details

None

## Recommendation

- Re-implement parts that use `recompose` with React hooks, and remove the de